

/------------------------------------------------------------------------------
.row{:style => "margin-bottom: 20px;"}
  .col-md-10
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = @team.descriptive_name

.row{:style => "margin-bottom: 20px;"}
  .col-md-5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_points
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .col-md-4{:style => "text-align: right;"}
    - if @total_reports == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

%div{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_posts_path(:team_id => @team.id), "usernames" => User.pluck(:username), "hashtags" => Hashtag.official_hashtags, "neighborhood_id" => @neighborhood.id}
  - if @current_user && @users.include?(@current_user)
    .row
      .col-md-9
        .new-post
          %p.form-label{"style" => "margin-bottom: 20px;"}
            Comparta sus ideas
          %form#new_post.new_post.ng-pristine.ng-valid{"accept-charset" => "UTF-8", "ng-submit" => "createPost(post)", :enctype => "multipart/form-data", :method => "post"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "/ZyCG6FuVXwh6xxgBP0KacLLPCwHZ9Oxwlvcv/2mEx8="}/

            %textarea#post_content.form-control{:cols => "40", :name => "post[content]", "ng-model" => "post.content", :placeholder => "Para mencionar una persona, anteponer el nombre de usuario con @", :rows => "4", :required => true}
            %input#post_photo.upload_photo{:name => "post[photo]", :type => "file", "file-upload" => true}/


            .row{"style" => "margin-top: 25px;"}
              .col-sm-9
                %i.text-left.fa.fa-camera.add-photo{"ng-click" => "triggerFileInput()"}
              .col-sm-3
                .text-right
                  %button.btn.btn-success.btn-lg.submit-button{:type => "submit", "ng-class" => "{disabled: submitButtonDisabled}" }
                    %i.fa.fa-refresh.fa-spin
                    Chat

            .row
              .pull-left
                %img.preview/
              %canvas
              %input#post_compressed_photo.compressed_photo{:name => "post[compressed_photo]", :type => "hidden"}/


  .row
    .col-md-9
      = render :partial => "shared/filter_posts"
      = render :partial => "shared/feed"



/------------------------------------------------------------------------------
