

/------------------------------------------------------------------------------
.row{:style => "margin-bottom: 20px;"}
  .col-md-10
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = @team.descriptive_name

.row{:style => "margin-bottom: 20px;"}
  .col-md-5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_points
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .col-md-4{:style => "text-align: right;"}
    - if @total_reports == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

%div{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_team_posts_path(@team), "usernames" => User.pluck(:username), "neighborhood_id" => @neighborhood.id}
  - if @current_user && @users.include?(@current_user)
    .row
      .col-md-9
        %new-post-custom

  .row
    .col-md-9
      #newsfeed
        %h1.text-center{"ng-show" => "errorMessage"}
          Algo salió mal. Por favor, intente nuevamente.

        %h1.text-center{"ng-show" => "dataLoading"}
          %i.fa.fa-refresh.fa-spin
        .feed-item-complete
          %div{"post" => "post", "ng-repeat" => "post in posts"}
            = render :partial => "posts/post"

          .load-more{"ng-hide" => "noMoreData"}
            .btn.btn-info.btn-lg{"ng-click" => "loadMoreMessages()"}
              %i.fa.fa-refresh{"ng-class" => "{'fa-spin': dataLoading}"}
              Cargar más



/------------------------------------------------------------------------------
