

/------------------------------------------------------------------------------
.row{:style => "margin-bottom: 20px;"}
  .col-md-10
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = @team.descriptive_name

.row{:style => "margin-bottom: 20px;"}
  .col-md-5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_points
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .col-md-4{:style => "text-align: right;"}
    - if @total_reports == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

%div{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_posts_path(:team_id => @team.id), "usernames" => User.pluck(:username), "hashtags" => Hashtag.official_hashtags, "neighborhood_id" => @neighborhood.id}
  - if @current_user && @users.include?(@current_user)
    .row
      .col-md-9
        %new-post-custom

  .row
    .col-md-9
      = render :partial => "shared/filter_posts"
      = render :partial => "shared/feed"



/------------------------------------------------------------------------------
