
%div{:style => "margin-left: 30px; margin-right: 30px;"}
  .sidebar-entity-photo
    - if @team.profile_photo_file_name.nil?
      = image_tag("teams/default.png", :class => "img-rounded")
    - else
      = image_tag(@team.profile_photo.url(:medium), :class => "img-rounded")

    .sidebar-entity-name
      = @team.descriptive_name

  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.participants").capitalize
  .row{:style => "margin-top: 20px; height: 280px;"}
    .span4
      = render :partial => "shared/sidebar_list", :locals => {:items => @team.users}
