= render :partial => "shared/flashes"

.row
  .span10.offset4
    - @teams.each do |team|
      .row{:style => "height: 100px;"}
        .span2
          = link_to team_path(team) do
            - if team.profile_photo_file_name.nil?
              = image_tag("teams/default.png", :class => "img-rounded", :style => "height: 100px; width: 100px;")
            - else
              = image_tag(team.profile_photo.url(:small), :class => "img-rounded", :style => "height: 100px; width: 100px;")

        .span6
          .row
            .span4
              %h1
                = link_to team.name, team_path(team)
          -# .row
          -#   .span2{:style => "display: table; height: 75px;"}
          -#     %span{:style => "display: table-cell; vertical-align: bottom;"}
          -#       %span{:style => " font-size: 30px;"}
          -#         = team.users.count
          -#       = I18n.t("activerecord.models.user", :count => 2)
        .span2
          %div{:style => "display: table; height: 100px;"}
            %div{:style => "display: table-cell; vertical-align: middle;"}
              - if team.team_memberships.map(&:user_id).include?(@current_user.id)
                = link_to nil, :class => "btn btn-success btn-large disabled", :style => "width: 100px;" do
                  %i{:class => "fa fa-check"}
              - else
                = form_tag join_team_path(team), :method => "POST" do
                  = submit_tag "+ " + I18n.t("common_terms.join"), :class => "btn btn-info btn-large", :style => "float: right; width: 100px;"

      %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}
