<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @manual_instruction.title %>
</p>

<p>
  <b>Description:</b>
  <%= @manual_instruction.description %>
</p>

<p>
  <b>User:</b>
  <%= @manual_instruction.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @manual_instruction.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @manual_instruction.updated_at %>
</p>


<%= link_to 'Edit', edit_manual_instruction_path(@manual_instruction) %> |
<%= link_to 'Back', manual_instructions_path %>
