= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

.col-md-offset-5.col-md-8.well
  %h1{:style => "text-align: center; margin-bottom: 20px;"}
    = I18n.t("views.users.edit.password")

  = form_for @user, :url => password_reset_path(params[:id]), :html => { :class => "form-horizontal" } do |f|

    .control-group
      = f.label :password, :class => "control-label", :style => "font-size: 12px;" do
        = I18n.t("views.password_resets.edit.password")
      .controls
        = f.password_field :password

    .control-group
      = f.label :password_confirmation, :class => "control-label", :style => "font-size: 12px;"
      .controls
        = f.password_field :password_confirmation

    .control-group
      .controls
        = render :partial => "shared/submit_button"
