= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

.row
  .col-md-4.col-md-offset-4.well
    %h1{:style => "text-align: center; margin-bottom: 20px;"}
      = I18n.t("views.users.edit.password")

    = form_for @user, :url => password_reset_path(params[:id]), :html => { :class => "form-horizontal" } do |f|

      .form-group
        = f.label :password, :class => "control-label col-md-4" do
          = I18n.t("views.password_resets.edit.password")
        .col-md-4
          = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, :class => "control-label col-md-4"
        .col-md-4
          = f.password_field :password_confirmation, :class => "form-control"

      .form-group
        .col-md-4.col-md-offset-4
          = button_tag :type => "submit", :class => "btn btn-success btn-large submit-button form-control" do
            %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
            = I18n.t("views.buttons.submit")
