= render :partial => "shared/flashes"
  
.offset5.span8.well
  %h1{:style => "text-align: center;"}
    = I18n.t("views.password_resets.new.title")

  = form_tag password_resets_path, :method => :post, :class => "form-horizontal" do
    .control-group
      = label_tag :email, :class => "control-label", :style => "font-size: 12px;" do
        = I18n.t("activerecord.attributes.user.email")
      .controls
        = text_field_tag :email

    .control-group
      .controls
        = render :partial => "shared/submit_button"
