= render :partial => "shared/flashes"

.row
  .col-md-8.col-md-offset-1
    %h1{:style => "font-size: 30px;"}
      = I18n.t("views.admin.edit_report")

.row{:style => "margin-top: 20px;"}
  .col-md-16.col-md-offset-1
    %table.table.table-bordered
      - @types.each do |type|
        %tr.info
          %td{:style => "font-weight: bold;"}
            = type.description
          %td


        - type.elimination_methods.order("created_at ASC").each do |method|
          %tr
            %td{style: "padding-left:40px;"}
              = method.description
            %td
              = method.points
