.user_activity_item
  .row
    .span1.feed-item-profile-photo
      = link_to notice_path(notice) do
        - if notice.photo_file_name.nil?
          = image_tag("default_images/user_default_alt.png")
        - else
          = image_tag(notice.photo.url(:small))

    .span7
      .row.feed-item-bar
        .span7
          %b
            = notice.institution_name.present? ? notice.institution_name : I18n.t("activerecord.models.notice")
          .feed-item-timestamp
            %i.fa.fa-clock-o
            = format_timestamp(notice.created_at)

      .row
        .span7
          - if notice.title.present?
            = notice.title

          - if notice.summary.present?
            %div{:style => "margin-top: 5px;"}
              %i.fa.fa-info-circle
              = notice.summary

          - if notice.location.present?
            %div{:style => "margin-top: 5px;"}
              %i.fa.fa-bank
              = notice.location

          %div{:style => "margin-top: 5px;"}
            %i.fa.fa-calendar
            = notice.date.strftime("%H:%M, %d/%m/%Y")
