/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row
  .span8.offset1
    %h1{:style => "font-size: 30px; margin-bottom: 30px;"}
      Uploaded CSV reports
  .span6.pull-right
    %p{:style => "margin-top: 10px;"}
      %i.fa.fa-lock
      This is a private site. It can only be seen by you.

.row{:style => "margin-top: 20px;"}
  .span16.offset1
    - if @csv_reports.blank?
      = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-success btn-large" do
        %i.fa.fa-file
        = I18n.t("views.buttons.upload_csv")
    - else
      %table.table.table-bordered
        %thead
          %th
            Lugar
          %th
            Fecha
          %th
            Número de criaderos marcados
          %th
            Descargar
        - @csv_reports.each do |type|
          %tr
            %td{:style => "font-weight: bold;"}
              - if type.reports.present?
                = type.reports.first.location ? type.reports.first.location.address : ""
              - else
                N/A
            %td
              = type.created_at.strftime("%Y-%m-%d")
            %td
              = type.reports.count
            %td
              = link_to type.csv_file_name, type.csv.url
