/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row{:style => "margin-bottom: 30px;"}
  .span7.offset1
    %p{:style => "margin-top: 10px;"}
      %i.fa.fa-lock
      Este es un sitio privado, sólo usted lo puede ver.


.row
  .span8.offset1
    %h1{:style => "font-size: 30px; margin-bottom: 30px;"}
      Reportes cargados en CSV
  .span5.pull-right
    = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-success btn-large", :style => "margin-bottom:20px;" do
      %i.fa.fa-file
      = I18n.t("views.buttons.upload_csv")

- if @csv_reports.present?
  .row
    .span16.offset1
      = render :partial => "shared/visit_statistics"





  .row{:style => "margin-top: 20px;"}
    .span16.offset1
      %table.table.table-bordered
        %thead
          %th
            Lugar
          %th
            Fecha
          %th
            Descargar
        - @csv_reports.each do |type|
          %tr
            %td{:style => "font-weight: bold;"}
              = type.location.address
            %td
              = type.created_at.strftime("%Y-%m-%d")
            %td
              = link_to type.csv_file_name, type.csv.url
