
%script{:src => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}", :type => "text/javascript"}

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------
.row{:style => "margin-bottom: 30px;"}
  .col-md-7.col-md-offset-1
    %p{:style => "margin-top: 10px;"}
      %i.fa.fa-lock
      Este es un sitio privado, sólo usted lo puede ver.

.row
  .col-md-8.col-md-offset-1
    %h1{:style => "font-size: 30px; margin-bottom: 30px;"}
      Sus reportes cargados en CSV
  .col-md-2
    = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-success btn-large", :style => "margin-bottom:20px;" do
      %i.fa.fa-file
      = I18n.t("views.buttons.upload_csv")



.row{:style => "margin-top: 20px;"}
  .col-md-6.col-md-offset-3
    = render :partial => "shared/locations_graph"

.row
  .col-md-6.col-md-offset-3
    = render :partial => "shared/locations_filters"





  .row{:style => "margin-top: 40px;"}
    .col-md-10.col-md-offset-1
      %table.table.table-bordered.table-hover{:style => "text-align: center;"}
        %thead
          %th
            Lugar
          %th
            Fecha de cargue
          %th
            Descargar
          %th
            Criaderos
          %th
            Protegido
          %th
            Abatizado
          %th
            Larvas
          %th
            Pupas

        - @csv_reports.each do |csv|
          %tr
            %td{:style => "font-weight: bold;", :rowspan => [csv.reports.count + 1, 1].max }
              = csv.location.address
            %td{:style => "font-weight: bold;", :rowspan => [csv.reports.count + 1, 1].max }
              = format_timestamp(csv.created_at)

            %td{:style => "font-weight: bold;", :rowspan => [csv.reports.count + 1, 1].max }
              = link_to csv.csv_file_name, csv.csv.url

            - csv.reports.order("created_at ASC").each do |r|
              %tr
                %td
                  = r.breeding_site.present? ? r.breeding_site.description : "N/A"
                %td
                  = display_as_icon(r.protected)
                %td
                  = display_as_icon(r.chemically_treated)
                %td
                  = display_as_icon(r.larvae)
                %td
                  = display_as_icon(r.pupae)
