-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first


/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.container

  .row
    .col-md-8.col-xs-8
      %h1.light-font
        = I18n.t("views.buttons.upload_csv")

    .col-md-4.col-xs-4
      .pull-right

  .row.page-header-description
    .col-md-12
      %p.description
        Nota: use el mismo CSV para múltiples visitas.
        Cada renglón en el archivo CSV debe corresponder a un criadero en el lugar
        especificado. Si el sitio es eliminado, use la misma fila para actualizar
        el registro con la fecha de eliminación y un comentario.
        ¿Necesita usted una forma como modelo a seguir?
        = link_to "Haga clic aquí para bajar una forma CSV", "/assets/forma_csv.xlsx", :style => "font-weight: bold; color: #3a9bdc;"


  .well
    = form_for [@neighborhood, @csv_report], :url => api_v0_csv_reports_path, :html => {:method => "POST", :multipart => true} do |f|

      .row
        .col-md-6.col-xs-12{"style" => "height: 475px;"}
          #upload_csv{:style => "display: block;"}

            #new_report
              = hidden_field_tag "report_location_attributes_latitude"
              = hidden_field_tag "report_location_attributes_longitude"

          .form-group
            %p.form-label
              Haga click y mueva el marcador donde encontró el foco
            #map_div{:style => "position: static;"}
              = render :partial => "reports/google_map"

        .col-md-6.col-xs-12.ruled-left{"style" => "height: 475px;"}

          %p.form-label
            Cargue un CSV
          = f.file_field :csv, :class => "form-control"

          %hr.muted
          .row
            .col-md-6
              %p.form-label
                = I18n.t("attributes.location_id")
              = text_field_tag "location[address]", @csv_report.location, :class => "form-control"
            .col-md-6
              %p.form-label
                = I18n.t("attributes.neighborhood_id")
              = select_tag(:neighborhood_id, options_for_select(Neighborhood.all.map {|n| [n.name, n.id]}, :selected => @neighborhood.id), :include_blank => false, :class => "form-control" )

          .form-group
            = button_tag :type => "submit", :class => "btn btn-success btn-lg submit-button", :style => "width: 100%;" do
              %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
              = I18n.t("views.buttons.upload")

          .form-group.form-errors
            %p




- content_for :scripts do
  = javascript_include_tag "google-maps"
  = javascript_include_tag "csv-ajax"

  :javascript
    window.denguechat.responseCallback = function(response) {
      window.alert("Éxito!");
      window.location.href = response.redirect_path;
    }
