-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first


/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row
  .span12.offset3
    %h1{:style => "font-size: 30px; margin-bottom: 30px; text-align: center;"}
      Cree reportes a partir de archivos CSV

.row
  .span10.offset4

    %p{:style => "font-size: 16px;margin-bottom: 20px;"}
      Nota: use el mismo CSV para múltiples visitas.
      Cada renglón en el archivo CSV debe corresponder a un criadero en el lugar
      especificado. Si el sitio es eliminado, use la misma fila para actualizar
      el registro con la fecha de eliminación y un comentario.
      %br
      %br
      ¿Necesita usted una forma como modelo a seguir?
      = link_to "Haga clic aquí para bajar una", "/assets/forma_csv.xlsx"


    #upload_csv{:style => "display: block;"}
      -# = form_tag upload_csv_neighborhood_reports_path(@neighborhood), :multipart => true do
      -#   = file_field_tag :csv_file
      -#   %button.btn.btn-success.btn-large.submit-button{:style => "width: 210px;", :type => "submit"}
      -#     %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
      -#     = I18n.t("views.buttons.submit")
      = form_for [@neighborhood, @csv_report], :multipart => true do |f|
        #new_report
          = hidden_field_tag "report_location_attributes_latitude"
          = hidden_field_tag "report_location_attributes_longitude"

        %p{:style => "font-size: 16px; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"}
          1. Haga click y mueva el marcador donde encontró el foco
        #map_div{:style => "position: static;"}
          = render :partial => "reports/google_map"

        %p{:style => "font-size: 16px; margin-top: 30px; margin-bottom: 20px; font-weight: bold;"}
          2. Cargue un CSV

        = f.file_field :csv, :style => "width: 100%; height: 50px;"

        %button.btn.btn-success.btn-large.submit-button{:style => "width: 100%; display: block;", :type => "submit"}
          %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
          = I18n.t("views.buttons.upload")


- content_for :scripts do
  = javascript_include_tag "map"
  = javascript_include_tag "googlemap/map-csv"
