

.container{"ng-controller" => "csvVerifyCtrl", "csv" => @csv.to_json(:include => {:location => {:only => [:address, :neighborhood_id]}, :reports => {:only => [:id, :protected, :larvae, :pupae, :chemically_treated, :breeding_site_id, :neighborhood_id, :report, :created_at]} } )}
  .row
    .col-md-8.col-xs-8
      %h1.light-font
        = @csv.csv_file_name
    .col-md-4.col-xs-4
      .pull-right
        - if @csv.verified_at.blank?
          = link_to I18n.t("views.csv_reports.verify"), "#", :class => "btn btn-lg btn-warning", "ng-click" => "verifyCsv()"
        - else
          = I18n.t("views.csv_reports.verified_time_ago", :time => time_ago_in_words(@csv.verified_at))
        = link_to I18n.t("views.csv_reports.delete"), api_v0_csv_report_path(@csv), :method => "DELETE", "remote-link" => true, :reload => true, :class => "btn btn-danger btn-lg", :prompt => I18n.t("common_terms.are_you_sure")


  .row{:style => "margin-top: 20px;"}
    .col-md-12
      .panel.panel-default
        .panel-heading
          %p.black-font.larger-font
            = I18n.t("attributes.address")
        .panel-body
          = form_for @csv.location, :url => api_v0_location_path(@csv.location), :html => {:method => "PUT", "remote-submit" => true} do |f|
            .form-inline
              .form-group
                %p.form-label{:style => "display: inline;"}
                  = I18n.t("attributes.location_id")
                = f.text_field :address, :class => "form-control"

                %p.form-label{:style => "display: inline; margin-left: 40px;"}
                  = I18n.t("attributes.neighborhood_id")
                = f.select :neighborhood_id, options_for_select(Neighborhood.order("name ASC").map {|bs| [bs.name, bs.id.to_s]}, :selected => @csv.location.neighborhood_id), {}, :class => "form-control"

                = submit_tag I18n.t("views.buttons.save"), "class" => "btn btn-success"



  .row{:style => "margin-top: 20px;"}
    .col-md-12
      .panel.panel-default
        .panel-heading
          %p.black-font.larger-font
            = I18n.t("activerecord.models.user", :count => 1)
        .panel-body
          = form_tag api_v0_csv_report_path(@csv), :method => "PUT", "remote-submit" => true do
            .form-inline
              .form-group
                = form_for @csv, :url => api_v0_csv_report_path(@csv), :html => {:method => "PUT", "remote-submit" => true, :class => "form-inline"} do |f|
                  = f.select :user_id, options_for_select(@users.map {|u| [u.username, u.id]}, :selected => @csv.user_id), {}, :class => "form-control"
                  = f.submit I18n.t("views.buttons.save"), :class => "btn btn-success"




  .row
    .col-md-12
      - @csv.visits.order("visited_at ASC").each do |visit|
        .panel.panel-default
          .panel-heading
            .row
              .col-md-8
                %span{"ng-hide" => "editVisit#{visit.id} == true"}
                  = visit.visited_at.strftime("%Y-%m-%d")
                  %a.btn.btn-xs.btn-default{"ng-click" => "editVisit#{visit.id} = true"}
                    = I18n.t("common_terms.edit")
                = form_for visit, :url => api_v0_visit_path(visit), :html => {:method => "PUT", "remote-submit" => true, :style => "margin-bottom: 0px;", "ng-show" => "editVisit#{visit.id} == true"} do |f|
                  .form-inline
                    = f.date_select :visited_at, {}, :class => "form-control input-sm"
                    = f.submit I18n.t("views.buttons.save"), :class => "btn btn-success btn-sm"
                    %a.btn.btn-sm.btn-default{"ng-click" => "editVisit#{visit.id} = false"}
                      = I18n.t("common_terms.cancel")
              .col-md-4
                .pull-right
                  %p.lato-font.larger-font
                    - if visit.inspection_types[Inspection::Types::POSITIVE]
                      %span.text-red{:style => "font-weight: bold;"}
                        = Inspection.humanized_inspection_types[Inspection::Types::POSITIVE]
                    - if visit.inspection_types[Inspection::Types::POTENTIAL]
                      %span.text-yellow{:style => "font-weight: bold;"}
                        = Inspection.humanized_inspection_types[Inspection::Types::POTENTIAL]
                    - if visit.inspection_types[Inspection::Types::NEGATIVE]
                      %span.text-green{:style => "font-weight: bold;"}
                        = Inspection.humanized_inspection_types[Inspection::Types::NEGATIVE]

          %table.table.table-bordered.table-hover.text-center.statistics-table
            %thead
              %th.text-center
                = I18n.t("attributes.breeding_site_id")
              %th.text-center
                = I18n.t("views.csv_reports.inspection_index")
              %th.text-center
                = I18n.t("activerecord.models.report", :count => 1)
            %tbody
              - @visits_hash[visit.id].each do |visit_hash|
                %tr
                  - report = visit_hash[:report]
                  - inspections = visit_hash[:inspections]
                  - initial_inspection = inspections[0]
                  - elimination_inspection = inspections[1]

                  %td{:style => "width: 30%;"}
                    = report.breeding_site && report.breeding_site.description
                    - if report.field_identifier?
                      = report.field_identifier
                  %td{:style => "width: 30%;"}
                    = form_for initial_inspection, :url => api_v0_inspection_path(initial_inspection), :html => {:method => "PUT", "remote-submit" => true, :class => "form-inline"} do |f|
                      = f.select :identification_type, Inspection.humanized_inspection_types.collect{ |ins_type| [ins_type[1], ins_type[0]]}, {:selected => initial_inspection.identification_type}, :class => "form-control input-sm"
                      = f.submit I18n.t("views.buttons.save"), :class => "btn btn-success btn-sm"

                  %td{:style => "width: 30%;"}
                    = link_to I18n.t("views.csv_reports.verify") + " " + I18n.t("activerecord.models.report", :count => 1).downcase, verify_neighborhood_report_path(report.neighborhood, report, :redirect_path => request.path), :class => "btn btn-warning input-sm", :style => "margin-top: 0px;"
