
.container

  .row{"style" => "margin-bottom: 20px;"}
    .col-md-8
      %h1.light-font
        = @csv.csv_file_name
    .col-md-4
      .pull-right
        = link_to I18n.t("views.csv_reports.delete"), api_v0_csv_report_path(@csv), :method => "DELETE", "remote-link" => true, :reload => true, :class => "btn btn-danger btn-lg", :prompt => I18n.t("common_terms.are_you_sure")

            - if csv.visits.length == 0
              %td
              %td
            - else
              - visits.each_with_index do |visit, index|
                - row_span = visits_row_span[index]
                %tr{:data => {"csv_id" => csv.id}}
                  %td{:rowspan => row_span, :data => {:visit => format_csv_timestamp(visit.visited_at)}}
                    = format_csv_timestamp(visit.visited_at)
                  %td{:rowspan => row_span}
                    = visit.health_report.to_i if visit.health_report.present?

                  - visit.inspections.includes(:report).order("id ASC").each do |inspection|
                    %tr{:data => {"csv_id" => csv.id}}
                      - report = inspection.report
                      %td
                        - site = report.breeding_site
                        = site.code if report.present? && site.present?
                      %td
                        = display_as_icon(report.protected) if report.present?
                      %td
                        = display_as_icon(report.larvae) if report.present?
                      %td
                        = display_as_icon(report.pupae) if report.present?
                      %td
                        = display_as_icon(report.chemically_treated) if report.present?
