
.container

  .row{"style" => "margin-bottom: 20px;"}
    .col-md-8
      %h1.light-font
        = @csv.csv_file_name
    .col-md-4
      .pull-right
        = link_to I18n.t("views.csv_reports.delete"), api_v0_csv_report_path(@csv), :method => "DELETE", "remote-link" => true, :reload => true, :class => "btn btn-danger btn-lg", :prompt => I18n.t("common_terms.are_you_sure")

  .row
    .col-md-12
      .panel.panel-default

        - if @csv.csv_errors.present?
          %h2
            = I18n.t("views.csv_reports.parsing_errors") + ":"
            = @csv.csv_file_name
          %ul
          - @csv.csv_errors.each do |error|
            %li{"style" => "font-size: 18px; line-height: 40px;"}
              = CsvError.humanized_errors[error.error_type]
        - else
          %table.table.table-bordered.table-hover.text-center.statistics-table
            %thead
              %th.text-center
                CSV
              %th.text-center
                = I18n.t("attributes.location_id")
              %th.text-center
                = I18n.t("activerecord.attributes.visit.visited_at")
              %th.text-center
                = I18n.t("activerecord.attributes.visit.health_report")
              %th.text-center
                = I18n.t("activerecord.attributes.report.breeding_site_id")
              %th.text-center
                = I18n.t("activerecord.attributes.report.protected")
              %th.text-center
                = I18n.t("activerecord.attributes.report.larvae")
              %th.text-center
                = I18n.t("activerecord.attributes.report.pupae")
              %th.text-center
                = I18n.t("activerecord.attributes.report.chemically_treated")
            %tbody
              - csv = @csv
              %tr{:data => {"csv_id" => csv.id}}
                // NOTE: rowspan should always be +1 since it's counting its own
                // tr as well.
                - visits = csv.visits.order("visited_at ASC").includes(:inspections)
                - visits_row_span = visits.map {|v| v.inspections.count + 1}
                - csv_row_span    = visits_row_span.sum
                %td{:rowspan => (csv_row_span + 1), :data => {:csv => csv.csv_file_name} }
                  = link_to csv.csv_file_name, csv.csv.url
                %td{:rowspan => (csv_row_span + 1), :data => {:location => csv.location.address} }
                  = csv.location.address

                - if csv.visits.length == 0
                  %td
                  %td
                - else
                  - visits.each_with_index do |visit, index|
                    - row_span = visits_row_span[index]
                    %tr{:data => {"csv_id" => csv.id}}
                      %td{:rowspan => row_span, :data => {:visit => format_csv_timestamp(visit.visited_at)}}
                        = format_csv_timestamp(visit.visited_at)
                      %td{:rowspan => row_span}
                        = visit.health_report.to_i if visit.health_report.present?

                      - visit.inspections.includes(:report).order("id ASC").each do |inspection|
                        %tr{:data => {"csv_id" => csv.id}}
                          - report = inspection.report
                          %td
                            - site = report.breeding_site
                            = site.code if report.present? && site.present?
                          %td
                            = display_as_icon(report.protected) if report.present?
                          %td
                            = display_as_icon(report.larvae) if report.present?
                          %td
                            = display_as_icon(report.pupae) if report.present?
                          %td
                            = display_as_icon(report.chemically_treated) if report.present?
