

.container{"ng-controller" => "csvVerifyCtrl", "csv" => @csv.to_json(:include => {:location => {:only => [:address, :neighborhood_id]}, :reports => {:only => [:id, :protected, :larvae, :pupae, :chemically_treated, :breeding_site_id, :neighborhood_id, :report, :created_at]} } )}
  .row
    .col-md-8.col-xs-8
      %h1.light-font
        = I18n.t("views.csv_reports.verify")
        = @csv.csv_file_name
    .col-md-4.col-xs-4
      .pull-right
        = form_for @csv, :html => {:method => :delete} do |f|
          = f.submit I18n.t("views.csv_reports.delete"), :class => "btn btn-danger btn-lg"

  .row
    .col-md-12
      %p.description
        - if @csv.reports.where(:verified_at => nil).count == 0
          = I18n.t("views.csv_reports.finish_verification")
          = link_to "clic aquí.", "", "ng-click" => "verifyCsv()"
        - else
          = I18n.t("views.csv_reports.verify_instructions", :count => @csv.reports.count)

  .row
    .col-md-12
      .well

        .row
          .col-md-4
            %p.form-label
              = I18n.t("attributes.location_id")
            = text_field_tag :location_id, @csv.location.address, "ng-model" => "csv.location.address", :class => "form-control"
          .col-md-4
            %p.form-label
              = I18n.t("attributes.neighborhood_id")
            = select_tag :neighborhood_id, options_for_select(Neighborhood.order("name ASC").map {|bs| [bs.name, bs.id]}, :selected => @csv.location.neighborhood_id), :class => "form-control", "ng-model" => "csv.location.neighborhood_id"
          .col-md-2
            = link_to I18n.t("views.buttons.save"), "", "ng-click" => "saveCsv(csv)", "class" => "btn btn-success", :style => "margin-top: 35px;"

        %hr.muted.wide

        .row
          .col-md-12
            %p.form-label
              = I18n.t("activerecord.models.report", :count => 2)
        .row
          .col-md-12
            %table.table.table-bordered.table-hover.text-center.statistics-table
              %thead
                %th.text-center
                  = I18n.t("activerecord.attributes.visit.visited_at")
                %th.text-center
                  = I18n.t("activerecord.attributes.report.report")
                %th.text-center
                  = I18n.t("activerecord.attributes.report.breeding_site_id")
                %th.text-center
                  = I18n.t("views.csv_reports.verify")
              %tbody
                - @csv.reports.each do |report|
                  %tr
                    %td{"style" => "width: 30%;"}
                      = report.created_at.strftime("%Y-%m-%d")
                    %td{"style" => "width: 30%;"}
                      = report.report
                    %td{"style" => "width: 20%;"}
                      = report.breeding_site.present? ? report.breeding_site.description_in_es : "N/A"
                    %td{"style" => "width: 20%;"}
                      - if report.verified_at.present?
                        = I18n.t("views.csv_reports.verified_time_ago", :time => time_ago_in_words(report.verified_at))
                      - else
                        = link_to I18n.t("views.csv_reports.verify"), verify_neighborhood_report_path(report.neighborhood, report, :redirect_path => request.path), :class => "btn btn-warning", :style => "margin-top: 0px;"
