

.container{"ng-controller" => "csvVerifyCtrl", "csv" => @csv.to_json(:include => {:location => {:only => :address}, :reports => {:only => [:id, :protected, :larvae, :pupae, :chemically_treated, :breeding_site_id, :neighborhood_id, :report, :created_at]} } )}
  .row
    .col-md-12
      .row
        .col-md-8
          %h1.light-font
            Verify
            = @csv.csv_file_name
        .col-md-2
          .pull-right
            = form_for @csv, :html => {:method => :delete} do |f|
              = f.submit "Delete CSV", :class => "btn btn-danger"
        .col-md-2
          .pull-right
            = link_to "Verify CSV", "", "ng-click" => "verifyCsv()", "class" => "btn btn-success"
      .well
        .row
          .col-md-6
            %p.form-label
              = I18n.t("activerecord.attributes.report.location_id")
            = text_field_tag :location_id, @csv.location.address, "ng-model" => "csv.location.address", :class => "form-control"
          .col-md-6

        %hr.muted.wide

        .row
          .col-md-12
            %p.form-label
              = I18n.t("activerecord.models.report", :count => 2)
        .row
          .col-md-12
            %table.table.table-bordered.table-hover.text-center.statistics-table
              %thead
                %th.text-center
                  = I18n.t("activerecord.attributes.visit.visited_at")
                %th.text-center
                  = I18n.t("activerecord.attributes.report.report")
                %th.text-center
                  = I18n.t("activerecord.attributes.report.breeding_site_id")
                %th.text-center
                  Verify
                %th.text-center
                  Delete
              %tbody
                %tr{"ng-repeat" => "report in csv.reports"}
                  %td
                    = text_field_tag :created_at, nil, "ng-model" => "report.created_at", :class => "form-control", :disabled => "disabled"
                  %td
                    = text_field_tag :report, nil, "ng-model" => "report.report", :class => "form-control", :disabled => "disabled"
                  %td
                    = select_tag :breeding_site_id, options_for_select(BreedingSite.order("code ASC").map {|bs| [bs.description_in_es, bs.id]}), "ng-model" => "report.breeding_site_id", :class => "form-control", :disabled => "disabled"
                  %td
                    = link_to "Verify", "", "ng-click" => "navigationToReport(report)", :class => "btn btn-success", :style => "margin-top: 0px;"
                  %td
                    = link_to "Delete", "", "ng-click" => "removeReport(report)", :class => "btn btn-danger", :style => "margin-top: 0px;", "ng-class" => "{'disabled': loading}"
