- content_for :scripts do
  %script{"src" => "https://www.google.com/jsapi"}
  :javascript
    google.load('visualization', '1.1', { 'packages': ['corechart'] });
    google.setOnLoadCallback(function() { angular.bootstrap(document.body, ['denguechatApp']) });
  %script{:src => "//maps.googleapis.com/maps/api/js?key=AIzaSyBYz_KnHFhBa2zc21IJAyzkZ_CbyJjvfrI&libraries=visualization"}

  %script
    = render "dashboard/visits/analytics_init.js.erb"

  = javascript_include_tag "google/marker-clusterer"

  = stylesheet_link_tag "map-icons.min"
  = javascript_include_tag "map-icons.min"




- content_for :head do
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css", :rel => "stylesheet"}/
  = stylesheet_link_tag "select"
  = stylesheet_link_tag "select-customizations"



.container-fluid


  .row{"ng-controller" => "adminTimeseriesCtrl"}
    .col-md-10.col-md-offset-1
      .panel.panel-default
        %ul.list-group
          %li.list-group-item
            %p.black
              Comunidades

            %ui-select.form-control{:multiple => "", "ng-model" => "options.geographies", :tagging => "tagTransform", :theme => "select2", :title => "Filtrar por comunidad"}
              %ui-select-match {{$item.name}}
              %ui-select-choices{"group-by" => "groupBy", "minimum-input-length" => 1, :repeat => "city in analytics_options.analytics_options | propsFilter: {name: $select.search}"}
                %span{"ng-bind-html" => "city.name | highlight: $select.search"}

          %li.list-group-item
            .row
              .col-sm-4
                %p.black
                  Unidad
                .chart-filters{:style => "margin-top: 0px;"}
                  .btn-group
                    = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'daily'}" do
                      = radio_button_tag "chart[percentages]", "daily", nil, "ng-model" => "options.unit"
                      En un dia
                    = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'monthly'}" do
                      = radio_button_tag "chart[percentages]", "monthly", nil, "ng-model" => "options.unit"
                      En un mes
                    = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'yearly'}" do
                      = radio_button_tag "chart[percentages]", "yearly", nil, "ng-model" => "options.unit"
                      En un año
              .col-sm-4
                %p.black
                  = I18n.t("views.statistics.chart.time")
                .chart-filters{:style => "margin-top: 0px;"}
                  .btn-group
                    - [1, 3, 6].each do |month|
                      = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: options.timeframe === '#{month}' && !customDateRange}" do
                        = radio_button_tag nil, month.to_s, false, "ng-model" => "options.timeframe", "ng-click" => "customDateRange = false;"
                        = I18n.t("views.statistics.chart.filters.months", :count => month)
                    = label_tag  nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: options.timeframe === '-1' && !customDateRange}" do
                      = radio_button_tag nil, "-1", false, "ng-model" => "options.timeframe", "ng-click" => "customDateRange = false;"
                      Todo
                    = label_tag  nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': customDateRange}" do
                      = radio_button_tag nil, true, false, "ng-model" => "customDateRange"
                      = I18n.t("views.statistics.chart.custom_date")
                  .text-center{"ng-show" => "customDateRange", "style" => "margin-top: 20px;"}
                    = select_tag nil, options_for_select( (1..12).map {|i| [i, i]} ), "ng-model" => "options.customStartMonth"
                    = select_tag nil, options_for_select( (2010..Time.zone.now.year).map {|i| [i, i]} ), "ng-model" => "options.customStartYear"
                    a
                    = select_tag nil, options_for_select( (1..12).map {|i| [i, i]} ), "ng-model" => "options.customEndMonth"
                    = select_tag nil, options_for_select( (2010..Time.zone.now.year).map {|i| [i, i]} ), "ng-model" => "options.customEndYear"

              .col-sm-4
                %p.black
                  = I18n.t("views.statistics.chart.type")
                .chart-filters{:style => "margin-top: 0px;"}
                  .checkbox
                    %label
                      %input{:type => "checkbox", "ng-model" => "options.positive"}
                        = I18n.t("common_terms.positive")
                  .checkbox
                    %label
                      %input{:type => "checkbox", "ng-model" => "options.potential"}
                        = I18n.t("common_terms.potential")
                  .checkbox
                    %label
                      %input{:type => "checkbox", "ng-model" => "options.negative"}
                        = I18n.t("common_terms.negative")


            .row
              .col-sm-12
                .pull-right
                  %a.btn.btn-success{"ng-click" => "refreshChartWithParams()", :style => "cursor: hand;"}
                    Vista previa
            %h1.text-center{"ng-show" => "loading"}
              %i.fa.fa-refresh.fa-spin

          %li.list-group-item{"ng-if" => "timeseries.length > 0"}
            %div{"ng-controller" => "analyticsHeatmapCtrl", "neighborhood" => @neighborhood.to_json(:only => [:latitude, :longitude])}
              %ul.nav.nav-pills{:style => "margin-bottom: 10px;"}
                %li{:role => "presentation", "ng-repeat" => "series in timeseries", "ng-class" => "{'active': data.chosenSeries.date == series.date}"}
                  %a{"ng-click" => "selectSeries(series)"}
                    {{series.date}}

                %li.pull-right{"ng-show" => "data.loading"}
                  %h1
                    %i.fa.fa-refresh.fa-spin
                %li.pull-right{"ng-show" => "data.error"}
                  %h2.text-danger
                    Algo salió mal en nuestro extremo. Por favor, inténtelo de nuevo


              #map_div
                #google-map
            -# %div{"ng-controller" => "heatmapCtrl", "ng-cloak" => "", "path" => house_index_api_v0_locations_path, "neighborhood" => @neighborhood.to_json(:only => [:latitude, :longitude])}
            -#   %ul.nav.nav-pills
            -#     %li.pull-right{"ng-show" => "data.loading"}
            -#       %h1
            -#         %i.fa.fa-refresh.fa-spin
            -#     %li.pull-right{"ng-show" => "data.error"}
            -#       %h2.text-danger
            -#         Algo salió mal en nuestro extremo. Por favor, inténtelo de nuevo
            -#
            -#   #map_div
            -#     #gmap


          %li.list-group-item
            .chart
              %h3.panel-title{"ng-show" => "state.chart"}
                = I18n.t('views.statistics.chart.title')

              .legend{:style => "margin-left: 0px; margin-top: 0px;", "ng-show" => "timeseries.length > 0"}
                .row
                  .col-xs-4
                    %span.chart-legend.red
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_positive_sites')
                    -# %br

                  .col-xs-4
                    %span.chart-legend.yellow
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_potential_sites')
                    -# %br

                  .col-xs-4
                    %span.chart-legend.green
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_negative_sites')


              #timeseries
                %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}

                .form-errors{:style => "display: block;", "ng-show" => "!noChartData && (serverError || serverErrorMessage)"}
                  %p
                    {{serverErrorMessage || "Algo salió mal. Por favor, intente nuevamente."}}


                %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
                  = I18n.t("common_terms.no_data")
                %div{"ng-hide" => "chartLoading || noChartData"}
                  #timeseries-chart

          %li.list-group-item{"ng-show" => "odds_ratios.length > 0"}
            %p.black
              Odds Ratio de Barril
            %p.help-text
              NOTE: Potential barrels are not included in the count

            %table.show.table.table-bordered.table-responsive{:style => "margin-top: 20px;"}
              %thead
                %th{"ng-repeat" => "odds_ratio in odds_ratios"}
                  {{odds_ratio.date}}

              %tbody
                %tr
                  %td{"ng-repeat" => "odds_ratio in odds_ratios"}
                    %table.table.table-bordered
                      %thead
                        %th
                        %th Positivo
                        %th No Positivo
                      %tr
                        %td{:style => "font-weight:bold;"} Protegido
                        %td {{odds_ratio.positive_protected.count}}
                        %td {{odds_ratio.not_positive_protected.count}}
                      %tr
                        %td{:style => "font-weight:bold;"} No Protegido
                        %td {{odds_ratio.positive_not_protected.count}}
                        %td {{odds_ratio.not_positive_not_protected.count}}

                %tr
                  %td{"ng-repeat" => "odds_ratio in odds_ratios"}
                    %table.table.table-bordered
                      %thead
                        %th
                        %th Positivo
                        %th No Positivo
                      %tr
                        %td{:style => "font-weight:bold;"} No Protegido
                        %td {{odds_ratio.positive_not_protected.count}}
                        %td {{odds_ratio.not_positive_not_protected.count}}
                      %tr
                        %td{:style => "font-weight:bold;"} Protegido
                        %td {{odds_ratio.positive_protected.count}}
                        %td {{odds_ratio.not_positive_protected.count}}

                %tr
                  %td{"ng-repeat" => "odds_ratio in odds_ratios"}
                    %table.table.table-bordered
                      %thead
                        %th
                        %th Positivo
                        %th No Positivo
                      %tr
                        %td{:style => "font-weight:bold;"} Abatizado
                        %td {{odds_ratio.positive_chemically_treated.count}}
                        %td {{odds_ratio.not_positive_chemically_treated.count}}
                      %tr
                        %td{:style => "font-weight:bold;"} No Abatizado
                        %td {{odds_ratio.positive_not_chemically_treated.count}}
                        %td {{odds_ratio.not_positive_not_chemically_treated.count}}

                %tr
                  %td{"ng-repeat" => "odds_ratio in odds_ratios"}
                    %table.table.table-bordered
                      %thead
                        %th
                        %th Positivo
                        %th No Positivo
                      %tr
                        %td{:style => "font-weight:bold;"} No Abatizado
                        %td {{odds_ratio.positive_not_chemically_treated.count}}
                        %td {{odds_ratio.not_positive_not_chemically_treated.count}}
                      %tr
                        %td{:style => "font-weight:bold;"} Abatizado
                        %td {{odds_ratio.positive_chemically_treated.count}}
                        %td {{odds_ratio.not_positive_chemically_treated.count}}



          %li.list-group-item{"ng-show" => "timeseries.length > 0"}
            %a.btn.btn-success{"ng-click" => "generateCsv()", :style => "cursor: hand;"}
              %i.fa.fa-download
              Descargar

            %table.show.table.table-bordered.table-responsive{:style => "margin-top: 20px;"}
              %thead
                %th{:style => "width: 10%"}
                  Data
                %th{"ng-repeat" => "series in timeseries"}
                  {{series.date}}

              %tbody
                %tr
                  %td Lugares positivos
                  %td{"ng-repeat" => "series in timeseries"}
                    {{series.positive.percent}}% ({{series.positive.count}})
                %tr
                  %td Lugares potenciales
                  %td{"ng-repeat" => "series in timeseries"}
                    {{series.potential.percent}}% ({{series.potential.count}})
                %tr
                  %td Lugares sin criaderos
                  %td{"ng-repeat" => "series in timeseries"}
                    {{series.negative.percent}}% ({{series.negative.count}})
                %tr
                  %td Total lugares
                  %td{"ng-repeat" => "series in timeseries"}
                    {{series.total.count}}
                %tr
                  %td Lugares positivos
                  %td{"ng-repeat" => "series in timeseries"}
                    .show{"ng-repeat" => "location in series.positive.locations"}
                      {{location}}
                %tr
                  %td Lugares potenciales
                  %td{"ng-repeat" => "series in timeseries"}
                    .show{"ng-repeat" => "location in series.potential.locations"}
                      {{location}}
                %tr
                  %td Lugares sin criaderos
                  %td{"ng-repeat" => "series in timeseries"}
                    .show{"ng-repeat" => "location in series.negative.locations"}
                      {{location}}
                %tr
                  %td Lugares
                  %td{"ng-repeat" => "series in timeseries"}
                    .show{"ng-repeat" => "location in series.total.locations"}
                      {{location}}


              -# %thead
              -#   %th{:style => "width: 10%"}
              -#     Fecha de visita
              -#   %th{:style => "width: 10%"}
              -#     Lugares positivos (%)
              -#   %th{:style => "width: 10%"}
              -#     Lugares potenciales (%)
              -#   %th{:style => "width: 10%"}
              -#     Lugares sin criaderos (%)
              -#   %th{:style => "width: 10%"}
              -#     Total lugares
              -#   %th{:style => "width: 10%"}
              -#     Lugares positivos
              -#   %th{:style => "width: 10%"}
              -#     Lugares potenciales
              -#   %th{:style => "width: 10%"}
              -#     Lugares sin criaderos
              -#   %th{:style => "width: 10%"}
              -#     Lugares
              -# %tbody
              -#   %tr{"ng-repeat" => "series in timeseries"}
              -#     %td{:style => "width: 10%"}
              -#       {{series.date}}
              -#     %td{:style => "width: 10%"}
              -#       {{series.positive.count}}
              -#       ({{series.positive.percent}} %)
              -#     %td{:style => "width: 10%"}
              -#       {{series.potential.count}}
              -#       ({{series.potential.percent}} %)
              -#     %td{:style => "width: 10%"}
              -#       {{series.negative.count}}
              -#       ({{series.negative.percent}} %)
              -#     %td{:style => "width: 8%"}
              -#       {{series.total.count}}
              -#     %td{:style => "width: 10%"}
              -#       .show{"ng-repeat" => "location in series.positive.locations"}
              -#         {{location}}
              -#     %td{:style => "width: 10%"}
              -#       .show{"ng-repeat" => "location in series.potential.locations"}
              -#         {{location}}
              -#     %td{:style => "width: 10%"}
              -#       .show{"ng-repeat" => "location in series.negative.locations"}
              -#         {{location}}
              -#     %td{:style => "width: 10%"}
              -#       .show{"ng-repeat" => "location in series.total.locations"}
              -#         {{location}}



        -# .panel-body
        -#   %table.table.table-bordered
        -#     %tr
        -#       %td{:style => "width: 35%"}
        -#         %p.form-label
        -#           Unidad
        -#         .chart-filters{:style => "margin-top: 0px;"}
        -#           .btn-group
        -#             = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'daily'}" do
        -#               = radio_button_tag "chart[percentages]", "daily", nil, "ng-model" => "options.unit"
        -#               En un dia
        -#             = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'monthly'}" do
        -#               = radio_button_tag "chart[percentages]", "monthly", nil, "ng-model" => "options.unit"
        -#               En un mes
        -#       %td{:rowspan => 3, :style => "width: 65%"}
        -#         %p.form-label
        -#           Comunidades
        -#         %ul.list-group
        -#           - @city.neighborhoods.each do |neighborhood|
        -#             %li.list-group-item{"ng-click" => "toggleNeighborhood(#{neighborhood.id})", :style => "cursor: hand;", "ng-class" => "neighborhoods.indexOf(#{neighborhood.id}) !== -1 ? 'list-group-item-success' : ''"}
        -#               = neighborhood.name
        -#     %tr
        -#       %td{:style => "width: 35%"}
        -#         %p.form-label
        -#           = I18n.t("views.statistics.chart.time")
        -#         .chart-filters{:style => "margin-top: 0px;"}
        -#           .btn-group
        -#             - [1, 3, 6].each do |month|
        -#               = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: options.timeframe === '#{month}' && !customDateRange}" do
        -#                 = radio_button_tag nil, month.to_s, false, "ng-model" => "options.timeframe", "ng-click" => "customDateRange = false;"
        -#                 = I18n.t("views.statistics.chart.filters.months", :count => month)
        -#             = label_tag  nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: options.timeframe === '-1' && !customDateRange}" do
        -#               = radio_button_tag nil, "-1", false, "ng-model" => "options.timeframe", "ng-click" => "customDateRange = false;"
        -#               Todo
        -#             = label_tag  nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': customDateRange}" do
        -#               = radio_button_tag nil, true, false, "ng-model" => "customDateRange"
        -#               = I18n.t("views.statistics.chart.custom_date")
        -#           .text-center{"ng-show" => "customDateRange", "style" => "margin-top: 20px;"}
        -#             = select_tag nil, options_for_select( (1..12).map {|i| [i, i]} ), "ng-model" => "options.customStartMonth"
        -#             = select_tag nil, options_for_select( (2010..Time.zone.now.year).map {|i| [i, i]} ), "ng-model" => "options.customStartYear"
        -#             a
        -#             = select_tag nil, options_for_select( (1..12).map {|i| [i, i]} ), "ng-model" => "options.customEndMonth"
        -#             = select_tag nil, options_for_select( (2010..Time.zone.now.year).map {|i| [i, i]} ), "ng-model" => "options.customEndYear"
        -#
        -#
        -#     %tr
        -#       %td{:style => "width: 35%"}
        -#         %p.form-label
        -#           = I18n.t("views.statistics.chart.type")
        -#         .chart-filters{:style => "margin-top: 0px;"}
        -#           .checkbox
        -#             %label
        -#               %input{:type => "checkbox", "ng-model" => "options.positive"}
        -#                 = I18n.t("common_terms.positive")
        -#           .checkbox
        -#             %label
        -#               %input{:type => "checkbox", "ng-model" => "options.potential"}
        -#                 = I18n.t("common_terms.potential")
        -#           .checkbox
        -#             %label
        -#               %input{:type => "checkbox", "ng-model" => "options.negative"}
        -#                 = I18n.t("common_terms.negative")
        -#
        -#
        -#   .row{:style => "margin-top: 20px;"}
        -#     .col-md-4
        -#       %a.btn.btn-block.btn-success{"ng-click" => "refreshChartWithParams()", :style => "cursor: hand;"}
        -#         Vista previa
        -#     .col-md-4.pull-right
        -#       %a.btn.btn-block.btn-success{"ng-click" => "generateCsv()", :style => "cursor: hand;"}
        -#         Genere un reporte CSV
        -#
        -#   .form-errors{:style => "display: block;", "ng-show" => "serverError || serverErrorMessage"}
        -#     %p
        -#       {{serverErrorMessage || "Algo salió mal. Por favor, intente nuevamente."}}
        -#   %h1.text-center{"ng-show" => "loading"}
        -#     %i.fa.fa-refresh.fa-spin
        -#
        -#   %hr
        -#
        -#
        -#   .chart
        -#     %h3.panel-title{"ng-show" => "state.chart"}
        -#       = I18n.t('views.statistics.chart.title')
        -#
        -#     .legend{:style => "margin-left: 0px; margin-top: 0px;", "ng-show" => "state.chart"}
        -#       .row
        -#         .col-xs-4
        -#           %span.chart-legend.red
        -#           %span.chart-label.light-font
        -#             = I18n.t('views.statistics.chart.percent_of_positive_sites')
        -#           -# %br
        -#
        -#         .col-xs-4
        -#           %span.chart-legend.yellow
        -#           %span.chart-label.light-font
        -#             = I18n.t('views.statistics.chart.percent_of_potential_sites')
        -#           -# %br
        -#
        -#         .col-xs-4
        -#           %span.chart-legend.green
        -#           %span.chart-label.light-font
        -#             = I18n.t('views.statistics.chart.percent_of_negative_sites')
        -#     %hr
        -#
        -#     #timeseries
        -#       %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}
        -#       %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
        -#         = I18n.t("common_terms.no_data")
        -#       #timeseries-chart{"ng-hide" => "chartLoading || noChartData"}


        -#
        -# %table.table.table-bordered.table-responsive{"ng-show" => "timeseries.length > 0"}
        -#   %thead
        -#     %th{:style => "width: 10%"}
        -#       Data
        -#     %th{"ng-repeat" => "series in timeseries"}
        -#       {{series.date}}
        -#
        -#   %tbody
        -#     %tr
        -#       %td Lugares positivos
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         {{series.positive.percent}}% ({{series.positive.count}})
        -#     %tr
        -#       %td Lugares potenciales
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         {{series.potential.percent}}% ({{series.potential.count}})
        -#     %tr
        -#       %td Lugares sin criaderos
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         {{series.negative.percent}}% ({{series.negative.count}})
        -#     %tr
        -#       %td Total lugares
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         {{series.total.count}}
        -#     %tr
        -#       %td Lugares positivos
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         .show{"ng-repeat" => "location in series.positive.locations"}
        -#           {{location}}
        -#     %tr
        -#       %td Lugares potenciales
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         .show{"ng-repeat" => "location in series.potential.locations"}
        -#           {{location}}
        -#     %tr
        -#       %td Lugares sin criaderos
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         .show{"ng-repeat" => "location in series.negative.locations"}
        -#           {{location}}
        -#     %tr
        -#       %td Lugares
        -#       %td{"ng-repeat" => "series in timeseries"}
        -#         .show{"ng-repeat" => "location in series.total.locations"}
        -#           {{location}}
        -#
        -#
        -#   -# %thead
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Fecha de visita
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares positivos (%)
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares potenciales (%)
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares sin criaderos (%)
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Total lugares
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares positivos
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares potenciales
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares sin criaderos
        -#   -#   %th{:style => "width: 10%"}
        -#   -#     Lugares
        -#   -# %tbody
        -#   -#   %tr{"ng-repeat" => "series in timeseries"}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       {{series.date}}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       {{series.positive.count}}
        -#   -#       ({{series.positive.percent}} %)
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       {{series.potential.count}}
        -#   -#       ({{series.potential.percent}} %)
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       {{series.negative.count}}
        -#   -#       ({{series.negative.percent}} %)
        -#   -#     %td{:style => "width: 8%"}
        -#   -#       {{series.total.count}}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       .show{"ng-repeat" => "location in series.positive.locations"}
        -#   -#         {{location}}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       .show{"ng-repeat" => "location in series.potential.locations"}
        -#   -#         {{location}}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       .show{"ng-repeat" => "location in series.negative.locations"}
        -#   -#         {{location}}
        -#   -#     %td{:style => "width: 10%"}
        -#   -#       .show{"ng-repeat" => "location in series.total.locations"}
        -#   -#         {{location}}




        -# .panel-footer
        -#   Seleccione comunidades, la unidad y el tiempo para generar informe.
