= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @message}

.row
  .span12.offset4
    .row
      .span6
        %h1{:style => "font-size: 40px;"}
          = "Conversations"

      .span4{:style => "text-align: right;"}
        = link_to "+ New message", nil, :class => "btn btn-success btn-large", :id => "create-new-message"


    .row
      .span10
        - should_display_form = (flash[:show_new_message_form] == true || params[:form] == "true")
        = form_for [@current_user, @message], :html => { :id => "new-message-form", :class => "form-horizontal well", :style => "#{should_display_form == true ? '' : 'display: none;'}; margin-top: 20px;" } do |f|
          .control-group
            = label_tag "To", nil, :class => "control-label", :style => "width: 200px; text-align: left;"
            .controls
              = text_area_tag :users, params[:users], :class => "form-control span6", :style => "height: 50px;"
          .control-group
            = f.label :body, :class => "control-label", :style => "width: 200px; text-align: left;"
            .controls
              = f.text_area :body, :class => "form-control span6", :style => "height: 200px;"
          .control-group
            .controls.span6{:style => "margin-left: 195px;"}
              = button_tag :type => "submit", :class => "btn btn-success btn-block submit-button" do
                %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
                = I18n.t("views.buttons.create")


    .row{:style => "margin-top: 20px;"}
      .span10
        - @conversations.each do |c|
          .user_activity_item
            .row
              .span6
                .row.feed-item-bar
                  .span7

                    .feed-item-timestamp
                      %i.fa.fa-clock-o
                      = format_timestamp(c.updated_at)
                .row.feed-item-content
                  .span7
                    = link_to "Conversation between #{c.users.map(&:display_name).join(', ')}", user_conversation_path(@current_user, c)

              .span3.pull-right{:style => "margin-top: 15px;"}
                = link_to user_conversation_path(@current_user, c) do
                  Go to conversation
                  %i.fa.fa-chevron-right



:javascript
  $(document).ready(function()
  {
    // Listener on new team button.
    $("#create-new-message").on("click", function(e)
    {
      e.preventDefault();
      $("#new-message-form").toggle()
    });
  })
