.row
  .span10.offset4
    .user_activity_item
      .row
        .span1.feed-item-profile-photo
          = link_to user_path(@message.recipient) do
            = image_tag(@message.recipient.picture)

        .span5
          .row.feed-item-bar
            .span7
              = link_to "To: #{@message.recipient.display_name}", user_path(@message.recipient), :style => "font-weight: bold;"
              .feed-item-timestamp
                %i.fa.fa-clock-o
                = format_timestamp(@message.created_at)
          .row.feed-item-content
            .span7
              = link_to @message.body, user_message_path(@current_user, @message)
