= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @message}

.row
  .col-md-5.col-md-offset-4
    .row
      .col-md-12
        %h1{:style => "font-size: 20px;"}
          = I18n.t("views.conversations.index.messages_between") + " #{@conversation.users.map(&:display_name).join(', ')}"

    .row{:style => "margin-top: 20px;"}
      .col-md-12
        - @messages.each do |m|
          .user_activity_item
            .row
              .col-md-1.feed-item-profile-photo
                = link_to user_path(m.user) do
                  = image_tag(m.user.picture)

              .col-md-6
                .row.feed-item-bar
                  .col-md-7
                    = link_to m.user.display_name, user_path(m.user), :style => "font-weight: bold;"
                    .feed-item-timestamp
                      %i.fa.fa-clock-o
                      = timestamp_in_metadata(m.created_at)
                .row.feed-item-content
                  .col-md-7
                    = m.body

        .user_activity_item
          .row
            .col-md-1.feed-item-profile-photo
              = image_tag(@current_user.picture)
            .col-md-11
              .row.feed-item-bar
                .col-md-6
                  %span{:style => "font-weight: bold;"}
                    = @current_user.display_name

              .row
                .col-md-12
                  = form_for [@current_user, @message], :html => { :style => "margin-top: 20px;" } do |f|
                    = f.hidden_field :conversation_id, :value => @conversation.id
                    = f.text_area :body, :style => "height: 60px; width: 100%;", :class => "form-control"
                    = button_tag :type => "submit", :class => "btn btn-success btn-large submit-button", :style => "width: 100%; margin-top: 10px;" do
                      %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
                      = I18n.t("views.buttons.submit")








:javascript
  $(document).ready(function()
  {
    // Listener on new team button.
    $("#create-new-message").on("click", function(e)
    {
      e.preventDefault();
      $("#new-message-form").toggle()
    });
  })
