- content_for :dashboard_content do
  .table-header-view
    .row
      .col-md-12
        = form_tag set_cookies_users_path, :method => "POST", :class => "form-inline" do
          .form-group
            %p.form-control-static
              = I18n.t("attributes.neighborhood_id")
          .form-group
            = select_tag "neighborhood_id", options_for_select(@neighborhoods_select, :selected => @neighborhood.id),  :class => "form-control"
          = submit_tag "Submit", :class => "btn btn-success"

  .row
    .col-md-10.col-md-offset-1{"ng-controller" => "chartCtrl", "locations" => @locations.to_json, "neighborhood" => @neighborhood.to_json}
      %h3.chart-title
        Cambio en Riesgo de Dengue y Chikungunya

      = render :partial => "shared/locations_graph"
