- content_for :dashboard_content do
  %div{"ng-controller" => "chartCtrl", "neighborhood" => @neighborhood.to_json}
    .table-header-view
      .row
        .col-md-6
          = form_tag set_cookies_users_path, :method => "POST", :class => "form-inline" do
            .form-group
              %p.form-control-static
                = I18n.t("attributes.neighborhood_id")
            .form-group
              = select_tag "neighborhood_id", options_for_select(@neighborhoods_select, :selected => @neighborhood.id),  :class => "form-control"
            = submit_tag I18n.t("views.buttons.submit"), :class => "btn btn-success"

        .col-md-6
          .pull-right
            .checkbox{"style" => "margin-top: 20px;"}
              = label_tag do
                = check_box_tag "options[csv_only]", "1", true, "ng-model" => "dataOptions.csvOnly", "ng-true-value" => "'1'", "ng-false-value" => "null"
                = I18n.t("views.dashboard.csv_only")


    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-8
            %h3.chart-title
              Cambio en Riesgo de Dengue y Chikungunya
          .col-md-4
            = link_to "Print", "#", "onclick" => "window.print();", :class => "pull-right btn btn-warning print-button", :style => "margin-top: 20px;"

        = render :partial => "shared/locations_graph"

- content_for :scripts do
  = stylesheet_link_tag "graphs", :media => :print
