.row
  .col-md-15.col-md-offset-1
    %h1= @sponsor.house.name
    %br
    %h2{style: "font-size:20px;"} Códigos de controle dos prêmios
    %br

    %br

.row
  .col-md-12.col-md-offset-2
    %ul
    - @prizes.sort.each do |prize|
      %h2 #{prize.prize_name}
      %table.table.table-bordered
        %thead
          %th Código
          %th Usuário
          %th Celular
          %th Operadora
          %th Nome Completo
        %tbody
          - prize.prize_codes.each do |cupon|
            %tr
              %td= cupon.code
              %td= cupon.user.display_name
              %td= cupon.user.phone_number
              %td{style: "text-align:center;"}
                = cupon.user.carrier
              %td= cupon.user.full_name
