= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}


.container
  .row
    .col-md-8.col-xs-8
      %h1.light-font
        = I18n.t("views.coordinator.register_user")

  .row.page-header-description
    .col-md-12
      %p.description
        = I18n.t("views.users.edit.username_notice")


  .row
    .col-md-12
      .well
        = form_for(@user, :html => {name: "configuration", :class => "form-horizontal"}, :url => coordinator_users_path) do |f|


          .form-group
            = f.label :name, :class => "control-label col-md-6"
            .col-md-6
              = f.text_field :name, :class => "form-control"


          .form-group
            = f.label :username, :class => "control-label col-md-6"
            .col-md-6
              .input-group
                %span.input-group-addon @
                = f.text_field :username, :class => "form-control"


          .form-group
            = f.label :email, :class => "control-label col-md-6"
            .col-md-6
              = f.text_field :email, :class => "form-control"


          .form-group
            = f.label :gender, :class => "control-label col-md-6"
            .col-md-6
              = f.radio_button :gender, "true", :checked => (@user.gender == true), :class => "radio-inline"
              = I18n.t("common_terms.male")
              = f.radio_button :gender, "false", :checked => (@user.gender == false), :class => "radio-inline"
              = I18n.t("common_terms.female")

          .form-group
            = f.label :profile_photo, :class => "control-label col-md-6"
            .col-md-6
              = f.file_field :profile_photo, :class => "form-control upload_photo"
              - if @user.profile_photo.present?
                = image_tag(asset_path(@user.picture), :style => "display: block;", :class => "preview")
              - else
                %img.preview{:style => "display: block;"}
              %canvas{:style => "display: none;"}
              = hidden_field_tag "user[compressed_photo]", nil, :class => "compressed_photo"



          .form-group
            = f.label nil, :class => "control-label col-md-6" do
              = I18n.t("attributes.neighborhood_id")
              %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
                *
            .col-md-6
              = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, {:include_blank => true}, :class => "form-control"


          .form-group
            = f.label :locale, :class => "control-label col-md-6"
            .col-md-6
              = f.select :locale, [[I18n.t("common_terms.portuguese"), User::Locales::PORTUGUESE], [I18n.t("common_terms.spanish"), User::Locales::SPANISH]], {}, :class => "form-control"


          .form-group
            = f.label nil, :class => "control-label col-md-6" do
              = I18n.t("activerecord.attributes.user.password")
              %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
                *
            .col-md-6
              = f.password_field :password, :class => "form-control"
          .form-group
            = f.label nil, :class => "control-label col-md-6" do
              = I18n.t("activerecord.attributes.user.password_confirmation")
              %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
                *
            .col-md-6
              = f.password_field :password_confirmation, :class => "form-control"





          = button_tag :type => "submit", :class => "btn btn-success btn-large submit-button", :style => "width: 100%;" do
            %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
            = I18n.t("views.buttons.update")
