#role_specific.offset9
  %h2 Configurações de coordenador
  %p.link
    = link_to "Registrar patrocinador, verificador e visitante", "/users/special_new"
  %p.link
    = link_to "Registrar novos prêmios ", "/premios/new"
  %p.link
    = link_to "Registrar notícias da comunidade", new_notice_path
  %p.link
    = link_to "Administrar usuários", "/users"
  %p.link
    = link_to "Administrar prêmios", "/premios/admin"
  %p.link
    = link_to "Administrar DT Torpedos", "/phones"
  %p.link
    = link_to "Administrar contatos", feedbacks_path
  %p.link
    = link_to "Administrar tipos e métodos", "/reports/types"
