%h2{:style => "text-align: center;"}
  = I18n.t("common_terms.coordinator_configurations")

%ul
  %li.link
    = link_to I18n.t("views.admin.register"), coordinator_create_users_path
  %li.link
    = link_to I18n.t("views.admin.edit_prize"), new_prize_path
  %li.link
    = link_to I18n.t("views.admin.edit_news"), new_notice_path
  %li.link
    = link_to I18n.t("views.admin.edit_user"), users_path
  %li.link
    = link_to I18n.t("views.admin.edit_prize"), premios_admin_path
  %li.link
    = link_to I18n.t("views.admin.edit_sms"), phones_path
  %li.link
    = link_to I18n.t("views.admin.edit_feedback"), feedbacks_path
  %li.link
    = link_to I18n.t("views.admin.edit_report"), "/reports/types"
