- is_liked = likeable.likes.map(&:user_id).include?(@current_user.id)

= link_to path, :class => "likes_button", "data-path" => path, "data-likes_count" => likeable.likes.count do
  %i.fa.fa-thumbs-up.like-icon{:style => "color: #{is_liked ? '#3498db' : '#bdc3c7'}"}
  %span.likes_text
    = likeable.likes.count

&#183;

= link_to nil, :class => "comment-button" do
  = I18n.t("common_terms.comment")
