.user_activity_item{:style => "margin-left: 0px; min-height: 60px;"}
  .row
    .span1
      - if owner.profile_photo_file_name.nil?
        = image_tag("default_images/profile_default_image.png", :style => "width: 100px;")
      - else
        = image_tag(owner.profile_photo.url(:small), :style => "width: 100px;")

    .span7
      .row
        .span7
          = link_to owner.first_name, user_path(owner), :style => "font-weight: bold;"
          %span{:style => "color: #8899a6; display: inline;"}
            %i.fa.fa-clock-o
            = format_timestamp(post.created_at)

          - if @current_user == owner
            = link_to user_post_path(owner, post), :id => 'user_post_delete', :confirm => "Are you sure?", :method => :delete do
              %i.fa.fa-trash-o

      .row
        .span7
          = auto_link(post.content)
