.row
  .span1.feed-item-profile-photo
    = link_to user_path(user) do
      - if user.profile_photo_file_name.nil?
        = image_tag("default_images/user_default_alt.png")
      - else
        = image_tag(user.profile_photo.url(:small))
  .span6
    .row.feed-item-bar
      .span6
        = link_to user.first_name, user_path(user), :style => "font-weight: bold;"
        .feed-item-timestamp
          %i.fa.fa-clock-o
          = format_timestamp(comment.created_at)
        .comment-delete-button{:style => "display: inline;"}
          = link_to comment_path(comment), :method => :delete do
            %i.fa.fa-trash-o.fa-2

    .row.feed-item-content
      .span6
        = comment.content
