.feed-item
  .user_activity_item
    .feed-item-profile-photo
      = link_to image_tag(owner.picture), user_path(owner)
    = render :partial => "users/feed_item_metadata", :locals => {:item => post, :user => owner, :path => post_path(post)}

      .col-md-9
        = render :partial => "users/feed_item_metadata", :locals => {:item => post, :user => owner, :path => post_path(post)}

        .row.feed-item-content
          .col-md-12
            - if post.content.length >= Post::CHARACTER_LIMIT
              = auto_link(post.content[0..Post::CHARACTER_LIMIT - 1])
              #hidden-post-content{:style => "display: none;"}
                = auto_link(post.content[Post::CHARACTER_LIMIT..-1])
              .show-more-content-link{:style => "display: block;"}
                = link_to "", :style => "color: #6655ee;" do
                  %i.fa.fa-chevron-down
                  = I18n.t("common_terms.more")
            - else
              = auto_link(post.content)

    - if @current_user
      .row.feed-item-interaction-menu
        .col-md-12
          = render :partial => "users/feed_item_interaction_menu", :locals => {:likeable => post, :path => like_post_path(post)}


  = render :partial => "users/comments", :locals => {:commentable => post, :path => comment_post_path(post)}
