= form_for(@user, :html => {name: "configuration", :class => "form-horizontal"}, :url => {:action => action, :html => {:class => "form-horizontal", :autocomplete => "off", :multipart => true}}) do |f|

  %h1{:id => "role_title"}
    - if @user == @current_user
      = I18n.t("common_terms.configuration")
    - else
      = I18n.t("views.coordinators.users.edit")
  %br

  .control-group
    = f.label :first_name, :class => "control-label", :style => "position: relative" do
      = I18n.t("activerecord.attributes.user.first_name")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *

    .controls
      = f.text_field :first_name, :class => "form-control"

  .control-group
    = f.label :last_name, :class => "control-label", :style => "position: relative" do
      = I18n.t("activerecord.attributes.user.last_name")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.text_field :last_name, :class => "form-control"

  .control-group
    = f.label :nickname, :class => "control-label"
    .controls
      = f.text_field :nickname, :class => "form-control"

  .control-group
    = f.label I18n.t("views.users.edit.show_name_as"), :class => "control-label"
    .controls
      = f.select :display, options_for_select(@user.display_name_options, @user.display),{:name => "display", :id => "display_select"}

  .control-group
    = f.label :gender, :class => "control-label"
    .controls

      = f.radio_button :gender, "true", :checked => (@user.gender == true), :class => "inline"
      = I18n.t("common_terms.male")
      = f.radio_button :gender, "false", :checked => (@user.gender == false), :class => "inline"
      = I18n.t("common_terms.female")


  .control-group
    = f.label :email, :class => "control-label", :style => "position: relative;" do
      = I18n.t("activerecord.attributes.user.email")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.text_field :email, :class => "form-control"


  .control-group
    = f.label :profile_photo, :class => "control-label"
    .controls
      = f.file_field :profile_photo, :class => "form-control"


  .control-group
    = f.label nil, :class => "control-label", :style => "position: relative;" do
      = I18n.t("attributes.neighborhood_id")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, :class => "form-control"


  - if @user == @current_user
    .control-group
      = f.label :password, :class => "control-label"
      .controls
        = link_to "Alterar minha senha", edit_password_reset_path(@user), :class => "form-control", :id => "reset_password_link",id:'password_reset'
  - else
    .control-group
      = f.label :password, :class => "control-label"
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation, :class => "control-label"
      .controls
        = f.password_field :password_confirmation



  %hr{:style => "border-color: #ff6600; border-bottom: none;"}
  .control-group
    = f.label :phone_number, :class => "control-label"
    .controls
      = f.text_field :phone_number, :placeholder => "0219xxxxxxxx", :class => "form-control"

  .control-group
    = f.label :carrier, :class => "control-label"
    .controls
      = f.text_field :carrier, :class => "form-control"

  .control-group
    = f.label :prepaid, :class => "control-label"
    .controls
      = f.radio_button :prepaid, "true", id:"pre_paid_radio", checked: "checked"
      Pré-pago
      = f.radio_button :prepaid, "false", id:"post_paid_radio"
      Pós-pago

  - if @user == @current_user
    %hr{:style => "border-color: #ff6600; border-bottom: none;"}

    .control-group
      = f.label nil, :class => "control-label", :style => "position: relative;" do
        = I18n.t("views.users.edit.referral_question")
        %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
          *
      .controls
        - user_recruiter = ( @user.recruiter.present? ? [ @user.recruiter.full_name, @user.recruiter.id ] : nil )
        = select_tag :recruiter_id, options_for_select(User.all.map {|u| [u.full_name, u.id]}, user_recruiter ), :prompt => I18n.t("common_terms.no_one")

  - if @user == @current_user
    #house_configuration
      = f.submit I18n.t("views.buttons.update"), {:class => "btn btn-success btn-large btn-block"}
  - else
    #house_configuration
      = f.submit I18n.t("views.buttons.confirm"), {:class => "btn btn-success btn-large btn-block"}
