= form_for(@user, :html => {name: "configuration", :class => "form-horizontal"}, :url => {:action => action, :html => {:class => "form-horizontal", :autocomplete => "off", :multipart => true}}) do |f|

  %h1{:id => "role_title"}
    - if @user == @current_user
      = I18n.t("common_terms.configuration")
    - else
      = I18n.t("views.coordinators.users.edit")
  %br


  .control-group
    = f.label :username, :class => "control-label", :style => "position: relative;" do
      = I18n.t("activerecord.attributes.user.username")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.text_field :username, :class => "form-control"


  .control-group
    = f.label :email, :class => "control-label", :style => "position: relative;"
    .controls
      = f.text_field :email, :class => "form-control"


  .control-group
    = f.label :first_name, :class => "control-label", :style => "position: relative" do
      = I18n.t("activerecord.attributes.user.first_name")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *

    .controls
      = f.text_field :first_name, :class => "form-control"

  .control-group
    = f.label :last_name, :class => "control-label", :style => "position: relative" do
      = I18n.t("activerecord.attributes.user.last_name")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.text_field :last_name, :class => "form-control"

  .control-group{:style => "text-align: left;"}
    = I18n.t("views.users.edit.username_notice")

  .control-group
    = f.label :gender, :class => "control-label"
    .controls

      = f.radio_button :gender, "true", :checked => (@user.gender == true), :class => "inline"
      = I18n.t("common_terms.male")
      = f.radio_button :gender, "false", :checked => (@user.gender == false), :class => "inline"
      = I18n.t("common_terms.female")

  .control-group
    = f.label :profile_photo, :class => "control-label"
    .controls
      = f.file_field :profile_photo, :class => "form-control"


  .control-group
    = f.label nil, :class => "control-label", :style => "position: relative;" do
      = I18n.t("attributes.neighborhood_id")
      %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
        *
    .controls
      = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, :class => "form-control"


  .control-group
    = f.label :locale, :class => "control-label"
    .controls
      = f.select :locale, [[I18n.t("common_terms.portuguese"), User::Locales::PORTUGUESE], [I18n.t("common_terms.spanish"), User::Locales::SPANISH]], :class => "form-control"


  - if @user == @current_user
    .control-group
      = f.label :password, :class => "control-label"
      .controls
        = link_to I18n.t("views.users.edit.password"), edit_password_reset_path(@user), :class => "form-control", :id => "reset_password_link",id:'password_reset'
  - else
    .control-group
      = f.label nil, :class => "control-label", :style => "position: relative;" do
        = I18n.t("activerecord.attributes.user.password")
        %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
          *
      .controls
        = f.password_field :password
    .control-group
      = f.label nil, :class => "control-label", :style => "position: relative;" do
        = I18n.t("activerecord.attributes.user.password_confirmation")
        %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
          *
      .controls
        = f.password_field :password_confirmation



  %hr{:style => "border-color: #ff6600; border-bottom: none;"}
  .control-group
    = f.label :phone_number, :class => "control-label"
    .controls
      = f.text_field :phone_number, :placeholder => "0219xxxxxxxx", :class => "form-control"

  .control-group
    = f.label :carrier, :class => "control-label"
    .controls
      = f.text_field :carrier, :class => "form-control"

  .control-group
    = f.label :prepaid, I18n.t("views.users.edit.phone.payment"), :class => "control-label"
    .controls
      = f.radio_button :prepaid, "true", id:"pre_paid_radio", checked: "checked"
      = I18n.t("views.users.edit.phone.prepaid")
      = f.radio_button :prepaid, "false", id:"post_paid_radio"
      = I18n.t("views.users.edit.phone.postpaid")


  - if @user == @current_user
    %hr{:style => "border-color: #ff6600; border-bottom: none;"}

    .control-group
      = f.label nil, :class => "control-label", :style => "position: relative; font-size: 12px;" do
        = I18n.t("views.users.edit.referral_question")
        %span{:style => "position:absolute; top: 0px; right: -10px; color: #ff6600; font-size: 10px;"}
          *
      .controls
        - user_recruiter = ( @user.recruiter.present? ? [ @user.recruiter.full_name, @user.recruiter.id ] : nil )
        = select_tag :recruiter_id, options_for_select(User.all.map {|u| [u.full_name, u.id]}, user_recruiter ), :prompt => I18n.t("common_terms.no_one")


  = button_tag :type => "submit", :class => "btn btn-success btn-large submit-button", :style => "width: 100%;" do
    %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
    = I18n.t("views.buttons.update")
