
.row{:style => "margin-bottom: 50px;"}
  .span4
    %h1{:style => "color: #5cb85c; font-size: 50px; display: inline;"}
      = @user.total_points

    %p{:style => "text-align: left; display: inline;"}
      = I18n.t("common_terms.points")

    - if @redeemable_prizes.count > 0
      = link_to I18n.t("common_terms.exchange_points_for_prizes"), prizes_path, :style => "display:block;"

  .span5{:style => "text-align: right;"}
    - if @reports.count == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @reports.count
    %p{:style => "margin-top: 10px; display: inline;"}
      = I18n.t("dashboard.reports")

    = link_to I18n.t("common_terms.create_a_report"), neighborhood_reports_path(@neighborhood), :style => "display: block;"



.row{:style => "margin-top:10px;"}
  .span8
    - if (@user == @current_user)
      = render :partial => 'posts/new', locals: { wall: @house }

.row
  #user_recent_activity
    #user_reports.span9
      - for item in @combined_sorted
        - if item.is_a? Post
          = render :partial => 'users/show_post', :object => item, :locals => {:full => true}
        - elsif item.status == Report::STATUS[:reported]
          = render :partial => "reports/open.html.haml", :object => item, as: 'report'
        - elsif item.status == Report::STATUS[:eliminated]
          = render :partial => "reports/resolved.html.haml", :object => item, as: 'report'
