
.row{:style => "margin-bottom: 50px;"}
  .span4
    - if @user.total_points == 0
      - total_points_color = "#d9534f";
    - else
      - total_points_color = "#5cb85c";

    %h1{:style => "color: #{total_points_color}; font-size: 50px; display: inline;"}
      = @user.total_points

    %p{:style => "text-align: left; display: inline;"}
      = I18n.t("common_terms.points")

    - if @current_user == @user && @redeemable_prizes.count > 0
      = link_to I18n.t("common_terms.exchange_points_for_prizes"), prizes_path, :style => "display:block;"

  .span5{:style => "text-align: right;"}
    - if @reports.count == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @reports.count
    %p{:style => "margin-top: 10px; display: inline;"}
      = I18n.t("dashboard.reports")

    - if @current_user == @user
      = link_to I18n.t("common_terms.create_a_report"), neighborhood_reports_path(@neighborhood), :style => "display: block;"


- if (@user == @current_user)
  .row{:style => "margin-top:10px;"}
    = render :partial => 'posts/new', locals: { wall: @house }

.row
  = render :partial => "shared/news_feed"
