
.row{:style => "margin-bottom: 50px;"}
  .span5
    - if @user.total_points == 0
      - total_points_color = "#d9534f";
    - else
      - total_points_color = "#5cb85c";

    %h1{:style => "color: #{total_points_color}; font-size: 50px; display: inline;"}
      = @user.total_points

    %p{:style => "text-align: left; display: inline; font-size: 16px;"}
      = I18n.t("common_terms.points")

    - if @current_user == @user && @redeemable_prizes.count > 0
      = link_to prizes_path, :class => "btn btn-orange btn-large profile-view-points-button" do
        = I18n.t("common_terms.exchange_points_for_prizes")
      %div{:style => "display: block; margin-top: 10px;"}
        - @redeemable_prizes.limit(4).each do |p|
          = link_to prize_path(p), :style => "display: inline-block;" do
            = image_tag p.prize_photo(:small), :class => "img-circle", :style => "width: 50px; height: 50px; display: block;"
            %span{:style => "text-align: center; color: #5cb85c;"}
              = p.cost
            %span{:style => "font-size: 10px; text-align: center;"}
              = I18n.t("common_terms.points").downcase

  .span3.offset1{:style => "text-align: right;"}
    - if @reports.count == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @reports.count
    %p{:style => "margin-top: 10px; display: inline; font-size: 16px;"}
      = I18n.t("dashboard.reports")

    - if @current_user == @user
      = link_to neighborhood_reports_path(@neighborhood), :class => "btn btn-orange btn-large profile-view-reports-button", :style => "display: inline-block;" do
        = I18n.t("common_terms.create_reports")


- if (@user == @current_user)
  .row{:style => "margin-top:10px;"}
    = render :partial => 'posts/new', locals: { wall: @house }

.row
  = render :partial => "shared/news_feed"



:javascript
  $(".show-more-content-link").on("click", function(eventObj)
  {
      eventObj.preventDefault()

      var hiddenContent = $(eventObj.currentTarget).parent().find("#hidden-post-content");
      hiddenContent.css("display", "inline")
      $(eventObj.currentTarget).hide()
  })
