
.row{:style => "margin-bottom: 20px;"}
  .span5
    - if @user.total_points == 0
      - total_points_color = "#d9534f";
    - else
      - total_points_color = "#5cb85c";

    %h1{:style => "color: #{total_points_color}; font-size: 50px; display: inline;"}
      = @user.total_points

    %p{:style => "text-align: left; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @user.total_points)

    - if @current_user && @current_user == @user && @redeemable_prizes.count > 0
      = link_to prizes_path, :class => "btn btn-orange btn-large profile-view-points-button" do
        = I18n.t("common_terms.exchange_points_for_prizes")

  .span4{:style => "text-align: right;"}
    - if @reports_by_user.blank?
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @reports_by_user.present? ? @reports_by_user.count : 0
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

    %div{:style => "height: 20px;"}
      - if @current_user == @user
        = link_to neighborhood_reports_path(@neighborhood), :class => "btn btn-orange btn-large profile-view-reports-button", :style => "display: inline-block;" do
          = I18n.t("common_terms.create_reports")

.row
  - if @current_user && @current_user == @user
    - @redeemable_prizes[0..2].each do |prize|
      .span3.prizes.possible{:style => "height: 100px;"}
        .status.possible
          .name{style: "height:20px;"}
            = link_to truncate(prize.sponsor_name, length: 18), sponsor_path(prize.user)

        .prize_content
          = link_to prize_path(prize) do
            - if prize.prize_photo_file_name.nil?
              = image_tag("default_images/report_before_photo.png", :class => "prizes img-rounded")
            - else
              = image_tag(prize.prize_photo.url(:large), :class => "prizes img-rounded")
            .description{:style => "height: 35px; overflow: none;"}
              = truncate(prize.prize_name, length: 40)
            .points
              %span{:style => "color: #5cb85c; display: inline; font-weight: bold;"}
                = prize.cost
              = I18n.t("activerecord.attributes.user.total_points", :count => 3)
    - if @redeemable_prizes.any?
      .span1
        = link_to prizes_path do
          %i{:class => "fa fa-chevron-right", :style => "font-size: 24px; line-height: 100px; color: #8899a6;"}

-# ----------------------------------------------------------------------------

- if (@current_user && @user == @current_user)
  .row{:style => "margin-top:60px;"}
    = render :partial => 'posts/new'

.row
  = render :partial => "shared/news_feed"

-# ----------------------------------------------------------------------------

= render :partial => "shared/full_feed_button"

-# ----------------------------------------------------------------------------
