
.panel.panel-default
  .panel-heading
    %h3.panel-title
      Progreso
  %table.table.table-bordered
    %tbody.point-progress
      %tr
        %td.text-center{:style => "width: 33%;"}
          - if @user.total_total_points == 0
            - total_points_color = "#d9534f";
          - else
            - total_points_color = "#5cb85c";

          %h1{:style => "color: #{total_points_color};"}
            = @user.total_total_points

          %p.light-font
            = I18n.t("activerecord.attributes.user.total_points", :count => @user.total_total_points)

        %td.text-center{:style => "width: 33%;"}
          - if @green_location_ranking.blank? || @green_location_ranking == 0
            - num_of_reports_color = "#d9534f";
          - else
            - num_of_reports_color = "#5cb85c";

          %h1{:style => "color: #{num_of_reports_color};"}
            = @green_location_ranking
          %p.light-font
            casas verdes

        %td.text-center{:style => "width: 33%;"}
          - if @report_count == 0
            - num_of_reports_color = "#d9534f";
          - else
            - num_of_reports_color = "#5cb85c";

          %h1{:style => "color: #{num_of_reports_color};"}
            = @report_count
          %p.light-font
            = I18n.t("dashboard.reports")




-# ----------------------------------------------------------------------------
%div{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_user_posts_path(@user), "usernames" => User.pluck(:username), "neighborhood_id" => @neighborhood.id}
  - if (@current_user && @user == @current_user)
    .row
      .col-md-12
        .new-post
          %p.form-label{"style" => "margin-bottom: 20px;"}
            Comparta sus ideas
          %form#new_post.new_post.ng-pristine.ng-valid{"accept-charset" => "UTF-8", "ng-submit" => "createPost(post)", :enctype => "multipart/form-data", :method => "post"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "/ZyCG6FuVXwh6xxgBP0KacLLPCwHZ9Oxwlvcv/2mEx8="}/

            %textarea#post_content.form-control{:cols => "40", :name => "post[content]", "ng-model" => "post.content", :placeholder => "Para mencionar una persona, anteponer el nombre de usuario con @", :rows => "4", :required => true}
            %input#post_photo.upload_photo{:name => "post[photo]", :type => "file", "file-upload" => true}/


            .row{"style" => "margin-top: 25px;"}
              .col-sm-9
                %i.text-left.fa.fa-camera.add-photo{"ng-click" => "triggerFileInput()"}
              .col-sm-3
                .text-right
                  %button.btn.btn-success.btn-lg.submit-button{:type => "submit", "ng-class" => "{disabled: submitButtonDisabled}" }
                    %i.fa.fa-refresh.fa-spin
                    Chat

            .row
              .pull-left
                %img.preview/
              %canvas
              %input#post_compressed_photo.compressed_photo{:name => "post[compressed_photo]", :type => "hidden"}/


  .row
    .col-md-12
      #newsfeed
        %h1.text-center{"ng-show" => "errorMessage"}
          Algo salió mal. Por favor, intente nuevamente.

        %h1.text-center{"ng-show" => "dataLoading"}
          %i.fa.fa-refresh.fa-spin
        .feed-item-complete
          %div{"post" => "post", "ng-repeat" => "post in posts"}
            = render :partial => "posts/post"

          .load-more{"ng-hide" => "noMoreData"}
            .btn.btn-info.btn-lg{"ng-click" => "loadMoreMessages()"}
              %i.fa.fa-refresh{"ng-class" => "{'fa-spin': dataLoading}"}
              Cargar más




-# ----------------------------------------------------------------------------
