.post_form
  %h3 Write a Blog about Dengue...
  .row
    .col-md-10
      = form_for(@post) do |f|
        .row
          .col-md-10
            = f.error_messages
        .row
          .col-md-10
            = f.text_field :title, :placeholder => "Give a Title", :id => 'post_title'
        .row
          .col-md-10
            = f.text_area :content, :placeholder => "What is this about?", :id => 'post_content'
        .row
          .col-md-9
            %hr#post_spacer  
          .col-md-1
            = f.submit "Post", :id => 'post_submit'