
%div{:style => "margin-left: 30px; margin-right: 30px;"}
  .user_profile_picture{:style => "text-align: center;"}
    - if @user.profile_photo_file_name.nil?
      = image_tag("default_images/profile_default_image.png", :style => " width: 150px;")
    - else
      = image_tag(@user.profile_photo.url(:large), :style => " width: 150px;")

    %div{:style => "text-align: center;"}
      = @user.first_name

  .row
    - if @user == @current_user
      = link_to edit_user_path(@current_user), :style => "display: block; font-size: 15px; margin-top: 20px;" do
        %i.fa.fa-gear.fa-2
        = I18n.t("common_terms.configuration")

    - if @user == @current_user
      - house_link_text = I18n.t("dashboard.my_house")
      - community_link_text = I18n.t("dashboard.my_community")
    - else
      - house_link_text = I18n.t("common_terms.their_house")
      - community_link_text = I18n.t("common_terms.their_community")

    - if @user.neighborhood && @user.house
      = link_to neighborhood_house_path(@user.neighborhood, @user.house), :style => "display: block; font-size: 15px; margin-top: 20px;" do
        %i.fa.fa-home.fa-2
        = house_link_text

    - if @user.neighborhood
      = link_to neighborhood_path(@user.neighborhood), :style => "display: block; font-size: 15px; margin-top: 20px;" do
        %i.fa.fa-users.fa-2
        = community_link_text


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.badges").capitalize

  - if @user.total_points >= 100
    .row{:style => "text-align: center; margin-top: 20px;"}
      = render :partial => "users/badges"

  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.redeemed_prizes")

  - if @coupons.present?
    .row{:style => "text-align: center; margin-top: 20px;"}
      = render :partial => "users/coupons"
