
.denguechat-sidebar
  .sidebar-entity-photo
    = image_tag(@user.picture, :class => "img-rounded")
    .sidebar-entity-name
      = @user.display_name

  .row
    .col-md-12
      - if @user == @current_user
        .sidebar-entity-name.text-left
          = link_to edit_user_path(@current_user) do
            %i.fa.fa-gear.fa-2
            = I18n.t("common_terms.configuration")

      - if @user.neighborhood.present?
        .sidebar-entity-name.text-left
          = link_to neighborhood_path(@neighborhood) do
            %i.fa.fa-users.fa-2
            = @neighborhood.geographical_display_name


  %hr
  %h1.text-center
    = I18n.t("activerecord.models.team", :count => 2).capitalize

  .row.sidebar-row
    .col-md-12
      = render :partial => "shared/sidebar_list", :locals => {:items => @teams}


  %hr
  %h1.text-center
    = I18n.t("common_terms.badges").capitalize

  - if @user.total_points >= 100
    .row.sidebar-row.text-center
      .col-md-12
        = render :partial => "users/badges"
