= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

.row
  .span8.offset1
    .well{:style => "border: 1px solid #bdc3c7; text-align: center;"}
      = render :partial => "users/form", :locals => {:action => "update"}

  .span1
    %br
  .span7

    -# Create or join a team section.
    .well{:style => "border: 1px solid #bdc3c7; text-align: center;"}
      %h1{:id => "role_title"}
        = I18n.t("activerecord.models.team", :count => 2)
      %br
      = link_to I18n.t("views.teams.create"), teams_path(:form => true), :class => "btn btn-info btn-large btn-block"


      %h3{:style => "margin: 20px;"}
        = I18n.t("common_terms.or")

      = link_to I18n.t("views.teams.join"), teams_path, :class => "btn btn-info btn-large btn-block"

    - if @user == @current_user
      - if @current_user.coordinator?
        .well{:style => "border: 1px solid #bdc3c7;"}
          = render :partial => "users/coordinator_links"
      - elsif @current_user.role == User::Types::SPONSOR
        .well{:style => "border: 1px solid #bdc3c7;"}
          = render :partial => "users/sponsor_links"
