= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @team}


.row
  .col-md-12.col-md-offset-1
    %h1{:style => "font-size: 40px;"}
      = I18n.t("activerecord.models.user", :count => 2) + " " + @neighborhood.name

.row
  .col-md-10.col-md-offset-1
    %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}

- @users.each_slice(4) do |user_group|
  .row.col-md-offset-1
    - user_group.each do |user|
      .col-md-3{:style => "margin-bottom: 20px;"}
        = link_to image_tag(asset_path(user.picture)), user_path(user)
        = link_to user.display_name, user_path(user), :style => "display: block;"
