
.offset4
  = render :partial => "shared/form_errors", :locals => {:item => @user}


#register
  .well
    %h1 Inscreva-se
    %br
    = form_for(@user, :class => "form-horizontal") do |f|

      .control-group
        .controls
          = f.text_field :email, :placeholder => "E-mail", :style => "width: 100%;"
        .controls
          = f.text_field :first_name, :placeholder => "Nome", :style => "width: 100%;"
        .controls
          = f.text_field :last_name, :placeholder => "Sobrenome", :style => "width: 100%;"
        .controls
          = f.text_field :password, :placeholder => "Senha", :style => "width: 100%;"
        .controls
          = f.text_field :password_confirmation, :placeholder => "Confirmar senha", :style => "width: 100%;"

        .controls
          = f.submit I18n.t("views.button.submit"), :class => "btn btn-success btn-block btn-large"
