= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

#register{:style => "margin: auto; width: 25%; text-align: center;"}
  .well
    %h1
      = I18n.t("common_terms.register")
    %br
    = form_for(@user, :class => "form-horizontal") do |f|

      .control-group
        .controls
          = f.text_field :email, :placeholder => I18n.t("activerecord.attributes.user.email"), :style => "width: 100%;"
        .controls
          = f.text_field :first_name, :placeholder => I18n.t("activerecord.attributes.user.first_name"), :style => "width: 100%;"
        .controls
          = f.text_field :last_name, :placeholder => I18n.t("activerecord.attributes.user.last_name"), :style => "width: 100%;"
        .controls
          = f.text_field :password, :placeholder => I18n.t("activerecord.attributes.user.password"), :style => "width: 100%;"
        .controls
          = f.text_field :password_confirmation, :placeholder => I18n.t("activerecord.attributes.user.password_confirmation"), :style => "width: 100%;"

        .controls
          = f.submit I18n.t("views.button.submit"), :class => "btn btn-success btn-block btn-large"
