= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

.offset5.span8.well
  %h1{:style => "text-align: center;"}
    = I18n.t("common_terms.register")
  %br
  = form_for(@user, :html => {:class => "form-horizontal"}) do |f|

    .control-group
      = f.label :username, :class => "control-label"
      .controls
        = f.text_field :username

    -# .control-group
    -#   = f.label :first_name, :class => "control-label"
    -#   .controls
    -#     = f.text_field :first_name
    -#
    -# .control-group
    -#   = f.label :last_name, :class => "control-label"
    -#   .controls
    -#     = f.text_field :last_name

    .control-group
      = f.label :password, :class => "control-label"
      .controls
        = f.password_field :password

    .control-group
      = f.label :password_confirmation, :class => "control-label"
      .controls
        = f.password_field :password_confirmation

    .control-group
      = f.label :neighborhood_id, :class => "control-label"
      .controls
        = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, { :prompt => I18n.t("attributes.neighborhood_id") }

    .control-group
      .controls
        = render :partial => "shared/submit_button"
