= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @user}

.row
  .col-md-5.col-md-offset-3.well
    %h1{:style => "text-align: center;"}
      = I18n.t("common_terms.register")
    %br
    = form_for(@user, :html => {:class => "form-horizontal"}) do |f|

      .form-group
        = f.label :username, :class => "control-label col-md-6"
        .col-md-6
          = f.text_field :username, :class => "form-control"

      .form-group
        = f.label :password, :class => "control-label col-md-6"
        .col-md-6
          = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, :class => "control-label col-md-6"
        .col-md-6
          = f.password_field :password_confirmation, :class => "form-control"

      .form-group
        = f.label :neighborhood_id, :class => "control-label col-md-6"
        .col-md-6
          = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, { :prompt => I18n.t("attributes.neighborhood_id") }, :class => "form-control"

      .form-group
        .col-md-6.col-md-offset-6
          = button_tag :type => "submit", :class => "btn btn-success btn-large col-md-12 submit-button" do
            %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
            = I18n.t("views.buttons.submit")
