= render :partial => "shared/flashes"

#content{style: "min-height:700px;"}
  .row
    .span4{:style => "border-right: 1px solid #ccc;"}

      .offset1
        .user_profile_picture{:style => "float:left;margin-top:0px; width: 70px;"}
          - if @user.profile_photo_file_name.nil?
            = image_tag("default_images/profile_default_image.png")
          - else
            = image_tag(@user.profile_photo.url(:large))

        .row
          .user_name.span10{:title => @user.display_name}
            - if @user.role == "lojista"
              #{@user.shorter_display_name} (patrocinador)
            - elsif @user.role == "verificador"
              - if @user.gender == true
                #{@user.shorter_display_name} (verificador)
              - else
                #{@user.shorter_display_name} (verificadora)
            -elsif @user.role == "coordenador"
              - if @user.gender == true
                #{@user.shorter_display_name} (coordenador)
              - else
                #{@user.shorter_display_name} (coordenadora)
            - else
              = @user.shorter_display_name



        .row
          .span12
            = link_to edit_user_path(@current_user) do
              %i.fa.fa-gear.fa-2
              = I18n.t("common_terms.configuration")
          .span12
            - if @current_user.neighborhood && @current_user.house && @current_user.house.id
              - if @current_user.role != User::Types::SPONSOR
                = link_to neighborhood_house_path(@current_user.neighborhood, @current_user.house) do
                  %i.fa.fa-home.fa-2
                  = I18n.t("dashboard.my_house")
              - else
                = I18n.t("dashboard.my_house")

            - else
              - if @current_user.role != User::Types::VISITOR
                = link_to edit_user_path(@current_user) do
                  %i.fa.fa-home.fa-2
                  = I18n.t("dashboard.my_house")
              - else
                = I18n.t("dashboard.my_house")

          .span12
            - if @current_user && @current_user.neighborhood
              - relevant_link = neighborhood_path(@current_user.neighborhood)
            - elsif @current_user.role != User::Types::VISITOR
              - relevant_link = edit_user_path(@current_user)
            - else
              - relevant_link = neighborhood_path(Neighborhood.first)
            = link_to relevant_link do
              %i.fa.fa-users.fa-2
              = I18n.t("dashboard.my_community")



    .span8
      .row
        .span4
          %h1{:style => "color: #5cb85c; font-size: 50px;"}
            = @user.total_points
          %p{:style => "margin-top: 10px;"}
            = I18n.t("common_terms.points")
        .span4
          What...



      .row{:style => "margin-top:10px;"}
        .span11
          - if @isPrivatePage
            = render :partial => 'posts/new', locals: { wall: @house }







      .row
        #user_recent_activity

          .row
            .span12
              = link_to 'Todos', user_path(@user, :filter => 'all'), :class => @feed_active_all
              |
              = link_to 'Focos', user_path(@user, :filter => 'reports'), :class => @feed_active_reports
              |
              = link_to 'Blog', user_path(@user, :filter => 'posts'), :class => @feed_active_posts
          .row{ :style => "width: 1150px;"}

            #user_reports.span11
              - for item in @combined_sorted
                - if item.is_a? Post
                  = render :partial => 'users/show_post', :object => item, :locals => {:full => true}
                - elsif item.status == Report::STATUS[:reported]
                  = render :partial => "reports/open.html.haml", :object => item, as: 'report'
                - elsif item.status == Report::STATUS[:eliminated]
                  = render :partial => "reports/resolved.html.haml", :object => item, as: 'report'

  .span4{ :style => "position:absolute; right:30px; top:160px;float:right;"}
    .row{:style => "text-align:center;"}
      %br
      = link_to "Prêmios", "/premios", :class => "header_link"
    .row
      .span3.offset1
      %ul#badges_list{:style => "width:265px;max-height:400px;"}
        - if @user.total_points >= 100
          %li
            .badge_box
              .span2{:style => "margin-top:10px;margin-left:75px"}
                = image_tag("badges/de_olho.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                100 pontos

        - if @user.total_points >= 450
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/exterminador.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                450 pontos
        - if @user.total_points >= 900
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/guerreiro.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                900 pontos
        - if @user.total_points >= 1350
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/saudavel.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                1350 pontos
        - if @user.total_points >= 1800
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px;"}
                = image_tag("badges/cuido.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                1800 pontos
      %ul#coupons_list{style: "margin-left:10px;"}
        - @coupons.reverse.each do |coupon|
          = render :partial => "prize_codes/coupon", :object => coupon
