.feed-item-profile-photo
  = link_to user_path(user) do
    - if user.profile_photo_file_name.nil?
      = image_tag("default_images/user_default_alt.png")
    - else
      = image_tag(user.profile_photo.url(:small))

.feed-item-bar
  .username
    = link_to user.display_name, user_path(user)
  .feed-item-timestamp
    %i.fa.fa-clock-o
    = timestamp_in_metadata(comment.created_at)
  - if @current_user && @current_user == user
    = form_tag comment_path(comment), :method => "delete", "data-confirm" => I18n.t("views.alerts.confirm"), "data-path" => comment_path(comment), :class => "comment-delete-button" do
      = button_tag(:type => "submit") do
        %i.fa.fa-trash-o



.feed-item-content
  = comment.content
