.row
  .col-md-12
    %p.description{"style" => "display: inline-block;"}
      = I18n.t("common_terms.filter_by")

    = form_tag request.path, :style => "display: inline-block; margin-left: 10px;" do
      - searchable_neighborhoods = Neighborhood.all.map{|n| [n.name, n.id ] }
      = select_tag("neighborhood[name]", options_for_select( searchable_neighborhoods, @neighborhood ? @neighborhood.id : ""), :prompt => I18n.t("views.admin.all_communities"), :id => "search-neighborhoods")


:javascript
  $(document).ready(function()
  {
    $("#search-neighborhoods").change(function() {
      if ($(this).val())
        window.location.href = "#{request.path}?neighborhood_id=" + $(this).val()
      else
        window.location.href = "#{request.path}"
    });
  })
