.chart
  .chart-filters
    %table.table.table-bordered
      %tbody
        %tr
          %td{"style" => "width: 30%;"}
            %h2
              = I18n.t("common_terms.percentage")
            .btn-group
              - checked = (chart_cookies.blank? || [nil, "cumulative"].include?(chart_cookies["percentages"]))
              = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: chartOptions.percentages === 'cumulative'}"  do
                = radio_button_tag "chart[percentages]", "cumulative", checked, "ng-model" => "chartOptions.percentages"
                -# = I18n.t("views.statistics.chart.filters.percentages.cumulative")
                Acumulado


              - checked = (chart_cookies["percentages"] == "daily")
              = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: chartOptions.percentages === 'daily'}" do
                = radio_button_tag "chart[percentages]", "daily", checked, "ng-model" => "chartOptions.percentages"
                -# = I18n.t("views.statistics.chart.filters.percentages.daily")
                En un dia

          %td{"style" => "width: 30%;"}
            %h2
              Status

            .checkbox
              = label_tag do
                = check_box_tag "chart[positive]", "1", chart_cookies["positive"] == "1", "ng-model" => "chartOptions.positive", "ng-true-value" => "'1'", "ng-false-value" => "null"
                -# = I18n.t('views.statistics.chart.percent_of_positive_sites')
                = I18n.t("common_terms.positive")
            .checkbox
              = label_tag do
                = check_box_tag "chart[potential]", 1, chart_cookies["potential"] == "1", "ng-model" => "chartOptions.potential", "ng-true-value" => "'1'", "ng-false-value" => "null"
                -# = I18n.t('views.statistics.chart.percent_of_potential_sites')
                = I18n.t("common_terms.potential")
            .checkbox
              = label_tag do
                = check_box_tag "chart[negative]", 1, chart_cookies["negative"] == "1", "ng-model" => "chartOptions.negative", "ng-true-value" => "'1'", "ng-false-value" => "null"
                -# = I18n.t('views.statistics.chart.percent_of_negative_sites')
                = I18n.t("common_terms.negative")

          %td{"style" => "width: 40%;"}
            %h2
              = I18n.t("views.statistics.chart.time")
            .btn-group
              - [1, 3, 6].each do |month|

                = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: chartOptions.timeframe === '#{month}'}" do
                  = radio_button_tag "chart[timeframe]", month.to_s, chart_cookies["timeframe"] == month.to_s, "ng-model" => "chartOptions.timeframe"
                  = I18n.t("views.statistics.chart.filters.months", :count => month)


              = label_tag  nil, :class => "btn btn-default btn-xs", "ng-class" => "{active: chartOptions.timeframe === '-1'}" do
                = radio_button_tag "chart[timeframe]", "-1", chart_cookies["timeframe"] == "-1", "ng-model" => "chartOptions.timeframe"
                Todo
        %tr
          %td{"colspan" => 3}
            %p.chart-disclaimer
              = I18n.t("views.statistics.chart.disclaimer")



  - if request.path.include?("dashboard/graphs")
    %table.table.table-bordered
      %tr
        %td{"style" => "width: 30%;"}
          .location-filter
            %h2
              Locations
            {{ selectedLocationsText() }}

            %input.form-control{"type" => "text", "ng-model" => "search.address"}
            .locations
              .checkbox{"ng-repeat" => "location in locations | filter:search"}
                %label
                  %input{"type" => "checkbox", "ng-model" => "location.selected"}
                  {{location.address}}



            %a.btn.btn-default{"ng-click" => "checkAllLocations()"}
              Check all
            %a.btn.btn-default{"ng-click" => "uncheckAllLocations()"}
              Uncheck all

            %a.btn.btn-success{"href" => "#", "ng-click" => "refreshChartWithSelectedLocations()"}
              = I18n.t("common_terms.filter")

        %td{"style" => "width: 70%;"}
          #timeseries
            %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}
            %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
              = I18n.t("common_terms.no_data")
            #timeseries-chart{"ng-hide" => "chartLoading"}

          .legend
            .chart-legend.red
            .chart-label
              = I18n.t('views.statistics.chart.percent_of_positive_sites')
            %br
            .chart-legend.yellow
            .chart-label
              = I18n.t('views.statistics.chart.percent_of_potential_sites')
            %br
            .chart-legend.green
            .chart-label
              = I18n.t('views.statistics.chart.percent_of_negative_sites')


  - else
    #timeseries
      %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}
      %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
        = I18n.t("common_terms.no_data")
      #timeseries-chart{"ng-hide" => "chartLoading"}

    .legend
      .chart-legend.red
      .chart-label
        = I18n.t('views.statistics.chart.percent_of_positive_sites')
      %br
      .chart-legend.yellow
      .chart-label
        = I18n.t('views.statistics.chart.percent_of_potential_sites')
      %br
      .chart-legend.green
      .chart-label
        = I18n.t('views.statistics.chart.percent_of_negative_sites')


- content_for :scripts do
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript", :async => true}
