
#chart{:style => "width: 100%; height: 500px;"}


.chart-legend{:style => "margin-bottom: 40px;"}
  %div{:style => "width: 10px; height: 10px; background-color: #2ecc71; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_green_sites')
  %br
  %div{:style => "width: 10px; height: 10px; background-color: #95a5a6; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_negative_sites')
  %br
  %div{:style => "width: 10px; height: 10px; background-color: #f1c40f; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_potential_sites')
  %br
  %div{:style => "width: 10px; height: 10px; background-color: #e74c3c; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_positive_sites')


%script{:src => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}", :type => "text/javascript"}


:javascript
  google.load('visualization', '1', {packages: ['corechart']});
  google.setOnLoadCallback(drawChart);
  var statistics = #{@statistics.to_json};

  function drawChart() {
    // data.addColumn('number', 'X');
    // data.addColumn('number', 'Dogs');
    statistics.unshift([
      "#{I18n.t('views.statistics.chart.time')}",
      "#{I18n.t('views.statistics.chart.percent_of_positive_sites')}",
      "#{I18n.t('views.statistics.chart.percent_of_potential_sites')}",
      "#{I18n.t('views.statistics.chart.percent_of_negative_sites')}",
      "#{I18n.t('views.statistics.chart.percent_of_green_sites')}"
    ])

    // data.addRows(statistics);
    var data = new google.visualization.arrayToDataTable(statistics);

    var formatter = new google.visualization.NumberFormat({suffix: "%", fractionDigits: 0});
    formatter.format(data, 1);

    var options = {
      title: "#{I18n.t('views.statistics.chart.title')}",
      width: $("#chart").width(),
      chartArea: {
        left: 75,
        top: 50,
        width: "100%",
        height:"75%"
      },
      hAxis: {
        title: "#{I18n.t('views.statistics.chart.time')}",
        titleTextStyle: {
          italic: false,
          fontSize: "20"
        },
        showTextEvery: parseInt(data.getNumberOfRows() / 4)
      },
      // curveType: "function",
      vAxis: {
        title: "#{I18n.t('common_terms.percentage')}",
        viewWindow: {
          max: 110,
          min: 0
        },
        format: "#\'%\'",
        titleTextStyle: {
          italic: false,
          fontSize: "20"
        }
      },
      backgroundColor: '#eff0f3',
      colors: ["#e74c3c", "#f1c40f", "#95a5a6", "#2ecc71"],
      legend: {
        position: "none",
        alignment: "start",
        textStyle: {
          fontSize: "15"
        }
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById("chart"));
    chart.draw(data, options);
  }
