

%h3{:style => "font-size: 24px; margin-top: 40px; text-align: center;"}
  = I18n.t('views.statistics.chart.title')

.row
  .col-md-12
    #chart{:style => "height: 250px; display: block;"}


%div{:style => "text-align: center;"}
  %div{:style => "margin-top: 10px; width: 10px; height: 10px; background-color: #e74c3c; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_positive_sites')



%div{:style => "text-align: center;"}
  %div{:style => "margin-top: 10px; width: 10px; height: 10px; background-color: #f1c40f; display: inline-block;"}
  = I18n.t('views.statistics.chart.percent_of_potential_sites')



:javascript
  google.load('visualization', '1', {packages: ['corechart']});
  google.setOnLoadCallback(drawChart);

  var statistics = #{@chart_statistics.to_json};
  console.log(statistics)
  statistics.unshift([
    "#{I18n.t('views.statistics.chart.time')}",
    "#{I18n.t('views.statistics.chart.percent_of_positive_sites')}",
    "#{I18n.t('views.statistics.chart.percent_of_potential_sites')}"
  ])

  var options = {
    width: $("#chart").width(),
    chartArea: {
      left: 50,
      right: 50,
      top: 50,
      bottom: 50,
      width: "70%",
      height:"70%"
    },
    hAxis: {
      // title: "#{I18n.t('views.statistics.chart.time')}",
      // titleTextStyle: {
      //   italic: false,
      //   fontSize: "20"
      // }
    },
    vAxis: {
      gridlines: {
        color: "transparent"
      },
      format: "#\'%\'",
      // viewWindow: {
      //   max: 110,
      //   min: 0
      // },
    },
    backgroundColor: '#eff0f3',
    colors: ["#e74c3c", "#f1c40f"],
    legend: {
      position: "none",
      alignment: "start",
      textStyle: {
        fontSize: "15"
      }
    }
  };



  function drawChart() {
    // var positiveStatistics = [];
    // var min = statistics[1][1];
    // var max = statistics[1][1];
    // for (var i = 0; i < statistics.length; i++) {
    //   positiveStatistics.push( [ statistics[i][0], statistics[i][1] ] )
    //   // if (statistics[i][1] < min)
    //   //   min = statistics[i][1]
    //   // if (statistics[i][1] > max)
    //   //   max = statistics[i][1]
    // }

    positiveStatistics = statistics;


    // data.addRows(statistics);
    var data = new google.visualization.arrayToDataTable(positiveStatistics);
    options.hAxis.showTextEvery = parseInt(data.getNumberOfRows() / 4);
    // options.colors = ["#e74c3c"];

    // options.vAxis.title = "#{I18n.t('common_terms.percentage')}"
    // options.vAxis.titleTextStyle = {
    //   italic: false,
    //   fontSize: "20"
    // }

    var formatter = new google.visualization.NumberFormat({suffix: "%", fractionDigits: 0});
    formatter.format(data, 1);


    var chart = new google.visualization.ColumnChart(document.getElementById("chart"));
    chart.draw(data, options);
  }
