
%h3.chart-title
  = I18n.t('views.statistics.chart.title')

.row
  .col-md-12
    #timeseries-chart
      %i.fa.fa-refresh.fa-spin
      %h3.empty-chart-disclaimer
        = I18n.t("common_terms.no_data")


.chart-legend.red
.chart-label
  = I18n.t('views.statistics.chart.percent_of_positive_sites')
%br
.chart-legend.yellow
.chart-label
  = I18n.t('views.statistics.chart.percent_of_potential_sites')
%br
.chart-legend.green
.chart-label
  = I18n.t('views.statistics.chart.percent_of_negative_sites')


%p.chart-disclaimer
  = I18n.t("views.statistics.chart.disclaimer")


- content_for :scripts do
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript", :async => true}
  = javascript_include_tag "chart-options"

  :javascript
    $(document).ready(function() {
      var baseURL = "#{chart_api_v0_neighborhood_path(@neighborhood)}";
      var serializedAttrs = $("#chart-filters").serialize();

      $.ajax({
        url: baseURL + "?" + serializedAttrs,
        type: "GET",
        success : function(response){
          var rawData = response;

          if (response.length == 0) {
            $(".fa-refresh").hide();
            $(".empty-chart-disclaimer").show();
          } else {
            google.load( 'visualization', '1', {'packages':['corechart'], 'callback': function(){ drawChart("timeseries-chart", rawData) } } );
          }
        }
      });
    });
