%table.table.table-bordered.location-statistics-table
  %tbody
    %tr
      %td
        %h1{:style => "color: #5cb85c;"}
          = @negative_locations.to_s
          %span{:style => "font-weight: normal; font-size: 30px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = @total_locations == 0 ? "(0%)" : "(" + ((@negative_locations.to_f / @total_locations) * 100).round(0).to_s + "%)"
        %p
          Lugares sin criaderos
      %td
        %h1{:style => "color: #d9534f;"}
          = @positive_locations.to_s
          %span{:style => "font-weight: normal; font-size: 30px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = @total_locations == 0 ? "(0%)" : "(" + ((@positive_locations.to_f / @total_locations) * 100).round(0).to_s + "%)"
        %p
          con criaderos positivos
      %td
        %h1{:style => "color: #d9534f;"}
          = @potential_locations.to_s
          %span{:style => "font-weight: normal; font-size: 30px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = @total_locations == 0 ? "(0%)" : "(" + ((@potential_locations.to_f / @total_locations) * 100).round(0).to_s + "%)"
        %p
          con criaderos potenciales
