%table.table.table-bordered.location-statistics-table{:style => "margin-bottom: 40px;"}
  %tbody
    %tr
      %td{:style => "width: 25%;"}
        %h1{:style => "color: #5cb85c;"}
          = (@total_locations * @table_statistics[:clean][:percent].round(0) / 100).round(0).to_s
          %span{:style => "font-weight: normal; font-size: 24px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = "(#{@table_statistics[:clean][:percent].round(0).to_i.to_s}%)"
        %p
          = I18n.t("views.statistics.table.clean_sites")

      %td
        %h1{:style => "color: #95a5a6;"}
          = (@total_locations * @table_statistics[:negative][:percent].round(0) / 100).round(0).to_s
          %span{:style => "font-weight: normal; font-size: 24px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = "(#{@table_statistics[:negative][:percent].round(0).to_i.to_s}%)"
        %p
          = I18n.t("views.statistics.table.negative_sites")

      %td
        %h1{:style => "color: #f1c40f;"}
          = (@total_locations * @table_statistics[:potential][:percent].round(0) / 100).round(0).to_s
          %span{:style => "font-weight: normal; font-size: 24px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = "(#{@table_statistics[:potential][:percent].round(0).to_i.to_s}%)"
        %p
          = I18n.t("views.statistics.table.potential_sites")


      %td
        %h1{:style => "color: #d9534f;"}
          = (@total_locations * @table_statistics[:positive][:percent].round(0) / 100).round(0).to_s
          %span{:style => "font-weight: normal; font-size: 24px; display: inline;"}
            de
          = @total_locations.to_s
          .percentages
            = "(#{@table_statistics[:positive][:percent].round(0).to_i.to_s}%)"
        %p
          = I18n.t("views.statistics.table.positive_sites")
