%li
  = link_to I18n.t("views.education.sections.circle_of_life"), education_path + '#ciclo'
%li
  = link_to I18n.t("views.education.sections.solution"), education_path + '#alimentacao'
%li
  = link_to I18n.t("views.education.sections.reproduction"), education_path + '#desova'
%li
  = link_to I18n.t("views.education.sections.eggs"), education_path + '#ovos'
%li
  = link_to I18n.t("views.education.sections.infographic"), education_path + '#acesse'
%li
  = link_to I18n.t("views.education.sections.origin"), education_path + '#aedes'
%li
  = link_to I18n.t("views.education.sections.name"), education_path + '#nomeA'
%li
  = link_to I18n.t("views.education.sections.ability"), education_path + '#infectar'
%li
  = link_to I18n.t("views.education.sections.why"), education_path + '#pica'
%li
  = link_to I18n.t("views.education.sections.reintroduction"), education_path + '#verdade'
%li
  = link_to I18n.t("views.education.sections.where"), education_path + '#ocorre'
