%h2{style: "margin-left: 15px;"} Sumário
%ul{style: "list-style-type:circle; margin-left:35px;"}
  = render :partial => "home/education_dropdown_pt"

%br
.accordion#accordion1

  .accordion-group
    #ciclo.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.circle_of_life")
    #collapse1.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Saiba quais são os fatores que afetam o ciclo de vida do vetor e do que ele se alimenta
        %br
        %p
          Do ovo à forma adulta, o ciclo de vida do A. aegypti varia de acordo com a temperatura, disponibilidade de alimentos e quantidade de larvas existentes no mesmo criadouro, uma vez que a competição de larvas por alimento (em um mesmo criadouro com pouca água) consiste em um obstáculo ao amadurecimento do inseto para a fase adulta. Em condições ambientais favoráveis, após a eclosão do ovo, o desenvolvimento do mosquito até a forma adulta pode levar um período de 10 dias. Por isso, a eliminação de criadouros deve ser realizada pelo menos uma vez por semana: assim, o ciclo de vida do mosquito será interrompido.
        %br
        = image_tag "larvae.png"
        %br
        %p{style: "color: red; font-size:16px;font-weight:bold;"}
          As larvas do A. aegypti têm tamanho reduzido, aproximadamente o de uma cabeça de agulha de costura
        %br
        %p
          Os maiores índices de infestação pelo A. aegypti são registrados em bairros com alta densidade populacional e baixa cobertura vegetal, onde o mosquito encontra alvos para alimentação mais facilmente. Outro fator importante é a falta de infraestrutura de algumas localidades. Sem fornecimento regular de água, os moradores precisam armazenar o suprimento em grandes recipientes, que na maioria das vezes não recebem os cuidados necessários e, por não serem completamente vedados, acabam tornando-se focos do mosquito.

        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #alimentacao.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.solution")
    #collapse2.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Machos e fêmeas do Aedes aegypti alimentam-se de substâncias açucaradas, como néctar e seiva. Somente a fêmea pica o homem para sugar sangue (hematofagia), alimento necessário à maturação dos ovos. Geralmente, a hematofagia é mais voraz a partir do segundo ou terceiro dia depois da emergência da pupa e da cópula com o macho.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #desova.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.reproduction")
    #collapse3.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Entenda o ciclo reprodutivo do mosquito transmissor do vírus da dengue
        %p
          O acasalamento do Aedes aegypti se dá dentro ou ao redor das habitações, geralmente nos primeiros dias depois que o mosquito chega à fase adulta. É preciso somente uma cópula para a reprodução ser concretizada, pois a fêmea guarda o esperma na espermateca. Após a cópula, as fêmeas precisam realizar a hematofogia (alimentação com sangue) importante para o desenvolvimento completo dos ovos e sua maturação nos ovários Normalmente, as fêmeas do Aedes aegypti encontram-se aptas para a postura de ovos três dias após a ingestão de sangue, passando então a procurar local para desovar.
        %p
          A desova acontece, preferencialmente, em criadouros com água limpa e parada. Os ovos são depositados nas paredes do criadouro, bem próximo à superfície da água, porém não diretamente sobre o líquido. Daí a importância de lavar, com escova ou palha de aço, as paredes dos recipientes que não podem ser eliminados, onde o ovo pode permanecer grudado.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #ovos.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.eggs")
    #collapse4.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Uma fêmea pode dar origem a 1.500 mosquitos durante a sua vida. Os ovos são distribuídos por diversos criadouros – estratégia que garante a dispersão e preservação da espécie. Se a fêmea estiver infectada pelo vírus da dengue quando realizar a postura de ovos, há a possibilidade de as larvas filhas já nascerem com o vírus, no processo chamado de transmissão vertical.
        %p
          Inicialmente, os ovos possuem cor branca e, com o passar do tempo, escurecem devido ao contato com o oxigênio. O ovo do A. aegyptimede aproximadamente 0,4 mm de comprimento e é difícil de ser observado.
        %br
        = image_tag "natureza.png"
        %br
        %p{style: "color: red; font-size:16px;margin-top:10px;"}
          Na natureza, os ovos do A. aegypti podem sobreviver até 450 dias fora d’água.
        %br
        %p
          Os ovos adquirem resistência ao ressecamento muito rapidamente, em apenas 15h após a postura. A partir de então, podem resistir a longos períodos de dessecação – até 450 dias, segundo estudos. Esta resistência é uma grande vantagem para o mosquito, pois permite que os ovos sobrevivam por muitos meses em ambientes secos, até que o próximo período chuvoso e quente propicie a eclosão.
        %br
        %p
          Em condições favoráveis de umidade e temperatura, o desenvolvimento do embrião do mosquito é concluído em 48 horas. A resistência à dessecação permite também que os ovos sejam transportados a grandes distâncias, em recipientes secos. Esse aspecto importante do ciclo de vida do mosquito demonstra a necessidade do combate continuado aos criadouros, em todas as estações do ano.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #acesse.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.infographic")
    #collapse5.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        = link_to "http://www.ioc.fiocruz.br/dengue/textos/infografico.html", "http://www.ioc.fiocruz.br/dengue/textos/infografico.html"
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/">http://www.ioc.fiocruz.br/dengue </a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
        %br
        %iframe{width: "800", height: "500", src: "//www.youtube.com/embed/uG4yIp6ZwDg", frameborder: "0"}
        %br
        %p
          Fonte: <a href="http://auladengue.ioc.fiocruz.br">http://auladengue.ioc.fiocruz.br/ </a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

%h1 O mosquito da Dengue, curiosidades do Aedes aegypti.
.accordion#accordion2

  .accordion-group
    #aedes.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.origin")
    #collapse6.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          O A. aegypti é originário do Egito. A dispersão pelo mundo ocorreu da África: primeiro da costa leste do continente para as Américas, depois da costa oeste para a Ásia.
        %br
        %iframe{width: "800", height: "500", src: "//www.youtube.com/embed/-zkg4hLZLwg", frameborder: "0"}
        %br
        %p
          Fonte: <a href="http://auladengue.ioc.fiocruz.br/">http://auladengue.ioc.fiocruz.br/</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #nomeA.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.name")
    #collapse7.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          O vetor foi descrito cientificamente pela primeira vez em 1762, quando foi denominado Culex aegypti. Culex significa “mosquito” e aegypti, egípcio, portanto: mosquito egípcio. O gênero Aedes só foi descrito em 1818. Logo verificou- se que a espécie aegypti,  descrita anos antes, apresenta características morfológicas e biológicas semelhantes às de espécies do gênero Aedes – e não às do já conhecido gênero Culex. Então, foi estabelecido o nome Aedes aegypti.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #infectar.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.ability")
    #collapse8.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Os mosquitos fêmea sugam sangue para produzir ovos. Se o mosquito da dengue estiver infectivo, poderá transmitir o vírus da dengue neste processo. Em geral, mosquitos sugam uma só pessoa a cada lote de ovos que produzem. O mosquito da dengue tem uma peculiaridade que se chama “discordância gonotrófica”, que significa que é capaz de picar mais de uma pessoa para um mesmo lote de ovos que produz. Há relato de que um só mosquito da dengue infectivo transmitiu dengue para cinco pessoas de uma mesma família, no mesmo dia.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #pica.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.why")
    #collapse9.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          A fêmea precisa de sangue para a produção de ovos. Tanto o macho quanto a fêmea se alimentam de substâncias que contêm açúcar (néctar, seiva, entre outros), mas como o macho não produz ovos, não necessita de sangue. Embora possam ocasionalmente se alimentar com sangue antes da cópula, as fêmeas intensificam a voracidade pela hematofagia após a fecundação, quando precisam ingerir sangue para realizar o desenvolvimento completo dos ovos e maturação nos ovários. Normalmente, três dias após a ingestão de sangue as fêmeas já estão aptas para a postura, passando então a procurar local para desovar.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #verdade.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.reintroduction")
    #collapse10.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          No início do século 20, a identificação do A. aegypti como transmissor da febre amarela urbana impulsionou a execução de rígidas medidas de controle que levaram, em 1955, à erradicação do mosquito no país. Em 1958, o país foi considerado livre do vetor pela Organização Mundial de Saúde (OMS). No entanto, a erradicação não recobriu a totalidade do continente americano e o vetor permaneceu em áreas como Venezuela, sul dos Estados Unidos, Guianas e Suriname, além de toda a extensão insular que engloba Caribe e Cuba.
        %br
        %p
          A hipótese mais provável para explicar a re-introdução do mosquito no Brasil é a chamada dispersão passiva dos vetores, através de deslocamentos humanos marítimos ou terrestres – dinâmica facilitada pela grande resistência do ovo do vetor ao ressecamento. No Brasil, o relaxamento das medidas de controle após a erradicação do A. aegypti permitiu sua reintrodução no país no final da década de 1960. Hoje o mosquito é encontrado em todos os Estados brasileiros.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)

  .accordion-group
    #ocorre.accordion-heading{style: "padding:10px;padding-left:30px;"}
      %a{style: "font-size:18px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
        = I18n.t("views.education.sections.where")
    #collapse11.collapse.in.accordion-body
      .accordion-inner{style: "padding: 9px 25px;"}
        %p
          Não. Há registro da doença em diversos países das Américas, bem como na África, Ásia, Austrália  e Polinésia Pacífica.
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
        %br
        %iframe{width: "800", height: "500", src: "//www.youtube.com/embed/uG4yIp6ZwDg", frameborder: "0"}
        %br
        %p
          Fonte: <a href="http://auladengue.ioc.fiocruz.br/">http://auladengue.ioc.fiocruz.br/</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
        %br
        %p
          Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html">http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
