%li
  = link_to "Organización Mundial de la Salud", education_path + '#who'
%li
  = link_to "Información del Gobierno de Mexico sobre dengue", education_path + '#information-mexico'
%li
  = link_to "Unicef", education_path + '#unicef'
%li
  = link_to "Dengue Wikipedia", education_path + '#wikipedia'
%li
  = link_to "Mapa global dengue", education_path + '#map'
