#neighborhood_list.offset1

  - @all_neighborhoods.each_with_index do |neighborhood, index|
    .span4.offset1
      .neighborhood_selection
        .neighborhood_selection_header
          %h3= link_to "Nº #{index+1} #{neighborhood.name}", neighborhood_path(neighborhood)
        = link_to image_tag("home_images/neighborhood#{index+1}.jpg"), neighborhood_path(neighborhood), :class => 'neighborhood_selection_photo'

  - if @all_neighborhoods.count < 3
    - (3 - @all_neighborhoods.count).times do
      .span4.offset1
        .neighborhood_selection
          .neighborhood_selection_header
            %h3= link_to I18n.t("landing_page.community.future_community"), neighborhood_invitation_path

          = link_to image_tag("neighborhood_default.png", :style => "height: 250px;"), neighborhood_invitation_path, :class => 'neighborhood_selection_photo'
