#register{:style => "margin-left: 40px;"}
  %ul
    = form_for(@user, html: {name: "registration_form" }) do |f|
      %li= f.text_field :email, :placeholder => I18n.t("activerecord.attributes.user.email"), :style => "width: 100%;"
      %li= f.text_field :first_name, :placeholder => I18n.t("activerecord.attributes.user.first_name"), :style => "width: 100%;"
      %li= f.text_field :last_name, :placeholder => I18n.t("activerecord.attributes.user.last_name"), :style => "width: 100%;"
      %li= f.password_field :password, :placeholder => I18n.t("activerecord.attributes.user.password"), :style => "width: 100%;"
      %li= f.password_field :password_confirmation, :placeholder => I18n.t("activerecord.attributes.user.password_confirmation"), :style => "width: 100%;"

      %li
        = f.submit I18n.t("common_terms.register"), :class => "btn btn-success btn-block btn-large"
