
= form_for(@user, html: {name: "registration_form", :class => "form-horizontal" }) do |f|

  .form-group
    = f.label :username, :class => "control-label col-md-6", :style => "font-size: 14px; font-weight: normal;"
    .col-md-6
      = f.text_field :username, :class => "form-control"

  .form-group
    = f.label :password, :class => "control-label col-md-6", :style => "font-size: 14px; font-weight: normal;"
    .col-md-6
      = f.password_field :password, :class => "form-control"


  .form-group
    = f.label :password_confirmation, :class => "control-label col-md-6", :style => "font-size: 14px; font-weight: normal;"
    .col-md-6
      = f.password_field :password_confirmation, :class => "form-control"


  .form-group
    = f.label :neighborhood_id, :class => "control-label col-md-6", :style => "font-size: 14px; font-weight: normal;"
    .col-md-6
      // TODO: CLEANUP.
      - neighborhoods = []
      - City.order(:name).includes(:neighborhoods).each{ |c| neighborhoods += c.neighborhoods.map {|n| [n.geographical_name, n.id] } }
      = f.select :neighborhood_id, neighborhoods, { :prompt => "" }, :class => "form-control"

  .form-group
    .col-md-6.col-md-offset-6
      = f.submit I18n.t("common_terms.register"), :class => "btn btn-success btn-block btn-large"
