#register{:style => "margin-left: 40px;"}
  %ul
    = form_for(@user, html: {name: "registration_form", :class => "form-horizontal" }) do |f|


      .control-group{:style => "margin-bottom: 5px;"}
        = f.label :email, :class => "control-label", :style => "font-size: 12px;" do
          = I18n.t("activerecord.attributes.user.email")
        .controls
          = f.text_field :email,  :style => "width: 100%;"


      .control-group{:style => "margin-bottom: 5px;"}
        = f.label :first_name, :class => "control-label", :style => "font-size: 12px;" do
          = I18n.t("activerecord.attributes.user.first_name")
        .controls
          = f.text_field :first_name,  :style => "width: 100%;"


      .control-group{:style => "margin-bottom: 5px;"}
        = f.label :last_name, :class => "control-label", :style => "font-size: 12px;" do
          = I18n.t("activerecord.attributes.user.last_name")
        .controls
          = f.text_field :last_name,  :style => "width: 100%;"


      .control-group{:style => "margin-bottom: 5px;"}
        = f.label :password, :class => "control-label", :style => "font-size: 12px;" do
          = I18n.t("activerecord.attributes.user.password")
        .controls
          = f.password_field :password,  :style => "width: 100%;"


      .control-group{:style => "margin-bottom: 5px;"}
        = f.label :password_confirmation, :class => "control-label", :style => "font-size: 12px; padding-top: 0px; margin-bottom: 0px;" do
          = I18n.t("activerecord.attributes.user.password_confirmation")
        .controls
          = f.password_field :password_confirmation,  :style => "width: 100%;"


      .control-group{:style => "margin-bottom: 10px;"}
        = f.label :neighborhood_id, :class => "control-label", :style => "font-size: 12px;" do
          = I18n.t("attributes.neighborhood_id")
        .controls
          = f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] }, { :prompt => I18n.t("attributes.neighborhood_id") }, :style => "width: 100%;"

      .control-group{:style => "margin-bottom: 10px;"}
        .controls
          = f.submit I18n.t("common_terms.register"), :class => "btn btn-success btn-block btn-large"
