= render :partial => "shared/flashes"

.row
  .span15.offset1
    %h1
      = I18n.t("views.education.title")
    %br
    %h2
      = I18n.t("views.education.summary")
    %ul{style: "list-style-type:circle; margin-left:30px;"}
      - @sections.each do |ds|
        %li
          = link_to ds.title, "##{ds.html_id_tag}"

    %br
    %br
    - if @current_user && @current_user.coordinator?
      = link_to new_documentation_section_path, :style => "font-size: 20px;" do
        %i.fa.fa-plus
        = I18n.t("views.documentation_sections.new.title")

    %br
    %br
    %br
    .accordion#accordion1
      - @sections.each do |ds|
        .accordion-group
          .accordion-heading{style: "padding:10px;", id: "#{ds.html_id_tag}"}
            .row
              .span8
                %h1{style: "color: black;"}
                  = ds.title
              .span6{style: "text-align: right;"}
                - if @current_user && @current_user.coordinator?
                  = link_to I18n.t("views.buttons.edit"), edit_documentation_section_path(ds)



          #cadastrar.accordion-body
            .accordion-inner{style: "padding: 9px 25px;"}
              = ds.content.gsub(" ", "&nbsp;").gsub("\n",'<br />').html_safe
