/------------------------------------------------------------------------------

= render :partial => "shared/flashes"


.landing-page-banner
  = render :partial => "orange_slider"

.container-silver{:style => "height: 300px;"}
  .row{:style => "margin-top: 30px;"}
    .col-md-3.col-md-offset-2{:style => "text-align: center;"}
      %i.fa.fa-comments{:style => "font-size: 84px;"}

      %h2{:style => "color: #333; font-size: 16px; line-height: 25px; margin-top: 20px;"}
        = I18n.t("views.home.chat_description")
    .col-md-3.col-md-offset-2{:style => "text-align: center;"}
      %i.fa.fa-futbol-o{:style => "font-size: 84px;"}

      %h2{:style => "color: #333; font-size: 16px; line-height: 25px; margin-top: 20px;"}
        = I18n.t("views.home.teams_description")



/------------------------------------------------------------------------------

/ Render the header, along with a dropdown to other neighborhoods.
.container-white
  .row
    .col-md-12
      %h2{:style => "color: black; font-size: 32px; text-align: center; margin-top: 10px; margin-bottom: 10px;"}
        = I18n.t("views.home.cities.title")
    -# .col-md-6{:style => "width: 325px;"}
    -#   = form_tag neighborhood_search_path, :style => "margin: 0px; text-align: right;" do
    -#     - neighborhoods = @searchable_neighborhoods << [I18n.t("landing_page.community.future_community"), neighborhood_invitation_path]
    -#     = select_tag("neighborhood[name]", options_for_select( neighborhoods  ), :prompt => I18n.t("landing_page.community.search_for_other_communities"), :id => "search-neighborhoods")


  /------------------------------------------------------------------------------
  / Display a list of neighborhoods.

  .row{:style => "margin-top: 40px; margin-bottom: 40px;"}
    = render "home/neighborhood_list"

  .row{:style => "margin-top: 60px; margin-bottom: 40px;"}
    .col-md-12
      %p{:style => "text-align: center; font-size: 18px;"}
        = I18n.t("views.home.activity_description")


/------------------------------------------------------------------------------
/ Display a list of teams.

.container-silver
  .row
    .col-md-12
      %h2{:style => "color: black; font-size: 32px; text-align: center; margin-bottom: 20px;"}
        = I18n.t("common_terms.register")
  .row
    .col-md-4.col-md-offset-3{:style => "margin-top: 25px;"}
      = render "home/register_form"







/------------------------------------------------------------------------------

:javascript
  $(document).ready(function()
  {
    $("#search-neighborhoods").change(function() {
      window.location.href = $(this).val()
    });
  })

  $(".show-more-content-link").on("click", function(eventObj)
  {
      eventObj.preventDefault()

      var hiddenContent = $(eventObj.currentTarget).parent().find("#hidden-post-content");
      hiddenContent.css("display", "inline")
      $(eventObj.currentTarget).hide()
  })
