/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

.container-white
  = render :partial => "orange_slider"

/------------------------------------------------------------------------------

/ Render the header, along with a dropdown to other neighborhoods.
.container-silver{:style => "margin-top: 40px; margin-bottom: 40px;"}
  .row
    .span12.offset1
      %h1
        = I18n.t("views.home.cities.title")
    .span6{:style => "width: 325px;"}
      = form_tag neighborhood_search_path, :style => "margin: 0px; text-align: right;" do
        - neighborhoods = @searchable_neighborhoods << [I18n.t("landing_page.community.future_community"), neighborhood_invitation_path]
        = select_tag("neighborhood[name]", options_for_select( neighborhoods  ), :prompt => I18n.t("landing_page.community.search_for_other_communities"), :id => "search-neighborhoods")


  /------------------------------------------------------------------------------
  / Display a list of neighborhoods.

  .row{:style => "margin-top: 40px;"}
    = render "home/neighborhood_list"


/------------------------------------------------------------------------------
/ Display a list of teams.

.container-white
  .row
    .span4.offset1
      %h1{style: 'text-align: center;'}
        = I18n.t("activerecord.models.team", :count => 2)
      %ul#house_list{:style => "margin-top: 30px; margin-left: 0px;"}
        - @teams.shuffle.each do |team|
          %li
            #house_photo_thumb
              = image_tag(team.picture, :class => "img-rounded")

            %div{:style => "margin-top: 10px;"}
              = link_to team.name, team_path(team)


    -# Display the news feed.
    .span10{:style => "margin-left: 40px;"}
      %h1{style: 'text-align: center;'}
        = I18n.t("common_terms.activities")
      = render :partial => "shared/news_feed"

      .span9{:style => "text-align: center;"}
        = link_to new_user_path, :style => "color: #6655ee; font-size: 20px;" do
          %i.fa.fa-chevron-down
          = I18n.t("common_terms.more")

    -# Display a list of prizes.
    .span4{:style => "margin-left: 30px; text-align: center;"}
      %h1
        = link_to I18n.t("common_terms.badges").capitalize, prizes_path, :style => "color: #65665C;"

      #badges.prizes{style: "margin-top:20px; margin-top: 30px;"}
        = render :partial => "prizes/badges_in_column"








/------------------------------------------------------------------------------

:javascript
  $(document).ready(function()
  {
    $("#search-neighborhoods").change(function() {
      window.location.href = $(this).val()
    });
  })

  $(".show-more-content-link").on("click", function(eventObj)
  {
      eventObj.preventDefault()

      var hiddenContent = $(eventObj.currentTarget).parent().find("#hidden-post-content");
      hiddenContent.css("display", "inline")
      $(eventObj.currentTarget).hide()
  })
