/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "orange_slider"

/------------------------------------------------------------------------------

/ Render the header, along with a dropdown to other neighborhoods.
.row{:style => "margin-top: 40px;"}
  .span10.offset1
    %h1
      = I18n.t("landing_page.community.title")
  .span5{:style => "width: 325px;"}
    = form_tag neighborhood_search_path, :style => "margin: 0px; text-align: right;" do
      - searchable_neighborhoods = Neighborhood.all.map{|n| [n.name, neighborhood_path(n)] }
      - searchable_neighborhoods << [I18n.t("landing_page.community.future_community"), neighborhood_invitation_path]
      = select_tag("neighborhood[name]", options_for_select( searchable_neighborhoods  ), :prompt => I18n.t("landing_page.community.search_for_other_communities"), :id => "search-neighborhoods")


/------------------------------------------------------------------------------
/ Display a list of neighborhoods.

.row{:style => "margin-top: 40px;"}
  = render "home/neighborhood_list"


/------------------------------------------------------------------------------
/ Display a list of teams.

.row{:style => "margin-top: 40px;"}
  .span2.offset1
    %h1{style: 'text-align: center;'}
      = I18n.t("activerecord.models.team", :count => 2)
    %ul#house_list{:style => "margin-top: 30px; margin-left: 0px;"}
      - @teams.shuffle.each do |team|
        %li
          #house_photo_thumb
            = image_tag(team.picture, :class => "img-rounded")

          %div{:style => "margin-top: 10px;"}
            = link_to team.name, team_path(team)


  -# Display the news feed.
  .span9{:style => "margin-left: 40px;"}
    %h1{style: 'text-align: center;'}
      = I18n.t("common_terms.activities")
    = render :partial => "shared/news_feed"

    .span9{:style => "text-align: center;"}
      = link_to new_user_path, :style => "color: #6655ee; font-size: 20px;" do
        %i.fa.fa-chevron-down
        = I18n.t("common_terms.more")

  -# Display a list of prizes.
  .span4{:style => "margin-left: 30px; text-align: center;"}
    %h1
      = link_to I18n.t("activerecord.models.prize", :count => 3), prizes_path, :style => "color: #65665C;"

    #sponsors{:style => "margin-top: 22px;"}
      %ul
        - @prizes.each do |prize|
          = render :partial => "prizes/redeemed", :object => prize


/------------------------------------------------------------------------------

.row{:style => "margin-top: 40px;"}
  %h1.offset1
    = I18n.t("common_terms.partners")
  #partners.span16.offset1
    = link_to "Bill & Melinda Gates Foundation", "http://www.gatesfoundation.org"
    &middot;
    = link_to "CITRIS", "http://citris-uc.org"
    &middot;
    = link_to "IBM Research Brazil", "http://www.research.ibm.com/labs/brazil/index.shtml"
    &middot;
    = link_to "Inria", "http://www.inria.fr"
    &middot;
    = link_to "Instituto Carlos Slim de la Salud", "http://www.salud.carlosslim.org/"
    &middot;
    = link_to "Instituto Pereira Passos", "http://ipprio.rio.rj.gov.br/"
    &middot;
    = link_to "Redes da Maré", "http://redesdamare.org.br/"
    &middot;
    = link_to "Secretaria Municipal de Saúde do Rio de Janeiro", "http://www.rio.rj.gov.br/web/sms"
    &middot;
    = link_to "UBS Optimus Foundation", "http://www.ubs.com/global/en/wealth_management/optimusfoundation.html"
    &middot;
    = link_to "UC Berkeley", "http://www.berkeley.edu/index.html"
    &middot;
    = link_to "UFRJ", "http://www.ufrj.br"

/------------------------------------------------------------------------------

:javascript
  $(document).ready(function()
  {
    $("#search-neighborhoods").change(function() {
      window.location.href = $(this).val()
    });
  })

  $(".show-more-content-link").on("click", function(eventObj)
  {
      eventObj.preventDefault()

      var hiddenContent = $(eventObj.currentTarget).parent().find("#hidden-post-content");
      hiddenContent.css("display", "inline")
      $(eventObj.currentTarget).hide()
  })
