/------------------------------------------------------------------------------
%head
  :css
    html {
      scroll-behavior: smooth;
    }
    

= render :partial => "shared/flashes"
#photo.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#photo"}
    %li{"data-slide-to" => "1", "data-target" => "#photo"}
    %li{"data-slide-to" => "2", "data-target" => "#photo"}
  .carousel-inner
    .item.active
      .landing-page-banner{:style => "background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('#{asset_path("#{asset_path(@landing_page_photo_ni)}")}'); background-position: top; -webkit-background-size: cover; -moz-background-size:    cover; -o-background-size:      cover;background-size: cover;"}
      .carousel-caption 
        .row
          .col-md-8.col-md-offset-2 
            %h1{:style => "text-transform: uppercase"}
              = I18n.t("views.home.header")
        .row
          .col-md-12.text-center
            = link_to "#", :class => "btn btn-default btn-lg", "data-toggle" => "modal", "data-target" => "#video-modal-ma" do
              %i.fa.fa-play-circle
              = I18n.t("views.home.video_description")
            = link_to "Visita Managua", href="/cities/4", :class => "btn btn-default btn-success btn-lg", :style => "margin-left: 20px;"
            = link_to "Aprender más",  href="#section_cities", :class => "btn btn-default btn-primary btn-lg", :style => "margin-left: 20px;"     
        %h1 Managua
        %p Nicaragua
    .item
      .landing-page-banner{:style => "background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('#{asset_path("#{asset_path(@landing_page_photo_py)}")}'); background-position: top; -webkit-background-size: cover; -moz-background-size:    cover; -o-background-size:      cover;background-size: cover;"}
      .carousel-caption
        .row
          .col-md-8.col-md-offset-2
            %h1{:style => "text-transform: uppercase;"}
              = I18n.t("views.home.header")
        .row
          .col-md-12.text-center
            = link_to "#", :class => "btn btn-default btn-lg", "data-toggle" => "modal", "data-target" => "#video-modal-py" do
              %i.fa.fa-play-circle
              = I18n.t("views.home.video_description")
            = link_to "Visita Asunción", href="/cities/9", :class => "btn btn-default btn-success btn-lg", :style => "margin-left: 20px;"
            = link_to "Aprender más",  href="#section_cities", :class => "btn btn-default btn-primary btn-lg", :style => "margin-left: 20px;"     
        %h1 Asunción
        %p Paraguay
    .item
      .landing-page-banner{:style => "background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('#{asset_path("#{asset_path(@landing_page_photo_co)}")}'); background-position: top; -webkit-background-size: cover; -moz-background-size:    cover; -o-background-size:      cover;background-size: cover;"}
      .carousel-caption
        .row
          .col-md-8.col-md-offset-2
            %h1{:style => "text-transform: uppercase;"}
              = I18n.t("views.home.header")
        .row
          .col-md-12.text-center
            = link_to "#", :class => "btn btn-default btn-lg", "data-toggle" => "modal", "data-target" => "#video-modal-ar" do
              %i.fa.fa-play-circle
              = I18n.t("views.home.video_description")
            = link_to "Visita Armenia",  href="/cities/8", :class => "btn btn-default btn-success btn-lg", :style => "margin-left: 20px;"
            = link_to "Aprender más",  href="#section_cities", :class => "btn btn-default btn-success btn-lg", :style => "margin-left: 20px;"     
        %h1 Armenia
        %p Colombia
  %a.left.carousel-control{"data-slide" => "prev", :href => "#photo"}
    
  %a.right.carousel-control{"data-slide" => "next", :href => "#photo"}

#video-modal-py.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title
          &nbsp;
      .modal-body
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@introductory_video_on_dengue_py}", :width => "560"}

#video-modal-ar.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title
          &nbsp;
      .modal-body
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@introductory_video_on_dengue}", :width => "560"}

#video-modal-ma.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title
          &nbsp;
      .modal-body
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@introductory_video_on_dengue}", :width => "560"}

.container.marketing
  .row.featurette{:style => "margin-top: 80px;"}
    .col-md-7.col-md-push-5
      %h2.featurette-heading
        DengueChat
        %span.text-muted Comunidad
      %p.lead{:style => "font-size: 24px; margin-top: 5px;"}
        DengueChat involucra a las  comunidades en la lucha contra Dengue, Zika y Chikungunya
      .row
        .col-xs-1
          %i.fa.fa-comments{:style => "font-size: 36px; margin-right: 20px;"}
        .col-xs-11
          %p.lead
            = I18n.t("views.home.chat_description")
      .row
        .col-xs-1
          %i.fa.fa-futbol-o{:style => "font-size: 36px; margin-right: 20px;"}
        .col-xs-11
          %p.lead
            = I18n.t("views.home.teams_description")

      .row
        .col-md-6.col-md-offset-3
          = link_to "mailto:info@denguechat.com", :target => "_blank", :class => "btn btn-lg btn-block btn-success" do
            Contáctenos

    .col-md-5.col-md-pull-7
      = image_tag asset_path("denguechat_community.png"), :class => "featurette-image img-responsive center-block"

  %hr.featurette-divider
    .row.featurette
      .col-md-7

        %h2.featurette-heading
          DengueChat
          %span.text-muted Datos
        %p.lead{:style => "font-size: 24px; margin-top: 5px;"}
          Organice, analice y mida el progreso de su comunidad en la reducción del Aedes, el mosquito transmisor de los viruses del Dengue, Zika y Chikungunya
        .row
          .col-xs-1
            %i.fa.fa-wrench{:style => "font-size: 36px; margin-right: 20px;"}
          .col-xs-11
            %p.lead Herramientas versátiles para analizar la expansión o el contenimiento del vector del Dengue, Zika y Chikungunya
        .row
          .col-xs-1
            %i.fa.fa-pie-chart{:style => "font-size: 36px; margin-right: 20px;"}
          .col-xs-11
            %p.lead Al nivel de la comunidad o de la ciudad generan reportes para motivar a líderes

        .row
          .col-md-6.col-md-offset-3
            = link_to "mailto:info@denguechat.com", :target => "_blank", :class => "btn btn-lg btn-block btn-success" do
              Contáctenos


      .col-md-5
        = image_tag asset_path("denguechat_data.png"), :class => "featurette-image img-responsive center-block"


  %hr.featurette-divider
    #section_cities.row.featurette
      .col-md-12
        %h2.featurette-heading{:style => "margin-top: 0px;"}
          = I18n.t("views.home.cities_using.title")
        %p.lead
          = I18n.t("views.home.activity_description_using")

    .row{:style => "margin-top: 40px; margin-bottom: 40px;"}
      - @citiesUsing.each_with_index do |city, index|
        .col-md-3.text-center{:style => "margin-bottom: 40px;"}
          = link_to image_tag(city.photo, :style => "width: 200px; height: 200px;", :class => "img-rounded"), city_path(city)
          %br
          = link_to city.geographical_name, city_path(city), :class => "lato-font larger-font"
            
  %hr.featurette-divider
    .row.featurette
      .col-md-12
        %h2.featurette-heading{:style => "margin-top: 0px;"}
          = I18n.t("views.home.cities_that_used.title")
        %p.lead
          = I18n.t("views.home.activity_description_used")
          
    .row{:style => "margin-top: 40px; margin-bottom: 40px;"}
      - @citiesThatUsed.each_with_index do |city, index|
        .col-md-3.text-center{:style => "margin-bottom: 40px;"}
          = link_to image_tag(city.photo, :style => "width: 200px; height: 200px;", :class => "img-rounded"), city_path(city)
          %br
          = link_to city.geographical_name, city_path(city), :class => "lato-font larger-font"

  %hr.featurette-divider
    .row{:style => "margin-bottom: 80px;"}
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title.text-center
              = I18n.t("common_terms.register")
          .panel-body
            = render :partial => "users/register", :locals => {:button_text => I18n.t("common_terms.register")}

