$($("#edit_type_#{@type.id}").parent().parent().children()[0]).replaceWith('<td>#{@type.name}</td>');
$("#edit_type_#{@type.id}").html("Editar");
$("#cancel_type_#{@type.id}").hide();
$("#delete_type_#{@type.id}").show();