<%= render :partial => "shared/flashes" %>
<%= render :partial => "shared/form_errors", :locals => {:item => @feedback} %>

<%= form_for(@feedback) do |f| %>


  <div class="field">
    <%= f.label :title %>
    <% if @title == "other_type" %>
      <%= f.text_field :title, value: "Outro tipo" %>
    <% elsif @title == "other_method" %>
      <%= f.text_field :title, value: "Outro método" %>
    <% else %>
      <%= f.text_field :title, :value => @title %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <% if @current_user %>
      <%= f.text_field :email, :value => @current_user.email %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <% if @current_user %>
      <%= f.text_field :name, :value => @current_user.display_name %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <% if @title == "other_type" %>
      <%= f.text_area :message, placeholder: "Conte para nós o seu tipo de foco. (Max 3500 caracteres)", maxlength: 3500 %>
    <% elsif @title == "other_method" %>
      <%= f.text_area :message, placeholder: "Conte para nós o seu método de eliminação. (Max 3500 caracteres)", maxlength: 3500 %>
    <% else %>
      <%= f.text_area :message, placeholder: I18n.t("views.feedback.new.max_message_length"), maxlength: 3500 %>
    <% end %>

  </div>
  <div class="actions">
    <%= button_tag :type => "submit", :class => "btn btn-success btn-right submit-button", :style => "display: inline-block;" do %>
      <i class = "fa fa-refresh fa-spin" style = "display:none;"></i>
      <%= I18n.t("views.buttons.submit") %>
    <% end %>
  </div>
<% end %>
