<div class="row offset1">
  <h1>
    <%= I18n.t("views.admin.edit_feedback") %>
  </h1>
  <table class="users_table span12" border="1">
    <th><%= I18n.t("activerecord.attributes.user.email") %></th>
    <th><%= I18n.t("attributes.name") %></th>
    <th><%= I18n.t("attributes.title") %></th>
  </tr>

  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.email %></td>
      <td><%= feedback.name %></td>
      <td><%= feedback.title %></td>
    </tr>
  <% end %>

</table>
</div>
