- content_for :dashboard_content do
  %div{"ng-controller" => "locationListCtrl", "neighborhood" => @neighborhood.to_json(:only => [:id])}
    .table-header-view

      .row
        .col-md-6
          = form_tag set_cookies_users_path, :method => "POST", :class => "form-inline" do
            .form-group
              %p.form-control-static
                = I18n.t("attributes.neighborhood_id")
            .form-group
              = select_tag "neighborhood_id", options_for_select(@neighborhoods_select, :selected => @neighborhood.id),  :class => "form-control"
            = submit_tag "Submit", :class => "btn btn-success"

        .col-md-6
          .pull-right
            .checkbox{"style" => "margin-top: 20px;"}
              = label_tag do
                = check_box_tag "options[csv_only]", "1", true, "ng-model" => "dataOptions.csvOnly", "ng-true-value" => "'1'", "ng-false-value" => "null"
                CSV data only


    -# .input-group.input-group-lg
    -#   %span.input-group-addon
    -#     .fa.fa-search
    -#   %input#search-filter.form-control{:placeholder => "Search by location or visit date", :type => "text", "ng-model" => "searchText"}/


    .row
      .col-md-12
        .error-message{"ng-show" => "serverError"}
          %p.text-center.text-warning
            Algo salió mal. Por favor, intente nuevamente.

        %h1.text-center{"ng-show" => "loading"}
          %i.fa.fa-refresh.fa-spin

        %table.table.table-bordered.table-hover.text-center.statistics-table{"ng-hide" => "loading"}
          %thead
            %th.text-center
              = I18n.t("activerecord.attributes.report.location_id")
            %th.text-center
              Barrel summary
            %th.text-center
              Visit summary
            %th.text-center
              Visit time
            %th.text-center
              Status
            %th.text-center
              Positive sites
            %th.text-center
              Potential sites
          %tbody
            %tr.thick-border{"ng-repeat-start" => "location in locations"}
              %td{:rowspan => "{{location.visits.length + 1}}"}
                {{ location.address }}
              %td{:rowspan => "{{location.visits.length + 1}}"}
                %ul
                  %li
                    %span
                      {{location.barrel_reports.length}}
                      = I18n.t("activerecord.models.report.other").downcase

                  %li
                    %span
                      {{ (location.barrel_reports | filter:{protected:true}).length }}
                      = I18n.t("activerecord.attributes.report.protected")
                  %li
                    %span
                      {{ (location.barrel_reports | filter:{larvae:true}).length }}
                      = I18n.t("activerecord.attributes.report.larvae")
                  %li
                    %span
                      {{ (location.barrel_reports | filter:{pupae:true}).length }}
                      = I18n.t("activerecord.attributes.report.pupae")

                  %li
                    %span
                      {{ (location.barrel_reports | filter:{chemically_treated:true}).length }}
                      = I18n.t("activerecord.attributes.report.chemically_treated")


              %td{:rowspan => "{{location.visits.length + 1}}"}
                .progress
                  .progress-bar.progress-bar-success{"style" => "width: 33%;"}
                    {{ (location.visits | filter:{identification_type:2}).length }}
                  .progress-bar.progress-bar-warning{"style" => "width: 34%;"}
                    {{ (location.visits | filter:{identification_type:1}).length }}
                  .progress-bar.progress-bar-danger{"style" => "width: 33%;"}
                    {{ (location.visits | filter:{identification_type:0}).length }}

              %td{"ng-if" => "location.visits.length === 0"}
              %td{"ng-if" => "location.visits.length === 0"}
              %td{"ng-if" => "location.visits.length === 0"}
              %td{"ng-if" => "location.visits.length === 0"}
              %tr{"ng-repeat" => "visit in location.visits", "ng-if" => "location.visits.length !== 0"}
                %td
                  {{visit.timestamp}}
                %td
                  %span.label.status-label{"class" => "{{visit.class}}"}
                    %nbsp
                %td
                  {{ (visit.inspections | filter:{identification_type:0}).length }}
                %td
                  {{ (visit.inspections | filter:{identification_type:1}).length }}
            %tr{"ng-repeat-end" => true}

  - content_for :scripts do
    = javascript_include_tag "application"
