- content_for :dashboard_content do
  .table-header-view

    .row
      .col-md-12.text-center

        = form_tag set_cookies_users_path, :method => "POST", :class => "form-inline" do
          .form-group
            %p.form-control-static
              = I18n.t("attributes.neighborhood_id")
          .form-group
            = select_tag "neighborhood_id", options_for_select(@neighborhoods_select, :selected => @neighborhood.id),  :class => "form-control"
          = submit_tag "Submit", :class => "btn btn-success"


  .row
    .col-md-12
      %table.table.table-bordered.table-hover.text-center.statistics-table
        %thead
          %th.text-center
            CSV
          %th.text-center
            = I18n.t("activerecord.attributes.report.location_id")
          %th.text-center
            = I18n.t("activerecord.attributes.user.username")
          %th.text-center
            Visit time
          %th.text-center
            = I18n.t("activerecord.attributes.report.breeding_site_id")
          %th.text-center
            = I18n.t("activerecord.attributes.report.protected")
          %th.text-center
            = I18n.t("activerecord.attributes.report.larvae")
          %th.text-center
            = I18n.t("activerecord.attributes.report.pupae")
          %th.text-center
            = I18n.t("activerecord.attributes.report.chemically_treated")
        %tbody
          - @csvs.each do |csv|
            %tr
              // NOTE: rowspan should always be +1 since it's counting its own
              // tr as well.
              - csv_row_span = csv.visits.map {|v| v.inspections.count + 1}.sum
              %td{:rowspan => (csv_row_span + 1) }
                = link_to csv.csv_file_name, dashboard_locations_path
              %td{:rowspan => (csv_row_span + 1) }
                = link_to csv.location.address, dashboard_locations_path
              %td{:rowspan => (csv_row_span + 1) }
                = csv.user.username

              - if csv.visits.length == 0
                %td
              - else
                - csv.visits.order("visited_at ASC").includes(:inspections).each do |visit|
                  %tr
                    %td{:rowspan => (visit.inspections.count + 1)}
                      = format_csv_timestamp(visit.visited_at)

                    - visit.inspections.includes(:report).order("id ASC").each do |inspection|
                      %tr{:class => class_for_status(inspection.identification_type)}
                        - report = inspection.report
                        %td
                          = report.breeding_site.code if report.present?
                        %td
                          = display_as_icon(report.protected) if report.present?
                        %td
                          = display_as_icon(report.larvae) if report.present?
                        %td
                          = display_as_icon(report.pupae) if report.present?
                        %td
                          = display_as_icon(report.chemically_treated) if report.present?
