
.new-post
  = form_for @post, "ng-submit" => "createPost" do |f|
    = hidden_field_tag "post[neighborhood_id]", @neighborhood.id
    = f.text_area :content, :rows => 3, :placeholder => I18n.t("views.post.text_placeholder"), :class => "form-control"

    = f.file_field :photo, :class => "upload_photo"
    .row
      .pull-left
        %img.preview
      %canvas
      = hidden_field_tag "post[compressed_photo]", nil, :class => "compressed_photo"

    .row
      .col-sm-9
        %i.text-left.fa.fa-camera.add-photo
          = I18n.t("views.buttons.add_photo")
      .col-sm-3
        .text-right
          = button_tag :type => "submit", :class => "btn btn-success btn-lg submit-button" do
            %i.fa.fa-refresh.fa-spin
            = I18n.t("views.buttons.publish")

- content_for :scripts do
  :javascript
    $(document).ready(function()
    {
      $(".add-photo").on("click", function()
      {
        $("input[type='file']").trigger("click")
      })
    })
  = javascript_include_tag "image-compression"
