.container
  - if @city
    .row
      .col-md-6.col-md-offset-3
        .well
          .media
            .media-left
              %a{:href => "#"}
                = image_tag(@city.photo, :class => "media-object", :style => "width: 100px; height: 100px;")
            .media-body
              %h2.media-heading
                = @city.name
              %p.large-font
                %b
                  = @post.user.display_name
                es un ciudadano de Managua en el combate contra el Dengue, Zika y la Chikungunya.
          .row
            .col-xs-6
              = link_to "Visita " + @city.name, city_path(@city), :class => "btn btn-info btn-block"
            - if @current_user.blank?
              .col-xs-6
                = link_to "¡Unite a él! " + I18n.t("common_terms.register"), new_user_path, :class => "btn btn-success btn-block"

  .row
    .col-md-6.col-md-offset-3{:style => "margin-bottom: 40px;"}
      %div{"ng-controller" => "postCtrl", "usernames" => User.pluck(:username), "post_path" => api_v0_post_path(@post)}
        #newsfeed
          %h1.text-center{"ng-show" => "dataLoading"}
            %i.fa.fa-refresh.fa-spin
          .feed-item-complete
            %div{"ng-repeat" => "post in posts"}
              = render :partial => "posts/post"
