= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @section}

.row
  .span12.offset1
    %h1 Completar o foco
    = render :partial => "documentation_sections/form"


    %p
      - if @section.editor.present?
        = "Nota: Última edicação às #{time_ago_in_words(@section.updated_at)} atrás por #{@section.editor.full_name}"
      - else
        = I18n.t("views.documentation_sections.edit.no_edit")
