= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @team}

.row
  .col-md-6.col-md-offset-3
    .row
      .col-md-12
        %h1{:style => "font-size: 40px;"}
          - if I18n.locale.to_s == User::Locales::PORTUGUESE
            - preposition = ( @city.name == "Rio de Janeiro" ? "no" : "em")
          - else
            - preposition = "en"
          = I18n.t("activerecord.models.neighborhood", :count => 2) + " #{preposition} " + @city.name


    %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}

- @rankings.each_with_index do |neighborhood_data, index|
  - neighborhood        = neighborhood_data[0]
  - neighborhood_points = neighborhood_data[1]
  .row{:style => "height: 100px;"}
    .col-md-1.col-md-offset-3
      %h1{:style => "font-size: 48px; color: #bdc3c7; line-height: 100px;"}
        = index + 1
    .col-md-1
      = link_to neighborhood_path(neighborhood) do
        - image_tag(neighborhood.picture, :class => "img-rounded", :style => "height: 100px; width: 100px;")

    .col-md-2
      .row
        .col-md-12
          %h1
            = link_to neighborhood.name, neighborhood_path(neighborhood)
      .row
        .col-md-12{:style => "display: table; height: 65px;"}
          %span{:style => "display: table-cell; vertical-align: bottom;"}
            %span{:style => " font-size: 30px; color: #5cb85c; display: inline;"}
              = neighborhood_points
            = I18n.t("activerecord.attributes.user.total_points", :count => neighborhood.total_points)

    .col-md-2
      %div{:style => "display: table; height: 100px; width: 100%; float: left;"}
        %div{:style => "display: table-cell; vertical-align: middle;"}
          = link_to neighborhood_path(neighborhood), :class => "btn btn-success btn-large", :style => "width: 100%;" do
            = I18n.t("views.cities.show.visit")
            %i{:class => "fa fa-chevron-right"}

  .row
    .col-md-6.col-md-offset-3
      %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}
