= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @team}



.container{"ng-controller" => "cityCtrl"}
  .row
    .col-md-3
      .well
        = link_to image_tag(@city.photo, :style => "width: 306px; margin-left: -19px; margin-top: -19px; margin-right: -19px;"), city_path(@city)
        %p.lato-font.text-center{"style" => "font-size: 24px; margin-top: 10px; margin-bottom: 20px;"}
          = @city.name
        = select_tag "city", options_for_select(@cities.map {|c| [c.name, c.id]}), :prompt => "Visita...", :class => "form-control", "ng-model" => "chosenCity"

      .well
        %p.form-label
          = I18n.t("activerecord.models.neighborhood", :count => 2)
        - @neighborhoods.each do |neighborhood|
          .text-center
            = link_to neighborhood_path(neighborhood) do
              - image_tag(asset_path(neighborhood.picture), :class => "img-rounded", :style => "height: 200px; width: 200px;")
            %p.lato-font.text-center{"style" => "margin-top: 10px; margin-bottom: 20px; font-size: 18px;"}
              = link_to neighborhood.name, neighborhood_path(neighborhood)
          %hr.muted.slightly-wide


    .col-md-6{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_city_posts_path(@city), "usernames" => User.pluck(:username), "neighborhood_id" => (@current_user && @current_user.neighborhood_id) }
      - if @current_user
        %new-post-custom

      #newsfeed
        %h1.hidden.text-center{"ng-show" => "errorMessage"}
          Algo salió mal. Por favor, intente nuevamente.
        %h1.text-center{"ng-show" => "dataLoading"}
          %i.fa.fa-refresh.fa-spin

        .feed-item-complete
          %div{"post" => "post", "ng-repeat" => "post in posts"}
            = render :partial => "posts/post"

          .load-more{"ng-hide" => "noMoreData"}
            .btn.btn-info.btn-lg{"ng-click" => "loadMoreMessages()"}
              %i.fa.fa-refresh{"ng-class" => "{'fa-spin': dataLoading}"}
              Cargar más


    .col-md-3{"ng-controller" => "greenLocationsChartCtrl", "green_locations_path" => green_locations_api_v0_graph_path}
      .panel.panel-default
        .panel-heading{"data-content" => "Una Casa Verde es un hogar que en un periodo de por lo menos dos meses no tiene criaderos ni positivos ni potenciales, documentados en dos visitas consecutivas por una brigada DengueChat", "data-toggle" => "popover", "data-placement" => "top", "data-trigger" => "hover"}
          %h3.panel-title
            Casas Verdes
            .pull-right
              %i.fa.fa-question-circle{"style" => "color: #8E8E93;"}
        - if @green_location_rankings.blank?
          .panel-body
            %p.lato-font.large-font.text-center
              No hay casas verdes
        - else
          %table.table.green-houses
            %tbody
              - @green_location_rankings.each do |ranking_hash|
                - user = ranking_hash[:user]
                - next if user.blank?
                %tr
                  %td{"style" => "vertical-align: middle;"}
                    = image_tag(user.picture, :style => "height: 50px; width: 50px;", :class => "img-rounded")
                  %td{"style" => "vertical-align: middle;"}
                    .light-font
                      = link_to user.username, user_path(user)
                  %td{"style" => "vertical-align: middle;"}
                    %p.largest-font.heavy-font.text-right.green
                      = ranking_hash[:score].to_i

      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Gráficos
        .panel-body
          %h1.text-center{"ng-show" => "chartLoading == true"}
            %i.fa.fa-spin.fa-refresh
          #green-locations-chart-minor


      -# #green-locations-chart-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      -#   .modal-dialog{:role => "document"}
      -#     .modal-content
      -#       .modal-body
      -#         %h1.text-center{"ng-show" => "chartLoading == true"}
      -#           %i.fa.fa-spin.fa-refresh
      -#         #green-locations-chart-major
      -#




- content_for :scripts do
  %script{"src" => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"}


  :javascript
    $(document).ready(function() {
      $('[data-toggle="popover"]').hover(function(el) { $(el.currentTarget).popover("toggle"); })
    })
