= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @team}

.row
  .span12.offset3
    .row
      .span12
        %h1{:style => "font-size: 40px;"}
          = I18n.t("activerecord.models.neighborhood", :count => 2) + " " + @city.name


    %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}

    - @neighborhoods.each_with_index do |neighborhood, index|
      .row{:style => "height: 100px;"}
        .span2
          %h1{:style => "font-size: 48px; color: #bdc3c7; line-height: 100px;"}
            = index + 1
        .span2
          = link_to neighborhood_path(neighborhood) do
            - image_tag(neighborhood.photo, :class => "img-rounded", :style => "height: 100px; width: 100px;")

        .span5
          .row
            .span6
              %h1
                = link_to neighborhood.name, neighborhood_path(neighborhood)
          .row
            .span4{:style => "display: table; height: 65px;"}
              %span{:style => "display: table-cell; vertical-align: bottom;"}
                %span{:style => " font-size: 30px; color: #5cb85c; display: inline;"}
                  = neighborhood.total_points
                = I18n.t("activerecord.attributes.user.total_points", :count => neighborhood.total_points)

        .span3
          %div{:style => "display: table; height: 100px; width: 100%; float: left;"}
            %div{:style => "display: table-cell; vertical-align: middle;"}
              = link_to neighborhood_path(neighborhood), :class => "btn btn-success btn-large", :style => "width: 100%;" do
                = I18n.t("views.cities.show.visit")
                %i{:class => "fa fa-chevron-right"}

      %hr{:style => "border: 1px solid #e5e6e9; border-bottom: none;"}
