= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @team}

- content_for :scripts do
  %script{"src" => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"}
  :javascript
    $(document).ready(function() {
      $('[data-toggle="popover"]').hover(function(el) { $(el.currentTarget).popover("toggle"); })
    })
  :css
    .popover {
      position: fixed;
      z-index: 1000;
    }

- content_for :head do
  %meta{:property => "og:title",       :content => "Ciudadanos de #{@city.name} en el combate contra el Dengue, Zika y la Chikungunya"}
  %meta{:property => "og:description", :content => "DengueChat involucra a las comunidades en la lucha contra el Dengue, Zika y la Chikungunya"}
  %meta{:property => "og:type",        :content => "article"}
  
/------------------------------------------------------------------------------

- content_for :scripts do
  %script{"src" => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"}

/------------------------------------------------------------------------------
 
.container{"ng-controller" => "cityCtrl"}

  .row
    .col-md-3
      .well{:style => "padding-top: 0px; padding-left: 0px; padding-right: 0px;"}
        = image_tag(@city.photo, :style => "width: 100%;")
        %p.lato-font.text-center{"style" => "font-size: 24px; margin-top: 10px; margin-bottom: 20px;"}
          = @city.name
        %div{:style => "padding-left: 15px; padding-right: 15px;"}
          = select_tag "city", options_for_select(@cities.map {|c| [c.name, c.id]}), :prompt => "Visita otras ciudades...", :class => "form-control", "ng-model" => "chosenCity"

      .well
        %p.form-label
          = I18n.t("activerecord.models.neighborhood", :count => 2)
        - @neighborhoods.each do |neighborhood|
          .text-center
            = link_to neighborhood_path(neighborhood) do
              - image_tag(asset_path(neighborhood.picture), :class => "img-rounded", :style => "height: 200px; width: 200px;")
            %p.lato-font.text-center{"style" => "margin-top: 10px; margin-bottom: 20px; font-size: 18px;"}
              = link_to neighborhood.name, neighborhood_path(neighborhood)
              %span{:style => "color: #5cb85c;"}
                = @neighborhood_rankings.find {|nr| nr[:id] == neighborhood.id}[:score]
          %hr.muted.slightly-wide

    .col-md-3.col-md-push-6{"ng-controller" => "greenLocationsChartCtrl", "city" => @city.to_json, "green_locations_path" => green_locations_api_v0_graph_path}
      
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Gráfico de casas verdes
        .panel-body
          %h1.text-center{"ng-show" => "chartLoading == true"}
            %i.fa.fa-spin.fa-refresh
          #green-locations-chart-minor
      
      #tabs
        %ul.nav.nav-tabs.nav-justified
          %li.active 
            %a{"data-toggle" => "tab", :href => "#ranking"}
              Ranking
              %icon.fa.fa-question-circle{:title => "Ranking de los mejores puntos. Los puntos se obtienen reportando y eliminando criaderos y también participando en el foro de DengueChat."}


          %li
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#casas"}
              Casas Verdes
              %icon.fa.fa-question-circle{:style => "\n    width: 2px;\n    height: 2px;\n", :title => "Una Casa Verde es un hogar que en un periodo de por lo menos dos meses no tiene criaderos ni positivos ni potenciales, documentados en dos visitas consecutivas por una brigada DengueChat. Brigadistas responsables de mantener una Casa Verde ganan 200 puntos."}

        .tab-content
          #ranking.tab-pane.active
            .col-md-3.col-md-push-6{"ng-controller" => "greenLocationsChartCtrl", "city" => @city.to_json, "green_locations_path" => green_locations_api_v0_graph_path}
            .panel.panel-default
                
              - if @rankings_points.blank?
                .panel-body
                  %p.lato-font.large-font.text-center
                    No hay puntos
              - else
                %table.table.green-houses
                  %tbody
                    - @rankings_points.each do |user|
                      
                      - next if user.blank?
                      %tr
                        %td{"style" => "vertical-align: middle;"}
                          = image_tag(user.picture, :style => "height: 25px; width: 25px;", :class => "img-rounded")
                        %td{"style" => "vertical-align: middle;"}
                          .light-font
                            = user.username
                        %td{"style" => "vertical-align: middle;"}
                          %p.green
                            = user.total_points.to_i

          #casas.tab-pane
            .col-md-3.col-md-push-6{"ng-controller" => "greenLocationsChartCtrl", "city" => @city.to_json, "green_locations_path" => green_locations_api_v0_graph_path}
            .panel.panel-default   
              - if @green_location_rankings.blank?
                .panel-body
                  %p.lato-font.large-font.text-center
                    No hay casas verdes
              - else
                %table.table.green-houses   
                  %tbody
                    - @green_location_rankings.each do |ranking_hash|
                      - user = ranking_hash[:user]
                      - next if user.blank?
                      %tr
                        %td{"style" => "vertical-align: middle;"}
                          = image_tag(user.picture, :style => "height: 25px; width: 25px;", :class => "img-rounded")
                        %td{"style" => "vertical-align: middle;"}
                          .light-font
                            = link_to user.username, user_path(user), :user_id => user.id
                        %td{"style" => "vertical-align: middle;"}
                          %p.green
                            = ranking_hash[:score].to_i
      - if @facebook
        .panel.panel-default
          .fb-page{"data-adapt-container-width" => "true", "data-height" => "", "data-hide-cover" => "false", "data-href" => @facebook, "data-show-facepile" => "true", "data-small-header" => "false", "data-tabs" => "timeline", "data-width" => "500"}
          %blockquote.fb-xfbml-parse-ignore{:cite => @facebook}
            %a{:href => @facebook} Topa Dengue

      - if @twitter
        .panel.panel-default
          %a.twitter-timeline{"data-lang" => "es", "data-tweet-limit" => "3", :href => @twitter} Tweets de TopaDengue
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}

    .col-md-6.col-md-pull-3{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_posts_path(:city_id => @city.id), "usernames" => User.pluck(:username), "hashtags" => Hashtag.official_hashtags, "neighborhood_id" => (@current_user && @current_user.neighborhood_id) }
      - if @city.id == 9
        
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = I18n.t('views.statistics.chart.title')
          .panel-body{"ng-controller" => "communityTimeCityCtrl", "neighborhood_id" => @barriosid.to_json}
            .chart
              .row
                .col-xs-4
                  .chart-filters{:style => "margin-top: 0px;"}
                    .btn-group
                      = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'daily'}" do
                        = radio_button_tag "chart[percentages]", "daily", nil, "ng-model" => "options.unit"
                        En un dia
                      = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': options.unit === 'monthly'}" do
                        = radio_button_tag "chart[percentages]", "monthly", nil, "ng-model" => "options.unit"
                        En un mes


                  .chart-filters{:style => "margin-top: 0px;"}
                    .checkbox
                      %label
                        %input{:type => "checkbox", "ng-model" => "options.positive"}
                          = I18n.t("common_terms.positive")
                    .checkbox
                      %label
                        %input{:type => "checkbox", "ng-model" => "options.potential"}
                          = I18n.t("common_terms.potential")
                    .checkbox
                      %label
                        %input{:type => "checkbox", "ng-model" => "options.negative"}
                          = I18n.t("common_terms.negative")
                .col-xs-8

                  .legend{:style => "margin-left: 0px; margin-top: 0px;"}
                    %span.chart-legend.red
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_positive_sites')
                    %br
                    %span.chart-legend.yellow
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_potential_sites')
                    %br
                    %span.chart-legend.green
                    %span.chart-label.light-font
                      = I18n.t('views.statistics.chart.percent_of_negative_sites')
              %hr

              #timeseries
                %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}
                %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
                  = I18n.t("common_terms.no_data")
                #timeseries-chart{"ng-hide" => "chartLoading || noChartData"}

              %hr

              %a.btn.btn-default.btn-xs{"ng-click" => "state.showTable = !state.showTable"}
                Mostrar tabla

              %table.table.table-bordered.table-responsive{"ng-show" => "timeseries.length > 0 && state.showTable"}
                %thead
                  %th{:style => "width: 10%"}
                    Data
                  %th{"ng-repeat" => "series in timeseries"}
                    {{series.date}}

                %tbody
                  %tr
                    %td Lugares positivos
                    %td{"ng-repeat" => "series in timeseries"}
                      {{series.positive.percent}}% ({{series.positive.count}})
                  %tr
                    %td Lugares potenciales
                    %td{"ng-repeat" => "series in timeseries"}
                      {{series.potential.percent}}% ({{series.potential.count}})
                  %tr
                    %td Lugares sin criaderos
                    %td{"ng-repeat" => "series in timeseries"}
                      {{series.negative.percent}}% ({{series.negative.count}})
                  %tr
                    %td Total lugares
                    %td{"ng-repeat" => "series in timeseries"}
                      {{series.total.count}}

          .panel-footer
            %p.light-font.large-font
              = I18n.t("views.statistics.chart.disclaimer")

      - if @current_user
        %new-post-custom
      = render :partial => "shared/filter_posts"
      = render :partial => "shared/feed"




