

/------------------------------------------------------------------------------

.row{:style => "margin-bottom: 20px;"}
  .span5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = pretty_print_points(@total_points)
    %p{:style => "margin-top: 10px; display: inline; font-size: 16px;"}
      = I18n.t("common_terms.points")


  .span3.offset1{:style => "text-align: right;"}
    - if @total_reports_in_neighborhood == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports_in_neighborhood
    %p{:style => "margin-top: 10px; display: inline; font-size: 16px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

.row
  //= render :partial => "neighborhoods/news"
  #user_recent_activity
    #user_reports.span9
      - if @notices.blank?
        %p{:style => "font-size: 20px; line-height: 30px; text-align: center;"}
          = I18n.t("common_terms.this_community_has_no_activity")
      - else
        - for item in @news_feed
          - if item.is_a? Post
            = render :partial => 'users/feed_item', :locals => {:post => item, :owner => item.user}
          - elsif item.is_a? Notice
            = render :partial => 'notices/feed_item', :locals => {:notice => item}

%br

/------------------------------------------------------------------------------

:javascript
  $(".show-more-content-link").on("click", function(eventObj)
  {
      eventObj.preventDefault()

      var hiddenContent = $(eventObj.currentTarget).parent().find("#hidden-post-content");
      hiddenContent.css("display", "inline")
      $(eventObj.currentTarget).hide()
  })


/------------------------------------------------------------------------------
