

/------------------------------------------------------------------------------

.row{:style => "margin-bottom: 20px;"}
  .span12
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = I18n.t("attributes.neighborhood_id") + " de " + @neighborhood.name

.row{:style => "margin-bottom: 20px;"}
  .span5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_points
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .span4{:style => "text-align: right;"}
    - if @total_reports_in_neighborhood == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports_in_neighborhood
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

.row
  = render :partial => "shared/news_feed"

/------------------------------------------------------------------------------
