
/------------------------------------------------------------------------------

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Progreso
  %table.table.table-bordered
    %tbody.point-progress
      %tr
        %td.text-center{:style => "width: 33%;"}
          - if @green_location_count.blank? || @green_location_count == 0
            - num_of_reports_color = "#d9534f";
          - else
            - num_of_reports_color = "#5cb85c";

          %h1{:style => "color: #{num_of_reports_color};"}
            = @green_location_count
          %p.light-font
            casas verdes

        %td.text-center{:style => "width: 33%;"}
          - if @green_location_count.blank? || @green_location_count == 0
            - num_of_reports_color = "#d9534f";
          - else
            - num_of_reports_color = "#5cb85c";

          %h1{:style => "color: #{num_of_reports_color};"}
            = @green_houses_percent
          %p.light-font
            porcentaje casas verdes

        %td.text-center{:style => "width: 33%;"}
          %h1.text-success-light
            = @total_reports
          %p.light-font
            = I18n.t("dashboard.reports")




.panel.panel-default
  .panel-heading
    %h3.panel-title
      = I18n.t('views.statistics.chart.title')
  .panel-body{"ng-controller" => "houseIndexTimeseriesCtrl", "path" => locations_api_v0_graph_path, "neighborhood_id" => @neighborhood.id}
    .chart
      .row
        .col-xs-4
          .chart-filters{:style => "margin-top: 0px;"}
            .btn-group
              = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': chartOptions.percentages === 'daily'}" do
                = radio_button_tag "chart[percentages]", "daily", nil, "ng-model" => "chartOptions.percentages"
                En un dia
              = label_tag nil, :class => "btn btn-default btn-xs", "ng-class" => "{'active': chartOptions.percentages === 'monthly'}" do
                = radio_button_tag "chart[percentages]", "monthly", nil, "ng-model" => "chartOptions.percentages"
                En un mes
        .col-xs-8
          .legend{:style => "margin-left: 0px; margin-top: 0px;"}
            %span.chart-legend.red
            %span.chart-label.light-font
              = I18n.t('views.statistics.chart.percent_of_positive_sites')
            %br
            %span.chart-legend.yellow
            %span.chart-label.light-font
              = I18n.t('views.statistics.chart.percent_of_potential_sites')
            %br
            %span.chart-legend.green
            %span.chart-label.light-font
              = I18n.t('views.statistics.chart.percent_of_negative_sites')
      %hr

      #timeseries
        %i.fa.fa-refresh.fa-spin{"ng-show" => "chartLoading"}
        %h3.empty-chart-disclaimer{"ng-show" => "noChartData"}
          = I18n.t("common_terms.no_data")
        #timeseries-chart{"ng-hide" => "chartLoading || noChartData"}

  .panel-footer
    %p.light-font.large-font
      = I18n.t("views.statistics.chart.disclaimer")


.row
  .col-md-12{"ng-controller" => "DCPostListCtrl", :posts_path => api_v0_posts_path(:neighborhood_id => @neighborhood.id), "usernames" => User.pluck(:username), "hashtags" => Hashtag.official_hashtags, "neighborhood_id" => @neighborhood.id}
    %h1.text-center{"style" => "margin-top: 40px; margin-bottom: 40px;"}
      = I18n.t("views.post.feed")

    - if @current_user
      .row
        .col-md-12
          %new-post-custom

    = render :partial => "shared/filter_posts"

    .row
      .col-md-12
        = render :partial => "shared/news_feed"
        = render :partial => "shared/feed"


/------------------------------------------------------------------------------

- content_for :scripts do
  %script{"src" => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"}
