
/------------------------------------------------------------------------------

.row{:style => "margin-bottom: 20px;"}
  .col-md-10
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = @neighborhood.name

.row
  .col-md-9
    = render :partial => "shared/visits_time_series_chart"


.row
  .col-md-9
    = render :partial => "shared/chart_filters"



.row.point-progress
  .col-md-5
    %h1.text-success-light
      = @total_points
    %p
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .col-md-4.text-right
    %h1.text-success-light
      = @total_reports
    %p
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------
