

/------------------------------------------------------------------------------

.row{:style => "margin-bottom: 20px;"}
  .span10
    %h1{:style => "font-size: 40px; margin-bottom: 20px;"}
      = @neighborhood.name

.row
  .span9
    = render :partial => "shared/visit_statistics"

.row{:style => "margin-bottom: 20px; margin-top: 20px;"}
  .span5
    - if @total_points == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_points
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("activerecord.attributes.user.total_points", :count => @total_points)


  .span4{:style => "text-align: right;"}
    - if @total_reports == 0
      - num_of_reports_color = "#d9534f";
    - else
      - num_of_reports_color = "#5cb85c";

    %h1{:style => "color: #{num_of_reports_color}; font-size: 50px; display: inline;"}
      = @total_reports
    %p{:style => "margin-top: 10px; display: inline; font-size: 15px;"}
      = I18n.t("dashboard.reports")

/------------------------------------------------------------------------------

- if @current_user && @users.include?(@current_user)
  .row{:style => "margin-top:60px;"}
    = render :partial => 'posts/new'

.row
  = render :partial => "shared/news_feed"

= render :partial => "shared/full_feed_button"

/------------------------------------------------------------------------------
