
%h2 Notícias da comunidade

#neighborhood_news{style: "height:400px;overflow-x:scroll;"}
  %ul
    - @notices.each do |notice|
      %a{:href => notice_path(notice)}
        %li.col-md-4.neighborhood_news_title{:style => "height:270px;position:relative;"}
          .row
            .col-md-5
              - if notice.title.size > 28
                = notice.title[0..25] + "..."
              - else
                = notice.title
          %br
          .row
            .col-md-1
              = image_tag(notice.photo.url(:small), :style => "width: 100px;")
            .col-md-3
              // TODO: Move this into the model.
              - if notice.summary.size > 33
                = notice.summary[0..30] + "..."
              - else
                = notice.summary
          .row{style: 'margin-top: 20px;margin-left:10px;position:absolute;bottom:10px;'}
            .row
              = notice.institution_name
            .row
              = notice.location
            .row
              Data
              = notice.updated_at.strftime("%d/%m/%Y")
            .row
              Hora
              = notice.updated_at.strftime("%H:%M")
