
.denguechat-sidebar
  .sidebar-entity-photo
    = image_tag(@neighborhood.picture, :class => "img-rounded")
    .sidebar-entity-name
      = "#{@neighborhood.name}, #{@neighborhood.city.name}, #{@neighborhood.city.state_code}"
    .sidebar-entity-name
      = "#{@neighborhood.city.localized_country_name}"

  %hr
  %h1
    = I18n.t("activerecord.models.notice").capitalize

  .row.sidebar-row
    .col-md-12
      - @notices.each do |notice|
        .feed-item.notice
          .user_activity_item
            .row.feed-item-bar
              .col-md-12
                %p
                  = notice.institution_name.present? ? notice.institution_name : I18n.t("activerecord.models.notice")
                .feed-item-timestamp
                  %i.fa.fa-clock-o
                  = timestamp_in_metadata(notice.created_at)

            .row.feed-item-content
              .col-md-12
                - if notice.title.present?
                  = notice.title

              .col-md-12
                - if notice.summary.present?
                  %i.fa.fa-info-circle
                  = notice.summary

              .col-md-12
                - if notice.location.present?
                  %i.fa.fa-bank
                  = notice.location

              .col-md-12
                %i.fa.fa-calendar
                = format_timestamp(notice.date)


  %hr
  %h1
    = I18n.t("activerecord.models.team", :count => 2).capitalize

  .row.sidebar-row
    .col-md-12
      = render :partial => "shared/sidebar_list", :locals => { :items => @teams }

  %hr
  %h1
    = I18n.t("common_terms.participants").capitalize

  .row.sidebar-row
    .col-md-12
      = render :partial => "shared/sidebar_list", :locals => { :items => @users }
