
%div{:style => "margin-left: 30px; margin-right: 30px;"}
  .sidebar-entity-photo
    = image_tag(@neighborhood.picture, :class => "img-rounded")
    .sidebar-entity-name
      = "#{@neighborhood.name}, #{@neighborhood.city}, #{@neighborhood.state_string_id}"


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("activerecord.models.team", :count => 2).capitalize
  .row{:style => "margin-top: 20px; overflow-y: scroll; overflow-x: hidden; height: 280px;"}
    .span4
      = render :partial => "shared/sidebar_list", :locals => { :items => @teams }


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.participants").capitalize
  .row{:style => "margin-top: 20px; overflow-y: scroll; overflow-x: hidden; height: 280px;"}
    .span4
      = render :partial => "shared/sidebar_list", :locals => { :items => @participants }


  - if @sponsors.present?
    %hr{:style => "border-bottom: 1px solid #ccc;"}
    %h1{:style => "text-align: center; color: #333; font-size: 20px;"}
      = I18n.t("common_terms.sponsors").capitalize
    .row{:style => "margin-top: 20px; overflow-y: scroll; overflow-x: hidden; height: 280px;"}
      .span4
        = render :partial => "shared/sidebar_list", :locals => { :items => @sponsors }

    %hr{:style => "border-bottom: 1px solid #ccc;"}
