
%div{:style => "margin-left: 30px; margin-right: 30px;"}
  .user_profile_picture{:style => "text-align: center;"}
    = image_tag("home_images/neighborhood1.jpg", :style => " width: 150px;", :class => "img-rounded")

    %div{:style => "text-align: center;"}
      = @neighborhood.name


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.houses").capitalize
  .row{:style => "margin-top: 20px; overflow: scroll; height: 280px;"}
    = render :partial => "neighborhoods/houses_view"


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.participants").capitalize
  .row{:style => "margin-top: 20px; overflow: scroll; height: 280px;"}
    = render :partial => "neighborhoods/participant_view"


  - if @sponsors.present?
    %hr{:style => "border-bottom: 1px solid #ccc;"}
    %h1{:style => "text-align: center; color: #333; font-size: 20px;"}
      = I18n.t("common_terms.sponsors").capitalize

    .row
      #neighborhood_sponsors{:style => "margin-top:20px;"}
        - @sponsors.each do |sponsor|
          .span5{:style => "margin-bottom: 3px;"}
            - if sponsor.house && sponsor.house.profile_photo_file_name.present?
              = link_to image_tag(sponsor.house.profile_photo.url(:small), :width => 50, :height => 50), sponsor_path(sponsor)
            - else
              = link_to image_tag("default_images/default_sponsor_image.jpg", :width => 50, :height => 50, style: "border:1px solid #cccccc;"), sponsor_path(sponsor)
            = link_to sponsor.display_name, user_path(sponsor)
