
%div{:style => "margin-left: 30px; margin-right: 30px;"}
  .sidebar-entity-photo
    = image_tag(@neighborhood.picture, :class => "img-rounded")
    .sidebar-entity-name
      = "#{@neighborhood.name}, #{@neighborhood.city.name}, #{@neighborhood.city.state_code}"
    .sidebar-entity-name
      = "#{@neighborhood.city.localized_country_name}"

  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("activerecord.models.notice").capitalize

  .row.sidebar-row
    .col-md-12
      - @notices.each do |notice|
        .feed-item
          .user_activity_item
            .row.feed-item-bar
              .col-md-12
                %b{:style => "color: #6655ee;"}
                  = notice.institution_name.present? ? notice.institution_name : I18n.t("activerecord.models.notice")
                .feed-item-timestamp
                  %i.fa.fa-clock-o
                  = timestamp_in_metadata(notice.created_at)

            .row.feed-item-content
              .col-md-12
                - if notice.title.present?
                  = notice.title

                - if notice.summary.present?
                  %div{:style => "margin-top: 5px;"}
                    %i.fa.fa-info-circle
                    = notice.summary

                - if notice.location.present?
                  %div{:style => "margin-top: 5px;"}
                    %i.fa.fa-bank
                    = notice.location

                %div{:style => "margin-top: 5px;"}
                  %i.fa.fa-calendar
                  = format_timestamp(notice.date)



  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("activerecord.models.team", :count => 2).capitalize

  .row.sidebar-row
    .col-md-12
      = render :partial => "shared/sidebar_list", :locals => { :items => @teams }


  %hr{:style => "border-bottom: 1px solid #ccc;"}
  %h1{:style => "text-align: center; color: #333;"}
    = I18n.t("common_terms.participants").capitalize

  .row.sidebar-row
    .col-md-12
      = render :partial => "shared/sidebar_list", :locals => { :items => @users }
