.row
  .span8.offset1
    %h1 Comunidade da #{@neighborhood.name}
.row
  #neighborhood_stats.offset1
    .span3
      %b= @total_reports_in_neighborhood
      %br Total de focos marcados
    .span3
      .row
        #neighborhood_open_report_button.span1
        .span2
          %b= @opened_reports_in_neighborhood
          %br em aberto
    .span3{:style => "margin-left:-35px;"}
      .row
        #neighborhood_resolved_report_button.span1
        .span2
          %b= @eliminated_reports_in_neighborhood
          %br eliminados
%br

/------------------------------------------------------------------------------

.row
  #neighborhood_view{:style => "font-weight:bold;"}
    .span.offset1
      = link_to 'Casas (' + @houses.count.to_s + ')', neighborhood_path(params[:id]), :class => @houses_view_active
    .span
      = link_to 'Participantes (' + @participants.count.to_s + ')', neighborhood_path(params[:id], :view => 'participants'), :class => @participants_view_active


%br

/------------------------------------------------------------------------------

.row
  - if params[:view] == 'participants'
    = render :partial => "neighborhoods/participant_view"
  - else
    = render :partial => "neighborhoods/houses_view"

%br

/------------------------------------------------------------------------------

.row
  .offset1
    = render :partial => "neighborhoods/news"

%br

/------------------------------------------------------------------------------

.row
  .span12.offset1
    #neighborhood_right_panel
      %h2 Destaques da comunidade
      .row
        %h3{:style => "margin-left:10px;"} Coordenadores comunitários
        #neighborhood_coordinator.span5
          - @coordinator_blogs.each do |blog|
            - if blog
              .neighborhood_profile_box{style: "margin-bottom:10px;"}
                .span1.neighborhood_pf_picture
                  = image_tag(blog.user.profile_photo.url(:small))
                .neighborhood_quote{:style => "margin-top:-8px;padding-left:10px;"}
                  .neighborhood_person_name
                    = link_to blog.user.display_name, user_path(blog.user)
                  .neighborhood_post
                    = auto_link(blog.content)

      .row
        %h3{:style => "margin-left:10px;"} Verificadores
        #neighborhood_health_agent.span5
          - @verifier_blogs.each do |blog|
            - if blog
              .neighborhood_profile_box
                .span1.neighborhood_pf_picture
                  = image_tag(blog.user.profile_photo.url(:small))
                .neighborhood_quote{:style => "margin-top:-8px;padding-left:10px;"}
                  .neighborhood_person_name
                    = link_to blog.user.display_name, user_path(blog.user)
                  .neighboorhood_past
                    = auto_link(blog.content)



%br

/------------------------------------------------------------------------------

.row
  .offset1
    #neighborhood_sponsors{:style => "margin-top:20px;"}
      %h2 Patrocinadores
      %ul{:style => "height:300px; overflow-x:auto;"}
        - @sponsors.each do |sponsor|
          %li{:style => "width:100px; height:100px;display:inline;"}
            - if sponsor.house && sponsor.house.profile_photo_file_name.present?
              = link_to image_tag(sponsor.house.profile_photo.url(:medium), :width => 100, :height => 100), sponsor_path(sponsor)
            - else
              = link_to image_tag("default_images/default_sponsor_image.jpg", :width => 100, :height => 100, style: "border:1px solid #cccccc;"), sponsor_path(sponsor)


/------------------------------------------------------------------------------
