- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $("#neighborhood").change(function(el) {
        window.location.href = "/neighborhoods/" + el.currentTarget.value;
      });
    })

= render :partial => "shared/flashes"

.container
  .row
    .col-md-3
      = render :partial => "neighborhoods/sidebar"

    .col-md-6
      = render :partial => "neighborhoods/main"

    .col-md-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = I18n.t("activerecord.models.report", :count => 2).capitalize
        .panel-body

          .row.sidebar-reports
            .col-md-12
              - @reports.each do |r|
                - owner     = (r.eliminated? ? r.eliminator : r.reporter)
                - timestamp = (r.eliminated? ? r.eliminated_at : r.created_at)
                .feed-item
                  .report-sidebar
                    .feed-item-profile-photo
                      = link_to user_path(owner), :class => "user-image" do
                        = image_tag(asset_path(owner.picture))

                    .feed-item-bar
                      .username
                        = link_to owner.display_name, user_path(owner)
                      .feed-item-timestamp
                        = r.eliminated? ? I18n.t("common_terms.eliminated") : I18n.t("common_terms.reported")
                        = timestamp_in_metadata(timestamp)


                    .report-photo

                      = link_to neighborhood_report_path(@neighborhood, r) do
                        = image_tag(r.before_photo, :class => "img-rounded")


                      .call-to-action
                        - unless r.eliminated?
                          = link_to I18n.t("common_terms.eliminate_and_gain_points"), edit_neighborhood_report_path(@neighborhood, r), :class => "btn btn-success btn-block"

              - if params[:feed].blank?
                .more-feed-link
                  = link_to url_for(:only_path => true, :feed => 1) do
                    %i.fa.fa-chevron-down
                    = I18n.t("common_terms.more")
