<div class="container" id="assignments-page">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default assignments">
                <h2>Últimos recorridos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manzana</th>
                            <th>Visitas</th>
                            <th>Última visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @city.last_visited_city_blocks.each do |cb| %>
                        <tr>
                            <td><%= cb['city_block_name'] %></td>
                            <td><%= cb['visit_count'] %></td>
                            <td><%= DateTime.parse(cb['last_visit_date']).strftime("%F") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default assignments">
                <h2>Manzanas menos recorridas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manzana</th>
                            <th>Visitas</th>
                            <th>Última visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @city.less_visited_city_blocks.each do |cb| %>
                        <tr>
                            <td><%= cb['city_block_name'] %></td>
                            <td><%= cb['visit_count'] %></td>
                            <td><%= DateTime.parse(cb['last_visit_date']).strftime("%F") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <iframe src="https://www.google.com/maps/d/embed?mid=1yFzerNxM1S_7kcnXAwU43WnpWR9C3ZQ8" width="100%" height="640"></iframe>
            </div>
        </div>
    </div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" data-toggle="collapse" href="#organizacion">
                <h2>Organizar recorridos y tareas</h2>
            </div>
            <div id="organizacion" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <form style="padding:2rem" action="<%= assignments_post_organizations_url %>" method="post">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker">
                                            <input type="text" class="form-control" name="date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Seleccione la manzana a recorrer</label>
                                        <input type="text" class="form-control" id="city_blocks" name="blocks" data-role="tagsinput">
                                    </div>
                                    <div class="form-group">
                                        <label>Actividad a realizar</label>
                                        <input type="text" class="form-control" name="task">
                                    </div>
                                    <div class="form-group">
                                        <label>Voluntarios</label>
                                        <input type="text" class="form-control" id="volunteers" name="volunteers" data-role="tagsinput">
                                    </div>
                                    <input type="hidden" id="assignment_id">
                                    <button class="btn btn-success">Asignar</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default assignments">
                                <h2>Recorridos para hoy</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Manzana</th>
                                            <th>Última visita</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @future_assignments.each do |a| %>
                                        <tr>
                                            <td><%= a.city_block.name %></td>
                                            <td><%= a.date.strftime("%F") %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#datetimepicker").datetimepicker({
            useCurrent: true,
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash'
            }
        });
    });
</script>

<script>
$(document).ready(function() {
    var blocks = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('block_name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '<%= city_blocks_json_organizations_url(city_id: @city.id, format: :json) %>'
    });
    blocks.initialize();
    
    var volunteers = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '<%= volunteers_json_organizations_url(format: :json) %>'
    });
    volunteers.initialize();

    console.log(blocks);

    var elt = $('#city_blocks');
    elt.tagsinput({
        itemValue: 'id',
        itemText: 'block_name',
        typeaheadjs: {
            name: 'blocks',
            displayKey: 'block_name',
            source: blocks.ttAdapter()
        }
    });
    
    var elt = $('#volunteers');
    elt.tagsinput({
        itemValue: 'id',
        itemText: 'name',
        typeaheadjs: {
            name: 'volunteers',
            displayKey: 'name',
            source: volunteers.ttAdapter()
        }
    });
})
</script>