.row
  .col-md-2
    = render :partial => "prizes/badge", :locals => {:prize_image_location => "badges/de_olho.png", :prize_name => I18n.t("views.badges.eye_of_the_mosquito"), :prize_type => User::Points::WATCHER }

  .col-md-2.col-md-offset-2
    = render :partial => "prizes/badge", :locals => {:prize_image_location => "badges/exterminador.png", :prize_name => I18n.t("views.badges.exterminator"), :prize_type => User::Points::EXTERMINATOR }

  .col-md-2.col-md-offset-2
    = render :partial => "prizes/badge", :locals => {:prize_image_location => "badges/guerreiro.png", :prize_name => I18n.t("views.badges.fighter"), :prize_type => User::Points::WARRIOR }



.row{:style => "margin-top: 20px;"}
  .col-md-2.col-md-offset-2
    = render :partial => "prizes/badge", :locals => {:prize_image_location => "badges/saudavel.png", :prize_name => I18n.t("views.badges.health_worker"), :prize_type => User::Points::HEALTHWORKER }

  .col-md-2.col-md-offset-2
    = render :partial => "prizes/badge", :locals => {:prize_image_location => "badges/cuido.png", :prize_name => I18n.t("views.badges.caretaker"), :prize_type => User::Points::PROTECTOR }
