#individual_prizes.prizes
  .row
    %h2 Para a você

  .row
    - @individual.each do |individual|
      - if individual.stock == 0 or (individual.expire_on and individual.expire_on < Time.new)
        = render :partial =>  'prizes/redeemed', :object => individual
      - else
        = render :partial => 'prizes/prize', :object => individual


%br
%br
#community_prizes.prizes
  .row
    %h2 Para a comunidade
  .row
    - @community.each do |community|
      - if community.stock == 0 or (community.expire_on and community.expire_on < Time.new)
        = render :partial => "prizes/redeemed", :object => community
      - else
        = render :partial => "prizes/prize", :object => community

%br
%br
#badges.prizes{style: "margin-top:20px;"}
  .row
    %h2
      = I18n.t("common_terms.badges").capitalize
  = render :partial => "prizes/badges"
