#individual_prizes.prizes
  %h2 Para a você
  %ul.prizes_list
    - @individual.each do |individual|
      - if individual.stock == 0 or (individual.expire_on and individual.expire_on < Time.new)
        = render :partial =>  'prizes/redeemed', :object => individual 
      - else
        = render :partial => 'prizes/prize', :object => individual
%br
#community_prizes.prizes
  %h2 Para a comunidade
  %ul.prizes_list
    - @community.each do |community|
      - if community.stock == 0 or (community.expire_on and community.expire_on < Time.new)
        = render :partial => "prizes/redeemed", :object => community
      - else
        = render :partial => "prizes/prize", :object => community
%br
#badges.prizes{style: "margin-top:20px;"}
  %h2 Medalhas
  %ul.prizes_list{:style => "max-height:300px;overflow:auto; "}
    %li.span3.prizes.possible
      .status.possible
        .name
          = link_to "Dengue Torpedo", about_path
        .points
          100 pontos
      .prize_content
        = link_to image_tag("badges/de_olho.png", :class => "prizes")
        .description
          = link_to "De olho no mosquito", badges_prizes_path
        .stock
          100 pontos
    %li.span3.prizes.possible
      .status.possible
        .name
          = link_to "Dengue Torpedo", about_path
        .points
          450 pontos
      .prize_content
        = link_to image_tag("badges/exterminador.png", :class => "prizes")
        .description
          = link_to "Exterminador de mosquitos", badges_prizes_path
        .stock
          450 pontos
    %li.span3.prizes.possible
      .status.possible
        .name
          = link_to "Dengue Torpedo", about_path
        .points
          900 pontos
      .prize_content
        = link_to image_tag("badges/guerreiro.png", :class => "prizes")
        .description
          = link_to "Guerreiro DT", badges_prizes_path
        .stock
          900 pontos
    %li.span3.prizes.possible
      .status.possible
        .name
          = link_to "Dengue Torpedo", about_path
        .points
          1350 pontos
      .prize_content
        = link_to image_tag("badges/saudavel.png", :class => "prizes")
        .description
          = link_to "Comunidade Saudável", badges_prizes_path
        .stock
          1350 pontos
    %li.span3.prizes.possible
      .status.possible
        .name
          = link_to "Dengue Torpedo", about_path
        .points
          1800 pontos
      .prize_content
        = link_to image_tag("badges/cuido.png", :class => "prizes")
        .description
          = link_to "Eu cuido da comunidade", badges_prizes_path
        .stock
          1800 pontos
/ #badges.prizes
/   %h2 Medalhas
/   %ul.prizes_list{:style => "max-height:300px;overflow:auto; "}
/     - @medals.each do |medal|
/       = render :partial => "prizes/medal", :object => medal