.row
  .span12.offset1
    %h1 Prêmios

    .button_to#how_to
      = link_to "Como ganhar pontos?", "/faq"

    %br

    .row#neighborhood_stats
      .span4
        .row
          #available_prizes_button.span1
          .span3
            %b= @available.sum(:stock)
            %br Disponiveis

      .span4
        .row
          #neighborhood_resolved_report_button.span1
          .span3
            %b= @redeemed_counts
            %br Resgatados

    %br
    .row
      .span8
        %h2 Categorias

    .row
      .span12
        = render :partial => "prizes/filters"
        %br

    .row
      .span15.prizes_list
        - if params[:filter] == nil
          = render :partial => "prizes/default_list"
        - else
          - if params[:filter] == "individual"
            %h2 Para você
          - elsif params[:filter] == "community"
            %br
            %h2 Para a comunidade
          - elsif params[:filter] == "badges"
            %h2 Medalhas
          = render :partial => "prizes/filtered_list"


  = render :partial => "prizes/sponsors"
