.report-actionbar
  .row

    .col-md-6
      - if @current_user
        - is_liked = report.likes.map(&:user_id).include?(@current_user.id)
        = link_to like_neighborhood_report_path(@neighborhood, report), :class => "likes_button", "data-path" => like_neighborhood_report_path(@neighborhood, report), "data-likes_count" => report.likes.count do
          %i.fa.fa-thumbs-up.like-icon{:style => "color: #{is_liked ? '#3498db' : '#bdc3c7'}"}
            %span.likes_text
              = report.likes.count
      - else
        &nbsp;

    .col-md-6
      .pull-right
        - if @current_user && @current_user.coordinator?
          = link_to I18n.t("common_terms.edit"), coordinator_edit_neighborhood_report_path(@neighborhood, report)

        - if @current_user && (@current_user == report.reporter || @current_user.coordinator?)
          = link_to neighborhood_report_path(@neighborhood, report), :id=>'user_report_delete', :confirm => I18n.t("views.alerts.confirm"), :method => :delete do
            %i.fa.fa-trash-o

        - if @current_user && @current_user.verifier?
          - if report.is_valid?
            %i.fa.fa-check.fa-2
          - elsif report.is_invalid?
            %i.fa.fa-times.fa-2
          - else
            = link_to verify_neighborhood_reports_path(@neighborhood, :id => report.id), method: :post do
              %i.fa.fa-check.fa-2
            = link_to problem_neighborhood_reports_path(@neighborhood, :id => report.id), method: :post do
              %i.fa.fa-times.fa-2
