.report-actionbar
  .row
    .col-md-6
      - if @current_user
        -# - is_liked = report.likes.map(&:user_id).include?(@current_user.id)
        = link_to like_neighborhood_report_path(@neighborhood, report), :class => "likes_button", "data-path" => like_neighborhood_report_path(@neighborhood, report), "data-likes_count" => report.likes_count do
          %i.fa.fa-thumbs-up.like-icon
            %span
              = report.likes_count
      - else
        &nbsp;

    .col-md-6
      .pull-right
        - if @current_user && @current_user.coordinator?
          = link_to I18n.t("common_terms.edit"), coordinator_edit_neighborhood_report_path(@neighborhood, report)

        - if @current_user && (@current_user == report.reporter || @current_user.coordinator?)
          = form_tag api_v0_report_path(report), :method => "DELETE", "remote-submit" => true do
            = submit_tag I18n.t("common_terms.delete"), :class => "btn btn-danger btn-xs"
