.row.report-content-area
  .col-md-3
    = render :partial => "reports/photos", :locals => {:report => report}

  .col-md-8.col-md-offset-1
    %h1
      = I18n.t("activerecord.attributes.report.report")
    %p
      = report.report


    - if report.breeding_site_id.present?
      .row{:style => "margin-top: 15px;"}
        .col-md-6
          %h1
            = I18n.t("activerecord.attributes.report.breeding_site_id")
        .col-md-6
          .pull-right
            - if report.status == Report::Status::POSITIVE
              %i.fa.fa-exclamation-circle{:style => "color: #e67e22"}
                = I18n.t("common_terms.positive")
            - elsif report.status == Report::Status::POTENTIAL
              %i.fa.fa-exclamation-circle{:style => "color: #e67e22"}
                = I18n.t("common_terms.potential")
      %p
        = report.breeding_site.description

      - if report.eliminated?
        %h1{:style => "margin-top: 15px;"}
          = I18n.t("activerecord.models.elimination_method")
        %p
          = report.elimination_method.detailed_description
        %br

      - elsif report.open? && @current_user.present? && !report.expired?
        = render :partial => "reports/elimination_method_form", :locals => {:report => report}

    - elsif report.sms_incomplete? && @current_user.present? && @current_user.id == report.reporter_id
      = link_to I18n.t("common_terms.complete_report"), edit_neighborhood_report_path(@neighborhood, report), class: "btn btn-info", :style => "width: 100%; margin-top: 20px;"


    - if report.is_invalid?
      %p.invalid-report
        = I18n.t("report.form.problem_with_verification")
