
.span3
  .sidebar-entity-photo{:style => "margin-bottom: 10px;"}
    - if report.breeding_site_picture.present?
      = image_tag(report.breeding_site_picture, :class => "img-rounded")
    - else
      = link_to edit_neighborhood_report_path(@neighborhood, report) do
        .img-rounded{:style => "border: 1px black dashed; height: 150px; width: 150px; display: inline-block;"}

  .sidebar-entity-photo{:style => "margin-bottom: 10px;"}
    - if report.elimination_method_picture.present?
      = image_tag(report.elimination_method_picture, :class => "img-rounded")
    - else
      = link_to edit_neighborhood_report_path(@neighborhood, report) do
        .img-rounded{:style => "border: 1px black dashed; height: 150px; width: 150px; display: inline-block;"}


.span5
  - if report.is_invalid?
    .row
      .span5
        %p{:style => "color:red;font-weight:bold;margin-top:10px; font-size: 15px;"}
          = I18n.t("report.form.problem_with_verification")

  %h3{:style => "font-weight: bold;"}
    = I18n.t("activerecord.attributes.report.report")
  = report.report

  - if !report.sms_incomplete?
    - if report.location && report.location.latitude.present? && report.location.longitude.present?
      %h3{:style => "font-weight: bold;"}
        = I18n.t("activerecord.models.location")
      = report.complete_address
      = link_to I18n.t("map.find"), nil, class: "mapa", data: {location: report.location.to_json(:only => [:latitude, :longitude]) }

  %br

  - if report.breeding_site_id.present?
    .rp_report_people
      %h3{:style => "font-weight:bold;"} Tipo de foco:
      = report.breeding_site.description

      - if report.eliminated?
        %h3{:style => "font-weight:bold;"}
          = I18n.t("activerecord.models.elimination_method") + ": "
        = report.elimination_method.description
        %br

      - elsif @current_user.present?

        - if report.expired?
          %h3{:style => "font-weight:bold;"}
            = I18n.t("common_terms.time_expired")
        - else
          = render :partial => "reports/elimination_method_form", :locals => {:report => report}

  - elsif report.sms_incomplete? && @current_user.present? && @current_user.id == report.reporter_id
    = form_for(:eliminate, :url => {:controller => "reports", :neighborhood_id => @neighborhood.id, :action => "update", :html => {:autocomplete => "off", :multipart => false}}, :method=>:put) do |f|
      = hidden_field_tag 'report_id', report.id
      = link_to I18n.t("common_terms.complete_report"), edit_neighborhood_report_path(@neighborhood, report), class: "btn btn-info", :style => "width: 100%;"

  = render :partial => "reports/users_involved", :locals => {:report => report}
