/------------------------------------------------------------------------------

.row
  .col-md-3
    %p.form-label
      = I18n.t("activerecord.attributes.report.reporter_id")
    - if allow_assigning_user == true
      - team_users = calculate_team_users(@current_user)
      = f.select :reporter_id, options_for_select(team_users.map {|u| [u.username, u.id]}, :selected => (@current_user && @current_user.id) ), {}, :disabled => false, :class => "form-control"
    - else
      = f.text_field :reporter_id, :value => @current_user && @current_user.username, :disabled => "disabled", :class => "form-control"
  .col-md-3
    %p.form-label
      = I18n.t("attributes.neighborhood_id")
    = f.select :neighborhood_id, options_for_select(Neighborhood.order("name ASC").map {|bs| [bs.name, bs.id]}, :selected => @report.neighborhood_id), {}, :disabled => disable, :class => "form-control"
  .col-md-3
    %p.form-label
      = I18n.t("attributes.location_id")
    = text_field_tag "location[address]", @report.location.address, :class => "form-control", :disabled => disable
  .col-md-3
    %p.form-label
      = I18n.t("activerecord.attributes.report.created_at")
    .form-inline
      = f.date_select :created_at, {:start_year => 2012, :order => [:day, :month, :year]}, :class => "form-control", :disabled => disable_all


%hr.muted.wide

/------------------------------------------------------------------------------

.row
  .col-md-6
    %p.form-label
      = I18n.t("activerecord.attributes.report.breeding_site_id")
    = f.select :breeding_site_id, options_for_select(BreedingSite.order("code ASC").map {|bs| [bs.description_in_es, bs.id]}, :selected => @report.breeding_site_id), {:include_blank => true}, :class => "form-control", :disabled => disable_all
  .col-md-6
    %p.form-label
      = I18n.t('activerecord.attributes.report.report')
    = f.text_area :report, :cols => "1", :rows => "3", :class => "form-control", :disabled => disable_all


%hr.muted.wide

/------------------------------------------------------------------------------

.row
  .col-md-4
    %p.form-label
      = I18n.t("activerecord.attributes.report.protected") + "?"
    .display-block
      .radio-inline
        = f.radio_button :protected, "true", :disabled => disable_all
        = I18n.t("common_terms.yes_string")
      .radio-inline{:style => "margin-left: 50px;"}
        = f.radio_button :protected, "false", :disabled => disable_all
        = I18n.t("common_terms.no_html_string").html_safe
    %p.description{"style" => "font-size: 14px; line-height: 20px;"}
      = I18n.t("views.reports.protected_instructions")
  .col-md-4
    %p.form-label
      = I18n.t("activerecord.attributes.report.larvae") + "?"
    .display-block
      .radio-inline
        = f.radio_button :larvae, "true", :checked => @report.larvae == true, :disabled => disable_all
        = I18n.t("common_terms.yes_string")
      .radio-inline{:style => "margin-left: 50px;"}
        = f.radio_button :larvae, "false", :checked => @report.larvae == false, :disabled => disable_all
        = I18n.t("common_terms.no_html_string").html_safe
    %p.description{"style" => "font-size: 14px; line-height: 20px;"}
      = I18n.t("views.reports.new.description_of_larvae")

  .col-md-4
    %p.form-label
      = I18n.t("activerecord.attributes.report.pupae") + "?"
    .display-block
      .radio-inline
        = f.radio_button :pupae, "true", :checked => @report.pupae == true, :disabled => disable_all
        = I18n.t("common_terms.yes_string")
      .radio-inline{:style => "margin-left: 50px;"}
        = f.radio_button :pupae, "false",  :checked => @report.pupae == false, :disabled => disable_all
        = I18n.t("common_terms.no_html_string").html_safe
    %p.description{"style" => "font-size: 14px; line-height: 20px;"}
      = I18n.t("views.reports.new.description_of_larvae")

/------------------------------------------------------------------------------
