= form_for([@neighborhood, report], :url => eliminate_neighborhood_report_path(@neighborhood, report), :html => {:autocomplete => "off", :multipart => true}) do |f|
  .form-group
    %h1{:style => "margin-top: 15px;"}
      = I18n.t("activerecord.models.elimination_method")
    = f.select :elimination_method_id, options_for_select(report.breeding_site.elimination_methods.map{|em| [em.detailed_description, em.id]}, report.elimination_method_id), { :prompt => I18n.t("report.form.select_elimination_method") }, { :class=>"elimination_methods form-control"}

  = f.fields_for :location, report.location || Location.new do |location_fields|
    = location_fields.hidden_field :latitude
    = location_fields.hidden_field :longitude

  - if report.after_photo_file_size
    .rp_report_people
      = I18n.t("common_terms.uploaded_photo")
      = link_to "#{report.after_photo_file_name}", report.after_photo.url, :class => "user"

  .form-group
    %h1{:style => "margin-top: 15px;"}
      = I18n.t("report.form.upload_photo_of_eliminated_report")
    = f.file_field :after_photo, :disabled => (report.after_photo_file_size), :class => "upload_photo form-control"
    %img.preview{:style => "display: block;"}
    %canvas{:style => "display: none;"}
    = hidden_field_tag "report[compressed_photo]", nil, :class => "compressed_photo"


  .form-group
    %h1{:style => "margin-top: 15px;"}
      = I18n.t("activerecord.attributes.report.eliminated_at")
    .datetimepicker.input-group
      = f.text_field :eliminated_at, {:value => format_as_date(report.eliminated_at), :class=>"elimination_methods form-control", :data => {"date-format" => "YYYY-MM-DD HH:mm"} }
      %span.input-group-addon
        %i.fa.fa-calendar



  .form-group

    - should_disable = ( @current_user && [User::Types::VERIFIER, User::Types::VISITOR].include?(@current_user.role) ) || report.isVerified == "f" || report.sms_incomplete?
    = button_tag :type => "submit", :class => "report_submission btn btn-success submit-button", :disabled => should_disable, :onclick=>"setLocationVariablesUsingOSM(#{report.location.to_json},event);", :style => "width: 100%;" do
      %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
      = I18n.t("views.buttons.submit")
