
.user_activity_item{:style => "margin-left: 0px; min-height: 60px;"}
  .row
    .span1
      - if report.is_open? && report.before_photo_file_name.present?
        = image_tag(report.before_photo.url(:thumb), :style => "width: 100px;")
      - elsif report.is_eliminated? && report.after_photo_file_name.present?
        = image_tag(report.after_photo.url(:thumb), :style => "width: 100px;")
      - else
        = image_tag("default_images/report_before_photo.png", :style => "width: 100px;")

    .span7
      .row
        .span7
          = link_to owner.first_name, user_path(owner), :style => "font-weight: bold;"
          %span{:style => "color: #8899a6; display: inline;"}
            %i.fa.fa-clock-o
            = report.created_at.strftime("%d/%m/%Y")

      .row
        .span7
          - if report.is_open?
            - report_feed_content = "Encontrou um foco @ #{report.elimination_type.downcase}"
          - elsif report.is_eliminated?
            - report_feed_content = "Eliminou um foco @ #{report.elimination_type.downcase}"
          - if report_feed_content && report.complete_address.present?
            - report_feed_content += " no #{report.complete_address}"
          = report_feed_content
          = link_to I18n.t("common_terms.go_to_report"), neighborhood_reports_path(report.neighborhood), :style => "display: block;"
