.feed-item
  .user_activity_item
    .row
      .span1.feed-item-profile-photo
        = link_to user_path(owner) do
          - if owner.profile_photo_file_name.nil?
            = image_tag("default_images/user_default_alt.png")
          - else
            = image_tag(owner.profile_photo.url(:small))

      .span7
        = render :partial => "users/feed_item_metadata", :locals => {:item => report, :user => owner, :path => user_path(owner)}

        .row.feed-item-content{:style => "margin-bottom: 20px;"}
          .span7
            = report.report


    .row.feed-item-report-photo
      .span9

        .row
          .span3.offset1
            = link_to neighborhood_reports_path(report.neighborhood) do
              - if report.before_photo_file_name.present?
                = image_tag(report.before_photo.url(:thumb), :class => "img-rounded")
              - else
                = image_tag("default_images/report_before_photo.png", :class => "img-rounded")

            %div
              %i.fa.fa-eye
              = report.breeding_site.description

          .span3.offset1
            = link_to neighborhood_reports_path(report.neighborhood) do
              - if report.eliminated? && report.after_photo_file_name.present?
                = image_tag(report.after_photo.url(:thumb), :class => "img-rounded")
              - elsif report.open?
                .feed-item-elimination-incentive
                  %p
                    = I18n.t("common_terms.eliminate_and_gain_points")

              - else
                = image_tag("default_images/report_before_photo.png", :class => "img-rounded")

            %div
              - if report.eliminated? && report.elimination_method.present?
                %i.fa.fa-ban
                = report.elimination_method.description

    - if @current_user
      .row.feed-item-interaction-menu
        .span7
          = render :partial => "users/feed_item_interaction_menu", :locals => {:likeable => report, :path => like_neighborhood_report_path(report.neighborhood, report)}



  = render :partial => "users/comments", :locals => {:commentable => report, :path => comment_neighborhood_report_path(report.neighborhood, report)}
