- if @report.new_record?
  - update_url = neighborhood_reports_path(@neighborhood)
- else
  - update_url = @report.completed_at.present? ? eliminate_neighborhood_report_path(@neighborhood, @report) : prepare_neighborhood_report_path(@neighborhood, @report)

= form_for [@neighborhood, @report], :url => update_url, :html => {:autocomplete => "off", :multipart => true, :id => "new_report"} do |f|
  - if @report.reporter_id.blank?
    = f.hidden_field :reporter_id, :value => @current_user && @current_user.id

  - if @report.protected == true
    .form-group
      %p{:style => "font-size: 14px; color: black;"}
        NOTE: Since this report was marked as protected it will not appear in the reports feed.

  - unless @report.new_record?
    .form-group
      = f.label :created_at
      = f.text_field :created_at, {:value => format_as_date(@report.created_at), :class => "form-control", :disabled => true}


  .form-group
    - if @report.new_record?
      = f.label :location do
        - if @neighborhood.nicaraguan?
          1. Haga click y mueva el marcador donde encontró el foco
        - else
          = "1. " + I18n.t("report.form.address")

      = f.fields_for :location, @report.location || Location.new do |location_fields|
        - if @neighborhood.mexican? || @neighborhood.brazilian?
          = location_fields.text_field :address, :placeholder => I18n.t("attributes.address"), style: "width:500px;", class: 'address_field'
        = location_fields.hidden_field :latitude
        = location_fields.hidden_field :longitude


      %p{style: "font-weight: bold;"}
        %b{style: "color:red;"}
          = I18n.t("report.form.attention")

      #map_div{:style => "position: static;"}
        = render :partial => "reports/google_map"

    - else
      = f.label :location do
        = "1. " + I18n.t("report.form.address")
      = f.fields_for :location, @report.location || Location.new do |location_fields|
        = location_fields.text_field :address, :placeholder => I18n.t("attributes.address"), class: 'address_field form-control', :disabled => @report.completed_at.present?



  .form-group
    = f.label :breeding_site_id, "2. " + I18n.t("activerecord.attributes.report.elimination_type")
    = f.select :breeding_site_id, BreedingSite.all.map {|bs| [bs.description, bs.id]} , {:prompt => I18n.t("report.form.select_elimination_type")}, :class => "form-control", :disabled => @report.completed_at.present?

  .form-group
    = f.label :larvae, "3. " + I18n.t("views.reports.new.did_you_see_larvae")


    %div{:style => "display: block;"}
      .radio-inline
        = f.radio_button :larvae, "true", :disabled => @report.completed_at.present?
        = I18n.t("common_terms.yes_string")
      .radio-inline{:style => "margin-left: 50px;"}
        = f.radio_button :larvae, "false", :disabled => @report.completed_at.present?
        = I18n.t("common_terms.no_html_string").html_safe

    %p{:style => "margin-top: 10px;"}
      = I18n.t("views.reports.new.description_of_larvae")


  .form-group

    - if @report.completed_at.blank?
      = f.label :before_photo, "4. " + I18n.t("report.form.photo_of_report")
      = f.file_field :before_photo, :class => "upload_photo form-control"
      %img.preview{:style => "display: block;"}
      %canvas{:style => "display: none;"}
      = hidden_field_tag "report[compressed_photo]", nil, :class => "compressed_photo"

    - else
      = f.label :before_photo, "4a. " + I18n.t("activerecord.attributes.report.before_photo")
      = image_tag(@report.before_photo, :style => "display: block; margin-bottom: 20px;")

      = f.label :after_photo, "4b. " + I18n.t("report.form.upload_photo_of_eliminated_report")
      = f.file_field :after_photo, :disabled => (@report.after_photo_file_size || @report.expired?), :class => "upload_photo form-control"
      %img.preview{:style => "display: block;"}
      %canvas{:style => "display: none;"}
      = hidden_field_tag "report[compressed_photo]", nil, :class => "compressed_photo"



  .form-group
    = f.label :report, "5. " + I18n.t('activerecord.attributes.report.report')
    = f.text_field :report, :placeholder => I18n.t("views.reports.new.description_placeholder"), :class => "form-control", :disabled => @report.completed_at.present?

  - if @report.completed_at.present?
    .form-group
      = f.label :eliminated_method_id, "6. " + I18n.t("activerecord.models.elimination_method")
      = f.select :elimination_method_id, options_for_select(@report.breeding_site.elimination_methods.map{|em| [em.detailed_description, em.id]}, @report.elimination_method_id), { :prompt => I18n.t("report.form.select_elimination_method") }, { :class=>"elimination_methods form-control"}

    .form-group
      = f.label :eliminated_at
      .datetimepicker.input-group
        = f.text_field :eliminated_at, {:value => format_as_date(@report.eliminated_at || Time.now), :class=>"form-control", :data => {"date-format" => "YYYY-MM-DD"} }
        %span.input-group-addon
          %i.fa.fa-calendar



  .form-group
    = button_tag :type => "submit", :class => "btn btn-success btn-lg submit-button", :style => "width: 100%;" do
      %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
      = @report.new_record? ? I18n.t("views.buttons.create") : I18n.t("views.buttons.update")


- content_for :scripts do
  = javascript_include_tag "map"
  = javascript_include_tag "googlemap/map-csv"
  = javascript_include_tag "image-compression"
  = javascript_include_tag "moment"
  = javascript_include_tag "bootstrap/datetimepicker"
  = javascript_include_tag "datepicker"
