#map_div
  .row
    .col-md-8.col-md-offset-2
      #map-error-description
        = I18n.t("map.location_not_found")

  .row
    .col-md-8.col-md-offset-2
      #loading
        = image_tag "loading.gif"
        %p
          = I18n.t("map.loading")
      #gmap


:javascript
  var openLocations       = #{@open_locations.to_json(:only => [:latitude, :longitude])}
  var eliminatedLocations = #{@eliminated_locations.to_json(:only => [:latitude, :longitude])}
  var communityLatitude   = #{@neighborhood.latitude}
  var communityLongitude  = #{@neighborhood.longitude}
  #{if @neighborhood.nicaraguan? then 'var no_address_lookup = true;' else 'var no_address_lookup = false;' end}
