.row
  .span9
    .row.report-metadata
      .span5
        = link_to report.reporter.display_name, user_path(report.reporter), :style => "font-weight: bold;"
        .feed-item-timestamp
          %i.fa.fa-clock-o
          = I18n.t("common_terms.reported")
          = format_timestamp(report.created_at)



        - if report.eliminated? && report.eliminator
          %div{:style => "display: block;"}
            = link_to report.eliminator.display_name, user_path(report.eliminator), :style => "font-weight: bold;"
            .feed-item-timestamp
              %i.fa.fa-clock-o
              = I18n.t("common_terms.eliminated")
              = format_timestamp(report.eliminated_at)

        - if report.verifier
          %div{:style => "display: block;"}
            = link_to report.verifier.display_name, user_path(report.verifier), :style => "font-weight: bold;"
            .feed-item-timestamp
              %i.fa.fa-clock-o
              = I18n.t("common_terms.verified")
              = format_timestamp(report.verified_at)



      .span3{:style => "text-align: right; font-weight: bold;"}
        - if report.sms_incomplete?
          %div{style: "margin-top:3px; margin-right:10px;"}
            = I18n.t("common_terms.sms")
        - elsif report.eliminated?
          .time_expired.report-eliminated
            = I18n.t("common_terms.eliminated")
        - elsif report.expired?
          .time_expired
            = I18n.t("common_terms.time_expired")
        - elsif report.open?
          .report-open
            = I18n.t("common_terms.open_for")
          .countdown.countdownHolder.timer{:style => "display: inline-block;", :data => {:report => report.to_json(:only => [], :methods => [:expire_date])} }


- content_for :scripts do
  :javascript
    $(document).ready(function()
    {
      $(".countdown").each(function()
      {
        var expiration = $(this).data("report")["expire_date"]
        $(this).countdown({until: new Date(expiration), format: 'HMS', compact: 'true'});
      })
    })
