
.rp_report.rp_open_report
  .row
    .rp_report_status.status
      - if open.expired?
        %del Em aberto
      - else
        Em aberto
      .rp_report_options{:style => "margin-top:-3px;"}
        - if open.isVerified == "t"
          = image_tag 'icons/reports icon/check.png', :width => 25, :height => 25, :style => "float:right;"
        - elsif open.isVerified == "f"
          = image_tag 'icons/reports icon/x.png', :width => 25, :height => 25, :style => "float:right;"
        - else
          - if !open.expired? and open.elimination_type
            - if @current_user.role == "verificador" or @current_user.role == "admin" or @current_user.role == "coordenador"
              = link_to (image_tag 'icons/reports icon/x.png', :width => 25, :height => 25), problem_neighborhood_reports_path(@neighborhood, :id => open.id), method: :post, :style => "float:right;"
              = link_to (image_tag 'icons/reports icon/check.png', :width => 25, :height => 25), verify_neighborhood_reports_path(@neighborhood, :id => open.id), method: :post, :style => "float:right;"
        - if open.sms_incomplete?
          .span{style: "margin-top:3px; margin-right:10px;"}
            Torpedo
        - else
          - if not open.expired?
            - if open.elimination_type
              .countdown.countdownHolder{:style => "width:150px;height: 20px;background-color:transparent; border: none;float:right;margin-top:1px;margin-right:0px;font-size:20px;"}
              .span{style: "margin-top:3px; margin-right:10px;"}
                Tempo restante
                :javascript
                  var newYear = new Date(#{open.expire_date.strftime("%s").to_i * 1000});
                  $(".countdown").countdown({until: newYear, format: 'HMS', compact: 'true'});
          - else
            .span{style: "margin-top:3px; margin-right:10px;"}
              Tempo expirado

  .row{style: "margin-top:5px;"}
    .span6{:style => "margin-top:10px;"}
      - if open.sms_incomplete?
        %h4= open.report
      - else
        %h4= open.complete_address
    .span2
      - if open.location.latitude and open.location.longitude
        = link_to "Ache no mapa", "#", id: "mapa_#{open.id}", class: "mapa", data: { latitude: "#{open.location.latitude}", longitude: "#{open.location.longitude}"}, style: "margin-top:5px;float:right;border:1px solid gray;margin-right:-6px;padding:2px;"

  .row{style: "margin-top:7px;"}
    .span2.rp_before_photo
      =image_tag open.before_photo(:medium)
    .span5{style: "margin-top:9px;"}
      - if open.elimination_type
        %p{style: "margin-bottom:12px;"}= open.report

      - else
        - if !open.sms_incomplete?
          = text_area_tag("report_description", open.report, style: "width:430px;")
      / .row.rp_report_people
      /   Marcado por:
      /   =link_to open.reporter.display_name + " - " + open.strftime_with(:created_at), user_path(open.reporter), :class => "user"
      - if @current_user != nil
        .row
          .span7
            .eliminate_prompt{:style => "margin-top:5px;"}
              = form_for(:eliminate, :url => {:controller => "reports", :action => "update", :html => {:autocomplete => "off", :multipart => false}}, :method=>:put) do |f|
                = hidden_field_tag 'report_id', open.id
                - if open.sms_incomplete?
                  = link_to "Completar o foco", neighborhood_edit_report_path(@neighborhood, open), class: "btn btn-info", style: "width:408px;background-color:#60BB50;background-image:-webkit-linear-gradient(top, #60BB50, #60BB50);border-color:#60BB50 #60BB50 #60BB50;margin-bottom:10px;"
                - if open.elimination_type
                  = select_tag "elimination_type", options_for_select(@elimination_types, open.elimination_type), :prompt => "Selecione o tipo de foco", :style => "width:430px;", class: "elimination_type", :disabled => (open.elimination_type != nil or @current_user.role == "visitante" or open.sms_incomplete?)
                - else
                  = select_tag "elimination_type", options_for_select(@elimination_types, open.elimination_type), :prompt => "Selecione o tipo de foco", style: "width:430px;", class: "elimination_type", :disabled => (open.elimination_type != nil or @current_user.role == "visitante" or open.sms_incomplete?), data: { style: "btn-success", width: "430px"}
                -#="select #{@elimination_selection[open.elimination_type]}"
                -#="open #{open.elimination_type}"
                -unless open.elimination_type.blank?
                  =select_tag "elimination_method", options_for_select(elimination_selection(open.elimination_type).collect{|p| [p[:display],p[:name]]},open.elimination_method), :prompt=>open.method_prompt, :id=>"method_selection", :class=>"elimination_methods"
                = hidden_field_tag "selected_elimination_method"
                = hidden_field_tag "latitude"
                = hidden_field_tag "longitude"

                / # = select_tag "method_of_elimination", options_from_collection_for_select(@elimination_type), :style => "width: 355px;"
                :javascript
                  $(".selectpicker").selectpicker();

                - if open.after_photo_file_size
                  .rp_report_people
                    Foto carregada:
                    = link_to "#{open.after_photo_file_name}", open.after_photo.url, :class => "user"

                - if open.elimination_type
                  %h3{:style => "font-size: 14px;"} Carregue uma foto do foco eliminado
                  = f.file_field :after_photo, :disabled => (open.after_photo_file_size or open.expired?)
                %br
                = submit_tag "Enviar!",:onclick=>"update_location_coordinates(#{open.location.to_json},event);",:class=>'report_submission',:style => "margin-left:5px;margin-top:5px;", :disabled => ((@current_user.role == "verificador" or @current_user.role == "visitante") or open.expired? or open.isVerified == "f" or open.sms_incomplete?)



                .row.rp_report_people{style: "width:430px;"}
                  - if open.elimination_type and open.reporter_id
                    Marcado por:
                    =link_to open.reporter_name + " " + open.strftime_with(:created_at), user_path(open.reporter), :class => "user"
                    %br

                  - if open.isVerified == "t" and open.verifier_id
                    Verificado por:
                    = link_to open.verifier_name + " " + open.strftime_with(:created_at), user_path(open.verifier), :class => "user"
                    %br
                  - elsif open.isVerified == "f" and open.verifier_id
                    %p{:style => "color:red;font-weight:bold;margin-top:10px;"}
                      Problema no foco marcado. Entre em contato conosco.
    .row
      .rp_report_options
        - if @current_user.admin? or (open.reporter == @current_user and open.elimination_type == nil)
          =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), neighborhood_report_path(@neighborhood, open), :confirm => "Você tem certeza?", :method => :delete, :style => "margin-right:5px;"
