/ This partial is passed in a 'report' variable.
:javascript
  $(document).ready(function()
  {
    var newYear = new Date(#{report.expire_date.strftime("%s").to_i * 1000});
    $(".countdown").countdown({until: newYear, format: 'HMS', compact: 'true'});
  });

.report.open
  .row.address_row
    .span6.address
      - if report.sms_incomplete?
        %h4= report.report
      - else
        %h4= report.complete_address

    .span2
      - if report.location && report.location.latitude.present? && report.location.longitude.present?
        = link_to I18n.t("map.find"), nil, class: "mapa", data: {location: report.location.to_json(:only => [:latitude, :longitude]) }

  .row{style: "margin-top:7px;"}
    = render :partial => "reports/attributes", :locals => {:report => report}

  .row{:style => "margin-top: 20px;"}
    .span9
      = render :partial => "reports/topbar", :locals => {:report => report}
