/ This partial is passed in a 'report' variable.
:javascript
  $(document).ready(function()
  {
    var newYear = new Date(#{report.expire_date.strftime("%s").to_i * 1000});
    $(".countdown").countdown({until: newYear, format: 'HMS', compact: 'true'});
  });

.report.open
  .row
    .rp_report_status.status
      .span1
        = link_to  "Likes ", nil, :class => "like_button", "data-path" => like_neighborhood_report_path(:id => report.id),
          "data-likes_count" => report.likes_count

      .span2{:style => "width:100px;"}
        .fb-share-button{:data => {:href => "https://denguetorpedo.com/#{neighborhood_reports_path(@neighborhood)}", :type => "button"} }
      .span2
        = link_to "Tweet", "https://twitter.com/share", :class => "twitter-share-button", :data => {:related => "denguetorpedo", :lang => "pt", :count => "none", :url => "#{neighborhood_reports_url(@neighborhood)}", :text => "Acabei de marcar um foco no @DengueTorpedo."}



      .rp_report_options
        -# TODO @awdorsett - are reports verified before they're eliminated?
        - if report.isVerified == "t"
          = image_tag 'icons/reports icon/check.png', :width => 25, :height => 25, :style => "float:right;"
        - elsif report.isVerified == "f"
          = image_tag 'icons/reports icon/x.png', :width => 25, :height => 25, :style => "float:right;"
        - else
          - if !report.expired? and report.elimination_type
            - if @current_user && [User::Types::VERIFIER, User::Types::ADMIN, User::Types::COORDINATOR].include?(@current_user.role)
              = link_to (image_tag 'icons/reports icon/x.png', :width => 25, :height => 25), problem_neighborhood_reports_path(@neighborhood, :id => report.id), method: :post, :style => "float:right;"
              = link_to (image_tag 'icons/reports icon/check.png', :width => 25, :height => 25), verify_neighborhood_reports_path(@neighborhood, :id => report.id), method: :post, :style => "float:right;"

        - if report.sms_incomplete?
          .span{style: "margin-top:3px; margin-right:10px;"}
            Torpedo
        - else
          - if not report.expired?
            - if report.elimination_type
              .countdown.countdownHolder.timer
              .span.countdown_label
                Em aberto por
          - else
            .span.time_expired
              Tempo expirado

  .row.address_row
    .span6.address
      - if report.sms_incomplete?
        %h4= report.report
      - else
        %h4= report.complete_address

    .span2
      - if report.location && report.location.latitude.present? && report.location.longitude.present?
        = link_to "Ache no mapa", nil, class: "mapa", data: {location: report.location.to_json(:only => [:latitude, :longitude]) }

  .row{style: "margin-top:7px;"}

    -#before picture
    .span2.rp_before_photo
      =image_tag report.before_photo(:medium)

    -#report description
    .span5{style: "margin-top:9px;"}
      %h3.report_label Descrição da localização:
      .description #{report.report}

      -# TODO @awdorsett - when will current_user be nil?
      - if @current_user != nil
        .row
          .span7
            -#form to enter in elimination method and after photo
            .eliminate_prompt{:style => "margin-top:5px;"}
              = form_for([@neighborhood, report], :html => {:autocomplete => "off", :multipart => true}) do |f|

                - if report.sms_incomplete?
                  = link_to "Completar o foco", edit_neighborhood_report_path(@neighborhood, report), class: "btn btn-info", style: "width:408px;background-color:#60BB50;background-image:-webkit-linear-gradient(top, #60BB50, #60BB50);border-color:#60BB50 #60BB50 #60BB50;margin-bottom:10px;"

                -# TODO @awdorsett - elimination type is not required, something with SMS?
                -# elimination type
                %h3.report_label Tipo de foco:
                = report.elimination_type

                -# TODO @awdorsett - need to consider sms no being complete?
                %h3.report_label Método de eliminação:
                = f.select :elimination_method, options_for_select(elimination_selection(report.elimination_type).collect{|p| [p[:display],p[:name]]}, report.elimination_method), :prompt=>report.method_prompt, :id=>"method_selection", :class=>"elimination_methods"

                = f.fields_for :location, report.location || Location.new do |location_fields|
                  = location_fields.hidden_field :latitude
                  = location_fields.hidden_field :longitude

                -#after photo
                - if report.after_photo_file_size
                  .rp_report_people
                    Foto carregada:
                    = link_to "#{report.after_photo_file_name}", report.after_photo.url, :class => "user"

                -# TODO @awdorsett - give user the option to upload a replacement image?
                %h3.report_label Carregue uma foto do foco eliminado:
                = f.file_field :after_photo, :disabled => (report.after_photo_file_size || report.expired?)

                %br
                .row
                  .span2
                    - should_disable = ( @current_user && (@current_user.role == "verificador" || @current_user.role == "visitante") || report.expired? || report.isVerified == "f" || report.sms_incomplete?)
                    = submit_tag "Enviar!", :class=>'report_submission', :disabled => should_disable, :onclick=>"update_location_coordinates(#{report.location.to_json},event);"


                -# Submission status, show name and date of person who submitted, eliminated, and verified
                .row.rp_report_people{style: "width:430px;"}

                  -# site reported by
                  - if report.elimination_type and report.reporter_id
                    Marcado por:
                    =link_to report.reporter_name + " " + report.strftime_with(:created_at), user_path(report.reporter), :class => "user"
                    %br

                  -# site verified by
                  - if report.isVerified == "t" and report.verifier_id
                    Verificado por:
                    = link_to report.verifier_name + " " + report.strftime_with(:created_at), user_path(report.verifier), :class => "user"
                    %br
                  - elsif report.isVerified == "f" and report.verifier_id
                    -# problem with site verification
                    %p{:style => "color:red;font-weight:bold;margin-top:10px;"}
                      Problema no foco marcado. Entre em contato conosco.

    .row
      .rp_report_options
        -# delete report option for owner and admins
        -# TODO @awdorsett - removed elimination_type == nil, double check if that's okay
        - if @current_user && (@current_user.admin? or report.reporter == @current_user)
          =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), neighborhood_report_path(@neighborhood, report), :confirm => "Você tem certeza?", :method => :delete, :style => "margin-right:5px;"
