/ This partial is passed in a 'report' variable.
:javascript
  $(document).ready(function()
  {
    var newYear = new Date(#{report.expire_date.strftime("%s").to_i * 1000});
    $(".countdown").countdown({until: newYear, format: 'HMS', compact: 'true'});
  });


.user_activity_item{:style => "margin-left: 0px; min-height: 60px;"}
  .row
    .span1
      = image_tag report.before_photo(:medium)

    .span7
      .row
        .span7
          = link_to report.reporter.first_name, user_path(report.reporter), :style => "font-weight: bold;"
          %span{:style => "color: #8899a6; display: inline;"}
            %i.fa.fa-clock-o


            - if report.sms_incomplete?
              .span{style: "margin-top:3px; margin-right:10px;"}
                = I18n.t("common_terms.sms")
            - else
              - if !report.expired?
                - if report.elimination_type
                  .countdown.timer.countdown_label
              - else
                .time_expired{:style => "display: inline;"}
                  = I18n.t("common_terms.time_expired")




          %span{:style => "color: #8899a6; display: inline;"}
            %i.fa.fa-location-arrow
            - if report.location && report.location.latitude.present? && report.location.longitude.present?
              = link_to nil, class: "mapa", data: {location: report.location.to_json(:only => [:latitude, :longitude]) } do
                = report.complete_address
            - else
              = report.complete_address

          = render :partial => "reports/topbar", :locals => {:report => report}

      .row
        .span7
          = auto_link(report.report)








.report.open
  .row
    .rp_report_status.status
      .rp_report_options
        = render :partial => "reports/topbar", :locals => {:report => report}


        - if report.sms_incomplete?
          .span{style: "margin-top:3px; margin-right:10px;"}
            = I18n.t("common_terms.sms")
        - else
          - if not report.expired?
            - if report.elimination_type
              .countdown.countdownHolder.timer
              .span.countdown_label
                = I18n.t("common_terms.open_for")
          - else
            .span.time_expired
              = I18n.t("common_terms.time_expired")


  .row.address_row
    .span6.address
      - if report.sms_incomplete?
        %h4= report.report
      - else
        %h4= report.complete_address

  .row{style: "margin-top:7px;"}
    = render :partial => "reports/attributes", :locals => {:report => report}
