
.row
  .col-md-6.col-xs-6
    .text-center
      - if report.breeding_site_picture.present?
        = image_tag(report.breeding_site_picture, :class => "img-rounded", :style => "height: 150px; width: 150px;")
      - else
        = link_to edit_neighborhood_report_path(@neighborhood, report) do
          .img-rounded{:style => "border: 1px black dashed; height: 150px; width: 150px; display: inline-block;"}

      %p
        = I18n.t("activerecord.attributes.report.before_photo")

  - if report.eliminated?

    .col-md-6.col-xs-6
      .text-center
        - if report.elimination_method_picture.present?
          = image_tag(report.elimination_method_picture, :class => "img-rounded", :style => "height: 150px; width: 150px;")
        - else
          .img-rounded{:style => "border: 1px black dashed; height: 150px; width: 150px; display: inline-block;"}

        %p
          = I18n.t("activerecord.attributes.report.after_photo")

  - else
    .col-md-6.col-xs-6
      - if report.breeding_site.present?
        - points = report.breeding_site.elimination_methods.pluck(:points).max
        = link_to I18n.t("views.reports.index.eliminate_and_win_points", :points => points), edit_neighborhood_report_path(@neighborhood, report), :class => "btn btn-success eliminate-report-button"
