.user_activity_item{:style => "margin-left: 0px; min-height: 200px;"}
  .row
    .span2
      = image_tag report.before_photo(:medium), :style => "width: 100px; height: 100px;"

      - if report.after_photo.present?
        = image_tag report.after_photo(:medium), :style => "width: 100px; height: 100px; margin-top: 5px;"

    .span6{:style => "font-size: 15px;"}
      .row{:style => "margin-bottom: 15px;"}
        .span7
          %span{:style => "color: #8899a6; display: inline;"}
            %i.fa.fa-clock-o
            = format_timestamp(report.created_at)

          - if report.location.present?
            %span{:style => "color: #8899a6; display: inline;"}
              %i.fa.fa-location-arrow
              - if report.location && report.location.latitude.present? && report.location.longitude.present?
                = link_to nil, class: "mapa", data: {location: report.location.to_json(:only => [:latitude, :longitude]) } do
                  = report.complete_address
              - else
                = report.complete_address


          = render :partial => "reports/topbar", :locals => {:report => report}


      .row{:style => "margin-bottom: 15px;"}
        .span7
          %i.fa.fa-users
          = I18n.t("common_terms.marked_by")
          = link_to report.reporter.first_name, user_path(report.reporter), :style => "font-weight: bold;"
          = I18n.t("common_terms.and")
          = I18n.t("common_terms.eliminated_by").downcase
          = link_to report.eliminator.first_name, user_path(report.eliminator), :style => "font-weight: bold;"

      .row{:style => "margin-bottom: 15px;"}
        .span7
          %i.fa.fa-info-circle
          = auto_link(report.report)


      .row{:style => "margin-bottom: 15px;"}
        .span7
          %i.fa.fa-crosshairs
          = report.elimination_type

      .row{:style => "margin-bottom: 15px;"}
        .span7
          %i.fa.fa-ban
          - if report.elimination_method.present?
            = report.elimination_method
