.report.eliminated
  .row
    .rp_report_status.status
      .span4.like_span
        = link_to nil, :class => "like_button", "data-path" => like_neighborhood_report_path(:id => report.id),"data-likes_count" => report.likes_count do
          %i.fa.fa-thumbs-up
          %span.like_text
          = I18n.t("report.form.likes")

      .rp_report_options{:style => "margin-top:-3px;"}
        = render :partial => "reports/topbar", :locals => {:report => report}

      .span{:style => "float:right;"}
        = I18n.t("common_terms.eliminated")

  .row
    .span6{:style => "margin-top:10px;"}
      %h4= report.complete_address
    .span2
      - if report.location.latitude and report.location.longitude
        = link_to I18n.t("map.find"), "#", id: "mapa_#{report.id}", class: "mapa", data: { latitude: "#{report.location.latitude}", longitude: "#{report.location.longitude}"}, style: "margin-top:5px;float:right;border:1px solid gray;margin-right:-6px;padding:2px;"

  .row
    = render :partial => "reports/attributes", :locals => {:report => report}
