.row
  .col-md-8.col-md-offset-2
    #reports
      - if @current_user && @current_user.neighborhood == @neighborhood && @incomplete_reports.present?
        .incomplete-reports-banner
          .alert.alert-danger.alert-dismissable
            %h2
              = I18n.t("views.reports.index.incomplete", :count => @incomplete_reports.count)
              = link_to I18n.t("views.reports.index.complete_now_button"), edit_neighborhood_report_path(@current_user.neighborhood, @incomplete_reports.first), :class => "btn btn-default"


      - @reports.each do |report|
        .report{ :class => (report.eliminated? ? "eliminated" : "open") }
          = render :partial => "reports/topbar",   :locals => {:report => report}
          = render :partial => "reports/content", :locals => {:report => report}
          - unless report.sms_incomplete?
            = render :partial => "reports/actionbar",   :locals => {:report => report}


%hr

.row
  .col-md-12{:style => "text-align: center;"}
    - if @report_count > @report_limit
      = render :partial => "reports/pagination"
