.report-topbar
  .row
    .col-md-8
      = link_to user_path(report.reporter) do
        - owner = report.reporter
        - if owner.profile_photo_file_name.nil?
          = image_tag("default_images/user_default_alt.png")
        - else
          = image_tag(owner.profile_photo.url(:small))

      .name
        = link_to report.reporter.display_name, user_path(report.reporter)
        .feed-item-timestamp
          %i.fa.fa-clock-o
          = I18n.t("common_terms.reported")
          = timestamp_in_metadata(report.created_at)
      %span.label.label-success
        = inspection_award_text(report)


    .col-md-4.pull-right.metadata
      %div
        - if report.status == Report::Status::POSITIVE
          %i.fa.fa-exclamation-circle.positive
            = I18n.t("common_terms.positive")
        - elsif report.status == Report::Status::POTENTIAL
          %i.fa.fa-exclamation-circle.potential
            = I18n.t("common_terms.potential")

      - if report.eliminated?
        .report-eliminated
          = I18n.t("common_terms.eliminated")
      - elsif report.expired?
        = I18n.t("common_terms.time_expired")
      - elsif report.open?
        .report-open
          = I18n.t("common_terms.open_for")
        .countdown.countdownHolder.timer{:data => {:report => report.to_json(:only => [], :methods => [:expire_date])} }


  - if report.eliminated? && report.eliminator
    .row
      .col-md-8
        = link_to user_path(report.reporter) do
          - owner = report.reporter
          - if owner.profile_photo_file_name.nil?
            = image_tag("default_images/user_default_alt.png")
          - else
            = image_tag(owner.profile_photo.url(:small))

        .name
          = link_to report.eliminator.display_name, user_path(report.eliminator)
          .feed-item-timestamp
            %i.fa.fa-clock-o
            = I18n.t("common_terms.eliminated")
            = timestamp_in_metadata(report.eliminated_at)
        %span.label.label-success
          = elimination_award_text(report)

  - if report.verifier
    .row
      .col-md-8
        = link_to user_path(report.reporter) do
          - owner = report.reporter
          - if owner.profile_photo_file_name.nil?
            = image_tag("default_images/user_default_alt.png")
          - else
            = image_tag(owner.profile_photo.url(:small))

        .name
          = link_to report.verifier.display_name, user_path(report.verifier), :style => "font-weight: bold;"
          .feed-item-timestamp
            %i.fa.fa-clock-o
            = I18n.t("common_terms.verified")
            = timestamp_in_metadata(report.verified_at)
        %span.label.label-success
          = verification_award_text(report)



- content_for :scripts do
  :javascript
    $(document).ready(function()
    {
      $(".countdown").each(function()
      {
        var expiration = $(this).data("report")["expire_date"]
        $(this).countdown({until: new Date(expiration), format: 'HMS', compact: 'true'});
      })
    })
