
-# TODO @awdorsett - what is this used for? Possibly countdown
:javascript
  $(".selectpicker").selectpicker();

.row.rp_report_people{style: "width:430px;"}
  - if report.reporter
    = "#{I18n.t("common_terms.marked_by")}:"
    =link_to report.reporter.display_name + " " + report.strftime_with(:created_at), user_path(report.reporter), :class => "user"
    %br

  - if report.verifier
    = "#{I18n.t("common_terms.verified_by")}:"
    = link_to report.verifier.display_name + " " + report.strftime_with(:created_at), user_path(report.verifier), :class => "user"
    %br

  - if report.eliminator
    = "#{I18n.t("common_terms.eliminated_by")}:"
    = link_to report.eliminator.display_name + " " + report.strftime_with(:eliminated_at), user_path(report.eliminator), :class => "user", :style => "width:100%;"
    %br
