/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------

.row
  .col-md-12
    %h1{:style => "font-size: 36px; margin-bottom: 30px; text-align: center;"}
      = I18n.t("common_terms.complete_report")

.row
  .col-md-6.col-md-offset-3.well
    = form_for [@neighborhood, @report], :url => coordinator_update_neighborhood_report_path(@neighborhood, @report), :html => {:autocomplete => "off", :multipart => true, :id => "new_report"} do |f|
      .form-group
        = f.label :reporter_id
        = f.select :reporter_id, User.all.map {|bs| [bs.username, bs.id]} , {}, :class => "form-control"

      .form-group
        = f.label :eliminator_id
        = f.select :eliminator_id, User.all.map {|bs| [bs.username, bs.id]}, {:include_blank => true}, :class => "form-control"

      - if @report.protected == true
        .form-group
          %p{:style => "font-size: 14px; color: black;"}
            NOTE: Since this report was marked as protected it will not appear in the reports feed.

      .form-group
        = f.label :created_at
        .datetimepicker.input-group
          = f.text_field :created_at, {:value => format_timestamp(@report.created_at), :class => "form-control", :data => {"date-format" => "YYYY-MM-DD HH:MM"}}
          %span.input-group-addon
            %i.fa.fa-calendar

      .form-group
        = f.label :completed_at
        .datetimepicker.input-group
          = f.text_field :completed_at, {:value => format_timestamp(@report.prepared_at), :class=>"form-control", :data => {"date-format" => "YYYY-MM-DD HH:MM"} }
          %span.input-group-addon
            %i.fa.fa-calendar

      .form-group
        = f.label :eliminated_at
        .datetimepicker.input-group
          = f.text_field :eliminated_at, {:value => format_timestamp(@report.eliminated_at), :class=>"form-control", :data => {"date-format" => "YYYY-MM-DD HH:MM"} }
          %span.input-group-addon
            %i.fa.fa-calendar

      .form-group
        = f.label :location_id
        = f.fields_for :location, @report.location || Location.new do |location_fields|
          = location_fields.text_field :address, :placeholder => I18n.t("attributes.address"), :class => "form-control"
          = location_fields.text_field :latitude, :class => "form-control"
          = location_fields.text_field :longitude, :class => "form-control"


      .form-group
        = f.label :report, I18n.t('activerecord.attributes.report.report')
        = f.text_field :report, :placeholder => I18n.t("views.reports.new.description_placeholder"), :class => "form-control"



      .form-group
        = f.label :breeding_site_id, I18n.t("activerecord.attributes.report.elimination_type")
        = f.select :breeding_site_id, BreedingSite.all.map {|bs| [bs.description, bs.id]} , {:prompt => I18n.t("report.form.select_elimination_type")}, :class => "form-control"

      .form-group
        = f.label  :elimination_method_id, I18n.t("activerecord.models.elimination_method")
        = f.select :elimination_method_id, options_for_select(@report.breeding_site.elimination_methods.map{|em| [em.detailed_description, em.id]}, @report.elimination_method_id), { :prompt => I18n.t("report.form.select_elimination_method") }, { :class=>"elimination_methods form-control"}



      .form-group
        = f.label :larvae, I18n.t("views.reports.new.did_you_see_larvae")

        %div{:style => "display: block;"}
          .radio-inline
            = f.radio_button :larvae, "true"
            = I18n.t("common_terms.yes_string")
          .radio-inline{:style => "margin-left: 50px;"}
            = f.radio_button :larvae, "false"
            = I18n.t("common_terms.no_html_string").html_safe

        %p{:style => "margin-top: 10px;"}
          = I18n.t("views.reports.new.description_of_larvae")


      .form-group
        = f.label :before_photo, I18n.t("activerecord.attributes.report.before_photo")
        = image_tag(@report.before_photo, :style => "display: block; margin-bottom: 20px;")

        = f.label :after_photo, I18n.t("report.form.upload_photo_of_eliminated_report")
        - if @report.after_photo.present?
          = image_tag(@report.after_photo, :style => "display: block; margin-bottom: 20px;")
        - else
          = f.file_field :after_photo, :disabled => (@report.after_photo_file_size), :class => "upload_photo form-control", "compress-image" => true
          %img.preview
          = hidden_field_tag "report[compressed_photo]", nil, :class => "compressed_photo"



      .form-group
        = button_tag :type => "submit", :class => "btn btn-success btn-lg submit-button", :style => "width: 100%;" do
          %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
          = I18n.t("views.buttons.update")


- content_for :scripts do
  = javascript_include_tag "google-maps"
