= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}


.row
  .span9.offset1
    %h1
      = I18n.t("views.reports.edit.title")

    = render :partial => "reports/make_report_form"

  .span7#map_div
    - if @neighborhood.name == "Maré"
      = render :partial => "reports/map"
      = render :partial => "reports/arcgis_map"
