.row
  .span4.offset1
    - if flash[:notice]
      .row#flash_dat_notice
        #flashNotice
          %p
            = flash[:notice]
    - if flash[:alert]
      .row#flash_dat_alert
        #flashAlert
          %p
            = flash[:alert]
    %h1 Completar o foco

.row
  .row
    .span9.offset1
      = render :partial => "reports/make_report_form"
    = render :partial => "reports/map"


:javascript
  var map, tb;
  require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator",
  "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference",
  "esri/geometry/Point", "esri/config", "esri/graphic",
  "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
  "esri/symbols/TextSymbol", "dojo/_base/Color",
  "esri/symbols/PictureMarkerSymbol", "esri/renderers/ClassBreaksRenderer",
  "dojo/domReady!"], function(Map, Draw, Locator, Tiled, SpatialReference,
  Point, Geometry, Graphic, SimpleMarkerSymbol, SimpleLineSymbol,
  TextSymbol, Color, PictureMarkerSymbol, ClassBreaksRenderer)
  {
    //-----------------------------------------------------------------
    // Variable definitions
    //---------------------

    var mapMareSpatialRef  = new esri.SpatialReference({"wkid": 29193});
    var mapMareCenterPoint = new Point(680291.2151545063, 7470751.29586681, mapMareSpatialRef);

    var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, mapMareSpatialRef);
    var orangeMarker = new PictureMarkerSymbol("/assets/markers/orange_marker.png", 48, 48).setOffset(0, 0);

    var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
    var map   = new Map("map", { center: mapMareCenterPoint, zoom: 5, extent: customExtent });

    //-----------------------------------------------------------------
    // Helper functions.
    //------------------

    function addGraphic(evt) {
      map.graphics.clear();
      map.enableMapNavigation();

      // figure out which symbol to use
      var symbol = new SimpleMarkerSymbol();
      symbol.setStyle("STYLE_PATH");
      symbol.setPath("M 10 10 L30 10 L20 30z");
      symbol.setColor(new Color("red"));

      $("#report_location_attributes_latitude").val(evt.geometry.x);
      $("#report_location_attributes_longitude").val(evt.geometry.y);
      map.graphics.add(new Graphic(evt.geometry, orangeMarker));
      map.centerAt(evt.mapPoint);
    }


    //-----------------------------------------------------------------
    // Create the map
    //---------------
    map.addLayer(tiled);
    map.on("update-start", showMapLoading);
    map.on("update-end", hideMapLoading);
    map.on("load", function() {
      tb = new Draw(map);
      tb.on("draw-end", addGraphic);
      tb.activate("point");
      var locationData = #{@new_report.location.to_json(:only => [:latitude, :longitude])}
      if (locationData.latitude > 0 && locationData.longitude > 0)
      {
        var locationPoint   = new Point(locationData.latitude, locationData.longitude);
        var locationGraphic = new Graphic(locationPoint, orangeMarker);
        map.graphics.add(locationGraphic);
      }
    });


    //-----------------------------------------------------------------
    // Listeners
    //----------
    $("#go_to_mare").on("click", function() {
      map.centerAndZoom(mapMareCenterPoint, 5)
    });

    $("#report_location_attributes_street_number").change(function() {
      showLoading();

      var streetType = $("#report_location_attributes_street_type").val();
      var streetName = $("#report_location_attributes_street_name").val();
      var streetNumber = $("#report_location_attributes_street_number").val();

      $.ajax({
        url: "http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Geocode/DBO.Loc_composto/GeocodeServer/findAddressCandidates",
        type: "GET",
        dataType: "jsonp",
        data: {
          "f": "pjson",
          "Street": streetType + " " + streetName + " " + streetNumber
        },

        success: function(data) {
          map.graphics.clear();
          var candidates = data.candidates;

          if (candidates.length == 0)
            $("#map-error-description").show()
          else {
            latitude  = candidates[0].location.x
            longitude = candidates[0].location.y

            mapPoint   = new Point(latitude, longitude);
            mapGraphic = new Graphic(mapPoint, orangeMarker);
            map.graphics.add(mapGraphic);

            mapSpatialReference = new esri.SpatialReference({"wkid": 29193})
            mapPoint = new Point(latitude, longitude, mapSpatialReference)
            map.centerAndZoom(mapPoint, 5);

            // Update the form so we can save the actual latitude/longitude.
            $("#report_location_attributes_latitude").val(latitude);
            $("#report_location_attributes_latitude").val(longitude);

            $("#map-error-description").hide()
          }
        },
        error: function()    { $("#map-error-description").show() },
        complete: function() { hideMapLoading(); }
      });
    });

    // Listener on the map. This allows users to click on the map, and update
    // the location attributes with the clicked point.
    map.on('click', function(e){
      if ( $("#make_report_button").hasClass("active") ){
        map.graphics.clear();

        var latitude  = e.mapPoint.x;
        var longitude = e.mapPoint.y;
        $("#new_report #report_location_attributes_latitude").val( latitude )
        $("#new_report #report_location_attributes_longitude").val( longitude )

        var mapPoint = new Point(latitude, longitude);
        var graphic  = new Graphic(mapPoint, orangeMarker);
        map.graphics.add(graphic);
      }
    });


  });
