.row
  .span4.offset1
    - if flash[:notice] 
      .row#flash_dat_notice
        #flashNotice 
          %p
            = flash[:notice]
    - if flash[:alert] 
      .row#flash_dat_alert
        #flashAlert 
          %p
            = flash[:alert]
    %h1 Completar o foco
    
.row          
  .row
    .span9.offset1
      = render :partial => "reports/make_report_form", :object=>@new_report, :as=>'report'
    .span7
      .row
        .span8
          .report_map_search{style: "overflow:auto;"}
            %h2{style: 'margin-left:10px;font-size:15px;line-height:25px;', title: "O mapa pode não encontrar o seu endereço. Nesse caso, mova o marcador clicando na localização correta."}2. Ajuste o marcador na localização correta clicando no mapa.
            %input{type: "button", value: "Va para Maré", style: "float:right;margin:-20px 5px 5px 0px;", id: "go_to_mare"}
              
      #map{style: "height: 500px;width:440px;margin-left:10px; margin-top:10px;position:relative;"}
        #loading{style: "position:absolute;width:440px; height:100px;top:200px;left:195px;z-index:100"}     
          = image_tag "loading.gif", style: "width:50px; height:50px;"
          %p{style: "margin-left:-120px;margin-top:10px;"} Carregando o Mapa da Prefeitura RJ - IPP
      :javascript
          var map, tb;
          require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol", "esri/symbols/TextSymbol", "dojo/_base/Color", "esri/symbols/PictureMarkerSymbol", "esri/renderers/ClassBreaksRenderer", "dojo/domReady!"], function(Map, Draw, Locator, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol, SimpleLineSymbol, TextSymbol, Color, PictureMarkerSymbol, ClassBreaksRenderer) {
            var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

            var picBaseUrl = "http://static.arcgis.com/images/Symbols/Shapes/";
            var grey = new PictureMarkerSymbol("/assets/markers/grey_marker.png", 48, 48).setOffset(0, 0);
            var mixed = new PictureMarkerSymbol("/assets/markers/mixed_marker.png", 48, 48).setOffset(0, 0);
            var orange = new PictureMarkerSymbol("/assets/markers/orange_marker.png", 48, 48).setOffset(0, 0);
            var point = new Point(680291.2151545063, 7470751.29586681, new esri.SpatialReference({wkid: 29193}));
            map = new Map("map", {
              center: point,
              zoom: 5,
              extent: customExtent
            });
            
            var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
            map.addLayer(tiled);
            map.on("update-start", showLoading);
            map.on("update-end", hideLoading);
            map.on("load", function() {
              
              tb = new Draw(map);
              tb.on("draw-end", addGraphic);
              tb.activate("point");
              var graphic = new Graphic(new Point(#{@new_report.location.latitude}, #{@new_report.location.longitude}), orange);
              
              map.graphics.add(graphic);

            });



            function addGraphic(evt) {
              map.graphics.clear();
              map.enableMapNavigation();

              // figure out which symbol to use
              var symbol = new SimpleMarkerSymbol();
              symbol.setStyle("STYLE_PATH");
              symbol.setPath("M 10 10 L30 10 L20 30z");
              symbol.setColor(new Color("red"));
              
              $("input#x").val(evt.geometry.x);
              $("input#y").val(evt.geometry.y);
              map.graphics.add(new Graphic(evt.geometry, orange));
              map.centerAt(evt.mapPoint);

            }

            $("#street_type").change(function() {

            });
            $("#street_name").change(function() {
            });


            $("#street_number").change(function() {
              showLoading();
              $.ajax({
                url: "http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Geocode/DBO.Loc_composto/GeocodeServer/findAddressCandidates",
                type: "GET",
                dataType: "jsonp",
                data: {"f": "pjson", "Street": $("#street_type").val() + " " + $("#street_name").val() + " " + $("#street_number").val()},
                success: function(m) {
                  map.graphics.clear();
                  var candidates = m.candidates;
                  

                  if (candidates.length > 0) {
                    map.graphics.add(new Graphic(new Point(candidates[0].location.x, candidates[0].location.y), orange));
                    $("input#x").val(candidates[0].location.x);
                    $("input#y").val(candidates[0].location.y);
                    
                    map.centerAndZoom(new Point(candidates[0].location.x, candidates[0].location.y, new esri.SpatialReference({"wkid": 29193})), 5);
                  }
                },
                error: function(m) {
                  console.log(JSON.stringify(m));
                },
                complete: function() {
                  hideLoading();
                }
              });
            });
            $("input#go_to_mare").click(function() {
              map.centerAndZoom(new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({"wkid": 29193})), 5)
            });

            function showLoading() {
              $("#loading").show();
              map.disableMapNavigation();
              map.hideZoomSlider();
            }

            function hideLoading() {
              $("#loading").hide();
              map.enableMapNavigation();
              map.showZoomSlider();
            }
          });