-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => neighborhood_reports_url(@neighborhood)}
  %meta{:property => "og:title",       :content => "Dengue Torpedo"}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}
  = javascript_include_tag "map"

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row
  .span12.offset1
    %h1{:style => "font-size: 36px;"}
      = I18n.t("reports_feed.title", :name => @neighborhood.name)
  .span4{:style => "float: right;"}
    %div{:style => "margin-top: 10px;"}
      = render :partial => "shared/social_media_buttons", :locals => {:twitter_content => I18n.t("facebook.description")}

.row
  .span#report_buttons{:style => "font-size:20px;"}

/------------------------------------------------------------------------------

/------------------------------------------------------------------------------

- if @current_user
  .row{:style => "margin-bottom: 20px;"}
    .span4.offset1{:style => "margin-top: 20px;"}
      = link_to new_neighborhood_report_path(@neighborhood), :class => "btn btn-success btn-large" do
        %i.fa.fa-map-marker
        = I18n.t("common_terms.create_a_report")
    -# - if @neighborhood.spanish?
    -#   .span4{:style => "margin-top: 20px;"}
    -#     = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-warning btn-large" do
    -#       %i.fa.fa-file
    -#       Import CSV
    .span4.pull-right
      - if @report_count > @report_limit
        = render :partial => "reports/pagination"


/------------------------------------------------------------------------------

.row
  .span10.offset1
    #report_buttons
      = link_to I18n.t("common_terms.all"), nil, :id => 'all_reports_button', :class=>'bttn reports_feed_button',
        :onclick => 'filter_reports(event,"all")'
      = link_to I18n.t("common_terms.open_reports"), nil, :id => 'open_reports_button', :class=>'bttn reports_open_button',
        :onclick => 'filter_reports(event,"open")'
      = link_to I18n.t("common_terms.eliminated_reports"), nil, :id => 'eliminated_reports_button', :class=>'bttn reports_resolved_button',
        :onclick => 'filter_reports(event,"eliminated")'


/------------------------------------------------------------------------------

.row{:style => "min-height: 600px;"}
  .span9.offset1
    #reports
      - @reports.each do |report|
        - next if report.sms_incomplete? && @current_user && @current_user != report.reporter

        .report{ :class => (report.eliminated? ? "eliminated" : "open") }
          = render :partial => "reports/metadata",   :locals => {:report => report}
          = render :partial => "reports/attributes", :locals => {:report => report}
          - unless report.sms_incomplete?
            = render :partial => "reports/topbar",   :locals => {:report => report}

  -# - if @neighborhood.name == Neighborhood::Names::MARE
  -#   .span7#map_div
  -#     = render :partial => "reports/map"
  -#   = render :partial => "reports/arcgis_map"
  .span7#map_div
    = render :partial => "reports/google_map"
  = javascript_include_tag "googlemap/map"

/------------------------------------------------------------------------------
/ Social media
/-------------

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{@facebook_locale}/all.js#xfbml=1&appId=1423593507909037&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  $(document).ready(function(){
    //show all reports on start
    $('#new_report').css('display','none');


    // keep the map on the page when scrolling
    $(window).scroll(function() {
      var scrollAmount = $(window).scrollTop();
      if (scrollAmount > 200) {
          $("#map_div").css("margin-top", scrollAmount - 263);
      } else {
          $("#map_div").css("margin-top", 0);
      }
    });


  })
