-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => @locale_specific_url}
  %meta{:property => "og:title",       :content => I18n.t("views.app")}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.container
  .row
    .col-md-8.col-xs-6
      %h1.light-font
        = I18n.t("reports_feed.title", :name => @neighborhood.name)
    .col-md-4.col-xs-6
      .pull-right
        - if @current_user && @current_user.neighborhood == @neighborhood
          = link_to new_neighborhood_report_path(@neighborhood), :class => "btn btn-success btn-lg" do
            = I18n.t("common_terms.create_a_report")


  .row.page-header-description
    .col-md-12
      %p.description
        Esta página muestra reportes de criaderos potenciales o positivos en la comunidad. Los datos no incluyen lugares en los que no había criaderos. Para ver cómo es que los criaderos reportados aquí afectan el riesgo de dengue y chikungunya, haga click
        = link_to "aquí.", neighborhood_path(@neighborhood)



  /------------------------------------------------------------------------------

  .denguechat-tab-toggle
    .row
      .col-md-6
        .report-filter.btn-group
          %label.btn.btn-default.active
            = link_to I18n.t("common_terms.all"), neighborhood_reports_path(@neighborhood)
          %label.btn.btn-default
            = link_to I18n.t("common_terms.open_reports"), "?reports=open"
          %label.btn.btn-default
            = link_to I18n.t("common_terms.eliminated_reports"), "?reports=eliminated"


  - @reports.each_slice(2).with_index do |reports, index|
    .row
      .col-md-6
        - if reports[0].present?
          - report = reports[0]
          .report{ :class => (report.eliminated? ? "eliminated" : "open") }
            = render :partial => "reports/topbar",   :locals => {:report => report}
            = render :partial => "reports/content", :locals => {:report => report}
            = render :partial => "reports/actionbar",   :locals => {:report => report}
      .col-md-6
        - if reports[1].present?
          - report = reports[1]
          .report{ :class => (report.eliminated? ? "eliminated" : "open") }
            = render :partial => "reports/topbar",   :locals => {:report => report}
            = render :partial => "reports/content", :locals => {:report => report}
            = render :partial => "reports/actionbar",   :locals => {:report => report}


  %hr

  .row
    .col-md-12.text-center
      - if @report_count > @report_limit
        = render :partial => "reports/pagination"



  /------------------------------------------------------------------------------

- content_for :scripts do
  -# = javascript_include_tag "map"
  -# = javascript_include_tag "googlemap/map"
  = javascript_include_tag "image-compression"

  :scss
    .report-topbar {
      .name {
        width: auto;

        .feed-item-timestamp {
          width: 200px;
          display: block;
        }
      }
    }

  :javascript
    $("a[data-toggle='tab']").on("shown.bs.tab", function(e) {
      var target = $(e.target).attr("href");
      if (target == "#map")
        google.maps.event.trigger(map, 'resize');
    })

    $(document).ready(function(){
      var reportType = window.location.href.split("?reports=")[1]
      if (reportType)
      {
        $(".report-filter label").removeClass("active")
        if (reportType === "open")
          $( $(".report-filter label")[1] ).addClass("active")
        else if (reportType === "eliminated")
          $( $(".report-filter label")[2] ).addClass("active")

      }
    })
