-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => @locale_specific_url}
  %meta{:property => "og:title",       :content => I18n.t("views.app")}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

= render :partial => "shared/title_banner", :locals => default_navigation_hash.merge(:title => I18n.t("reports_feed.title", :name => @neighborhood.name), :description => "Esta página muestra reportes de criaderos potenciales o positivos en la comunidad. Los datos no incluyen lugares en los que no había criaderos. Para ver cómo es que los criaderos reportados aquí afectan el riesgo de dengue y chikungunya, haga click #{link_to "aquí.", neighborhood_path(@neighborhood)}")

/------------------------------------------------------------------------------

- if @current_user && @current_user.neighborhood == @neighborhood
  .row
    .col-md-12
      .text-center
        = link_to new_neighborhood_report_path(@neighborhood), :class => "btn btn-success btn-lg" do
          = I18n.t("common_terms.create_a_report")


/------------------------------------------------------------------------------

.denguechat-tab-toggle
  .row
    .col-md-2.col-md-offset-2

    .col-md-6
      .pull-right
        .report-filter.btn-group
          %label.btn.btn-default.active
            = link_to I18n.t("common_terms.all"), neighborhood_reports_path(@neighborhood)
          %label.btn.btn-default
            = link_to I18n.t("common_terms.open_reports"), "?reports=open"
          %label.btn.btn-default
            = link_to I18n.t("common_terms.eliminated_reports"), "?reports=eliminated"


/------------------------------------------------------------------------------

.tab-content
  #report.tab-pane.active{:role => "tabpanel"}
    = render :partial => "reports/sites"
  -# #map.tab-pane{:role => "tabpanel"}
  -#   = render :partial => "reports/google_map"


/------------------------------------------------------------------------------

- content_for :scripts do
  -# = javascript_include_tag "map"
  -# = javascript_include_tag "googlemap/map"
  = javascript_include_tag "image-compression"
  = javascript_include_tag "moment"
  = javascript_include_tag "bootstrap/datetimepicker"
  = javascript_include_tag "datepicker"

  :javascript
    $("a[data-toggle='tab']").on("shown.bs.tab", function(e) {
      var target = $(e.target).attr("href");
      if (target == "#map")
        google.maps.event.trigger(map, 'resize');
    })

    $(document).ready(function(){
      var reportType = window.location.href.split("?reports=")[1]
      if (reportType)
      {
        $(".report-filter label").removeClass("active")
        if (reportType === "open")
          $( $(".report-filter label")[1] ).addClass("active")
        else if (reportType === "eliminated")
          $( $(".report-filter label")[2] ).addClass("active")

      }
    })
