-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => @locale_specific_url}
  %meta{:property => "og:title",       :content => I18n.t("views.app")}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

= render :partial => "shared/title_banner", :locals => {:title => I18n.t("reports_feed.title", :name => @neighborhood.name), :description => "Esta página muestra reportes de criaderos potenciales o positivos en la comunidad. Los datos no incluyen lugares en los que no había criaderos. Para ver cómo es que los criiaderos reportados aquí afectan el riesgo de dengue y chikungunya, haga click #{link_to "aquí.", neighborhood_path(@neighborhood)}"}

/------------------------------------------------------------------------------

- if @current_user && @current_user.neighborhood == @neighborhood
  .action-buttons
    .row
      .col-md-8.col-md-offset-2

        = link_to new_neighborhood_report_path(@neighborhood), :class => "btn btn-success" do
          = I18n.t("common_terms.create_a_report")


        - if @neighborhood.spanish?
          = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-success" do
            = I18n.t("views.buttons.upload_csv")

          = link_to neighborhood_csv_reports_path(@neighborhood), :class => "btn btn-success" do
            = I18n.t("views.reports.index.view_csv")


/------------------------------------------------------------------------------

.denguechat-tab-toggle
  .row
    .col-md-2.col-md-offset-2
      %ul.nav.nav-pills.nav-justified
        %li.active
          = link_to "#report", :data => {:toggle => "tab"} do
            %i.fa.fa-map-marker
            = I18n.t("activerecord.models.report", :count => 2)
        %li
          = link_to "#map", :data => {:toggle => "tab"} do
            %i.fa.fa-globe
            = I18n.t("common_terms.map")

    .col-md-6
      .pull-right
        .report-filter.btn-group{:data => {:toggle => "buttons"}}
          %label.btn.btn-default.active
            = radio_button_tag "reports", "all", true, :data => {:type => "all"}
            = I18n.t("common_terms.all")
          %label.btn.btn-default
            = radio_button_tag "reports", "open", nil, :data => {:type => "open"}
            = I18n.t("common_terms.open_reports")
          %label.btn.btn-default
            = radio_button_tag "reports", "eliminated", nil, :data => {:type => "eliminated"}
            = I18n.t("common_terms.eliminated_reports")

/------------------------------------------------------------------------------

.tab-content
  #report.tab-pane.active{:role => "tabpanel"}
    = render :partial => "reports/sites"
  #map.tab-pane{:role => "tabpanel"}
    = render :partial => "reports/google_map"


/------------------------------------------------------------------------------

- content_for :scripts do
  = javascript_include_tag "map"
  = javascript_include_tag "googlemap/map"
  = javascript_include_tag "image-compression"
  = javascript_include_tag "moment"
  = javascript_include_tag "bootstrap/datetimepicker"
  = javascript_include_tag "datepicker"
  = javascript_include_tag "jquery/countdown"

  :javascript
    $("a[data-toggle='tab']").on("shown.bs.tab", function(e) {
      var target = $(e.target).attr("href");
      if (target == "#map")
        google.maps.event.trigger(map, 'resize');
    })

    $(document).ready(function(){
      $(".report-filter label").on("click", function() {
        var reportType = $(this).find("input").data("type");
        if (reportType === "all")
          $(".report").show()
        else {
          $(".report").hide()
          $(".report." + reportType).show()
        }
      });
    })
