-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

.row
  .span4.offset1
    = render :partial => "shared/flashes"
    %h1 Focos marcados
  %br
  .span#report_buttons{:style => "font-size:20px;"}
    / %h1 Marcar um foco


.row
  .row.span10.offset1
    #report_buttons
      -# all reports
      = link_to 'Todos', nil, :id => 'all_reports_button', :class=>'bttn reports_feed_button',
        :onclick => 'filter_reports(event,"all")'

      -# open reports
      = link_to 'Em aberto', nil, :id => 'open_reports_button', :class=>'bttn reports_open_button',
        :onclick => 'filter_reports(event,"open")'

      -# eliminated reports
      = link_to 'Eliminados', nil, :id => 'eliminated_reports_button', :class=>'bttn reports_resolved_button',
        :onclick => 'filter_reports(event,"eliminated")'

      -# new report
      = link_to "Marcar um foco", nil, :id =>'make_report_button', :class => 'bttn',
        :onclick => 'display_new_report(event);'

      -# TODO @awdorsett - is a seperate button needed for verficador/visitante
        - if @current_user.role == "verificador" or @current_user.role == "visitante"                                     z
          = link_to "Marcar um foco", "#", :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#aaaaaa;color:white;font-weight:bold;height:21px;font-size:25px;pointer-events: none;"
        - else
          = link_to "Marcar um foco", neighborhood_reports_path(@neighborhood, :view => 'make_report'), :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#60BB50;color:white;font-weight:bold;height:21px;font-size:25px;"

  .row
    #report_display.span9.offset1
      -# TODO @awdorsett - all reports sorted by most recent?

      -# all reports
      #reports
        - @reports.each do |report|
          - if report.sms_incomplete?
            = render :partial => "reports/sms.html.haml", :object => report, as: 'report'
          - elsif report.status == :reported
            = render :partial => "reports/open.html.haml", :object => report, as: 'report'
          - elsif report.status == :eliminated
            = render :partial => "reports/resolved.html.haml", :object => report, as: 'report'

      #new_report
        = render :partial => 'make_report_form'
    = render :partial => "reports/map"



-# Javascript for map
-# TODO @awdorsett - markers don't place correctly on click and move when zooming in
:javascript
  // TODO @awdorsett - make initial points dynamic based on neighborhood
  var report_div;

  // used for click event to check if in new report tab
  var new_report_tab = false;

  // Declare different reports and their counts.
  //var markers            = #{@locations.to_json(:only => [:id, :latitude, :longitude], :methods => [:complete_address])}
  var markers            = #{@markers.to_json};
  var open_markers       = #{@open_markers.to_json};
  var eliminated_markers = #{@eliminated_markers.to_json};
  var counts             = #{@counts.to_json};
  var open_counts        = #{@open_counts.to_json};
  var eliminated_counts  = #{@eliminated_counts.to_json};


  // Load the map.
  require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator",
  "esri/layers/ArcGISTiledMapServiceLayer", "esri/layers/FeatureLayer",
  "esri/SpatialReference", "esri/geometry/Point", "esri/config",
  "esri/graphic", "esri/symbols/SimpleMarkerSymbol",
  "esri/symbols/SimpleLineSymbol", "esri/symbols/TextSymbol",
  "dojo/_base/Color", "esri/symbols/PictureMarkerSymbol",
  "esri/renderers/ClassBreaksRenderer", "esri/dijit/Popup",
  "esri/dijit/PopupTemplate", "dojo/dom-construct", "dojo/dom",
  "esri/InfoTemplate", "dojo/domReady!"], function(Map, Draw, Locator,
  Tiled, FeatureLayer, SpatialReference, Point, Geometry, Graphic,
  SimpleMarkerSymbol, SimpleLineSymbol, TextSymbol, Color, PictureMarkerSymbol,
  ClassBreaksRenderer, Popup, PopupTemplate, domConstruct, dom, InfoTemplate)
  {
    //-------------------------------------------------------------------------
    // Variable definitions
    //---------------------
    var popup             = new Popup({ highlight: false }, domConstruct.create("div"));
    var mapMareSpatialRef = new esri.SpatialReference({wkid: 29193});
    var customExtent      = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, mapMareSpatialRef);

    var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
    var point = new Point(680291.2151545063, 7470751.29586681, mapMareSpatialRef);
    var map = new Map("map", { center: point, zoom: 4, extent: customExtent, infoWindow:popup });

    var greyMarker   = new PictureMarkerSymbol("/assets/markers/grey_marker.png", 48, 48).setOffset(0, 0);
    var mixedMarker  = new PictureMarkerSymbol("/assets/markers/mixed_marker.png", 48, 48).setOffset(0, 0);
    var orangeMarker = new PictureMarkerSymbol("/assets/markers/orange_marker.png", 48, 48).setOffset(0, 0);

    var coordinates = [];

    // This top-level variable should be defined here since its existence is
    // checked in other functions.
    var blueGraphic;


    //-------------------------------------------------------------------------
    // Helpers
    //--------


    var updateMapWithLocationsAndMarker = function(locationsArray, marker)
    {
      map.graphics.clear();
      for (var i = 0; i < locationsArray.length; i++) {
        loc = locationsArray[i];

        console.log("iterating over eliminatedLoc: ")
        console.log(loc)
        addLocationToMapWithMarker(loc, map, marker);
      }
    };

    var addLocationToMapWithMarker = function(loc, map, marker)
    {
      if (loc && loc.latitude > 0 && loc.longitude > 0)
      {
        var mapPoint   = new Point(loc.latitude, loc.longitude);
        var mapGraphic = new Graphic(mapPoint, marker);
        map.graphics.add(mapGraphic);
      }
    };

    //-------------------------------------------------------------------------
    // Create the map
    //---------------
    map.on("update-start", showMapLoading );
    map.on("update-end",   hideMapLoading );
    map.addLayer(tiled);

    map.on("load", function() {
      map.infoWindow.resize(300, 200);
      updateMapWithLocationsAndMarker(markers, mixedMarker);
    })

    //-------------------------------------------------------------------------
    // Listeners
    //----------
    $("#go_to_mare").on("click", function() {
      var mapPoint = new Point(point.x, point.y, mapMareSpatialRef);
      map.centerAndZoom(mapPoint, 4);
    });

    // Report tab listeners
    //#- TODO @awdorsett - better way to handle new_report_tab?

    $('#make_report_button').on('click', function(){
      // clear map and enable adding a marker to map by clicking
      map.graphics.clear();
      new_report_tab = true;
    });

    $('#all_reports_button').on('click', function(){
      updateMapWithLocationsAndMarker(markers, mixedMarker)
      new_report_tab = false;
    })

    $('#open_reports_button').on('click', function(){
      updateMapWithLocationsAndMarker(open_markers, orangeMarker)
      new_report_tab = false;
    })

    $('#eliminated_reports_button').on('click', function(){
      updateMapWithLocationsAndMarker(eliminated_markers, greyMarker)
      new_report_tab = false;
    })


    // Listener for location attribute updates
    $("#report_location_attributes_street_number").on("change", function()
    {
      showMapLoading();

      var streetType   = $("#report_location_attributes_street_type").val();
      var streetName   = $("#report_location_attributes_street_name").val();
      var streetNumber = $("#report_location_attributes_street_number").val();

      $.ajax({
        url: "http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Geocode/DBO.Loc_composto/GeocodeServer/findAddressCandidates",
        type: "GET",
        dataType: "jsonp",
        data: {
          "f": "pjson",
          "Street": streetType + " " + streetName + " " + streetNumber
        },
        success: function(m) {
          var candidates = m.candidates;

          console.log(candidates)


          if (candidates.length == 0)
            $("#map-error-description").text("O endereço não pode ser encontrado");
          else
          {
            map.graphics.clear();

            latitude     = candidates[0].location.x
            longitude    = candidates[0].location.y
            var mapPoint = new Point(latitude, longitude)

            var mapGraphic = new Graphic(mapPoint, orangeMarker);
            map.graphics.add(mapGraphic);
            map.centerAndZoom(mapPoint, 4);

            // Update the form so we can pass along the ESRI results.
            $("#report_location_attributes_latitude").val(latitude);
            $("#report_location_attributes_latitude").val(longitude);
            $("#map-error-description").text("");
          }
        },
        error: function() { $("#map-error-description").text("O endereço não pode ser encontrado"); },
        complete: function() { hideMapLoading(); }
      });
    });

    $("#mark_map_btn").on("click", function()
    {
      $("#report_location_attributes_street_number").trigger("change")
    });


    // TODO: WTF is this?
    // $(".mapa").click(function() {
    //   var latitude  =  $(this).data("latitude");
    //   var longitude = $(this).data("longitude");
    //   var mapPoint  = new Point(latitude, longitude, mapMareSpatialRef)
    //   map.centerAndZoom(mapPoint, 8);
    //   report_div = $(this).parent().parent().parent();
    //   return false;
    // });

    // TODO: Why do we want to add a marker and update values when clicked?
    // if on new report tab add a marker when clicked and update values
    // map.on('click', function(e){
    //   if(new_report_tab){
    //     map.graphics.clear();
    //
    //     $("input#x").val(e.mapPoint.x);
    //     $("input#y").val(e.mapPoint.y);
    //
    //     var graphic = new Graphic(new Point(e.mapPoint.x, e.mapPoint.y), orangeMarker);
    //
    //     map.graphics.add(graphic);
    //   }
    // });

    // TODO: WTF is this?
    // map.on("extent-change", function(event) {
    //   if (report_div) {
    //     $("html, body").scrollTop($(report_div).offset().top - 20);
    //   }
    // });
  });

.row{style: "height:600px;"}
