-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => neighborhood_reports_url(@neighborhood)}
  %meta{:property => "og:title",       :content => "Dengue Torpedo"}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row
  .span12.offset1
    %h1{:style => "font-size: 36px;"}
      = I18n.t("reports_feed.title", :name => @neighborhood.name)
  .span4{:style => "float: right;"}
    %div{:style => "margin-top: 10px;"}
      = render :partial => "shared/social_media_buttons", :locals => {:twitter_content => I18n.t("facebook.description")}

.row
  .span#report_buttons{:style => "font-size:20px;"}

/------------------------------------------------------------------------------

.row
  .span10.offset1
    #report_buttons
      = link_to I18n.t("common_terms.all"), nil, :id => 'all_reports_button', :class=>'bttn reports_feed_button',
        :onclick => 'filter_reports(event,"all")'
      = link_to I18n.t("common_terms.open_reports"), nil, :id => 'open_reports_button', :class=>'bttn reports_open_button',
        :onclick => 'filter_reports(event,"open")'
      = link_to I18n.t("common_terms.eliminated_reports"), nil, :id => 'eliminated_reports_button', :class=>'bttn reports_resolved_button',
        :onclick => 'filter_reports(event,"eliminated")'

      - if @current_user
        = link_to I18n.t("common_terms.create_a_report"), nil, :id =>'make_report_button', :class => 'bttn', :onclick => 'display_new_report(event);'


/------------------------------------------------------------------------------

.row
  .span9.offset1
    #reports
      - @reports.each do |report|
        - next if report.sms_incomplete? && @current_user && @current_user != report.reporter

        .report{ :class => (report.eliminated? ? "eliminated" : "open") }
          = render :partial => "reports/metadata",   :locals => {:report => report}
          = render :partial => "reports/attributes", :locals => {:report => report}
          - unless report.sms_incomplete?
            = render :partial => "reports/topbar",   :locals => {:report => report}


    #new_report
      = render :partial => 'make_report_form'

  - if @neighborhood.name == Neighborhood::Names::MARE
    .span7#map_div
      = render :partial => "reports/map"
    = render :partial => "reports/arcgis_map"
  - else
    .span7#map_div
      = render :partial => "reports/osm_map"

    = javascript_include_tag "openstreetmap/OpenLayers"
    = javascript_include_tag "openstreetmap/proj4js-compressed"
    = javascript_include_tag "openstreetmap/map"


/------------------------------------------------------------------------------
/ Social media
/-------------

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{@facebook_locale}/all.js#xfbml=1&appId=1423593507909037&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
