-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

- content_for :head do
  %meta{:property => "og:url",         :content => neighborhood_reports_url(@neighborhood)}
  %meta{:property => "og:title",       :content => "Dengue Torpedo"}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{@facebook_locale}/all.js#xfbml=1&appId=1423593507909037&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


= render :partial => "shared/flashes"

.row
  .span12.offset1
    .row
      .span5
        %h1
          = I18n.t("reports_feed.title", :name => @neighborhood.name)
      .span4
        %div{:style => "margin-top: 7px;"}
          = render :partial => "shared/social_media_buttons", :locals => {:twitter_content => I18n.t("facebook.description")}

  %br
  .span#report_buttons{:style => "font-size:20px;"}

.row{:style => "margin-bottom: 200px;"}
  .row.span10.offset1
    #report_buttons
      = link_to I18n.t("common_terms.all"), nil, :id => 'all_reports_button', :class=>'bttn reports_feed_button',
        :onclick => 'filter_reports(event,"all")'
      = link_to I18n.t("common_terms.open_reports"), nil, :id => 'open_reports_button', :class=>'bttn reports_open_button',
        :onclick => 'filter_reports(event,"open")'
      = link_to I18n.t("common_terms.eliminated_reports"), nil, :id => 'eliminated_reports_button', :class=>'bttn reports_resolved_button',
        :onclick => 'filter_reports(event,"eliminated")'

      - if @current_user
        = link_to I18n.t("common_terms.create_a_report"), nil, :id =>'make_report_button', :class => 'bttn', :onclick => 'display_new_report(event);'


  .row
    #report_display.span9.offset1
      -# TODO @awdorsett - all reports sorted by most recent?
      -# all reports
      #reports
        - @reports.each do |report|
          - if report.sms_incomplete?
            = render :partial => "reports/sms.html.haml", :object => report, as: 'report'
          - elsif report.is_open?
            = render :partial => "reports/open.html.haml", :object => report, as: 'report'
          - elsif report.is_eliminated?
            = render :partial => "reports/resolved.html.haml", :object => report, as: 'report'

      #new_report
        = render :partial => 'make_report_form'

          
    - if @neighborhood.name == "Maré"
      = render :partial => "reports/map"
