-# TODO @awdorsett - on error return to appropriate tab
-# TODO @awdorsett - before making ajax call look to see if location already exists, need to either pass locations to view or call server first

/------------------------------------------------------------------------------

- content_for :head do
  %meta{:property => "og:url",         :content => @locale_specific_url}
  %meta{:property => "og:title",       :content => I18n.t("views.app")}
  %meta{:property => "og:description", :content => I18n.t("facebook.description")}
  = javascript_include_tag "map"

/------------------------------------------------------------------------------

= render :partial => "shared/flashes"

/------------------------------------------------------------------------------

.row
  .col-md-8.col-md-offset-2{:style => "text-align: center;"}
    %h1{:style => "font-size: 36px;"}
      = I18n.t("reports_feed.title", :name => @neighborhood.name)
    %p.description
      Esta página muestra reportes de criaderos potenciales o positivos en la
      comunidad. Los datos no incluyen lugares en los que no había criaderos.
      Para ver cómo es que los criiaderos reportados aquí afectan el riesgo de
      dengue y chikungunya, haga click
      = link_to "aquí.", neighborhood_path(@neighborhood)

    - if @current_user && @current_user.neighborhood == @neighborhood && @incomplete_reports.present?
      .alert.alert-danger.alert-dismissable{:style => "background-color: #e74c3c; border-radius: 0px;"}
        %h2{:style => "color: #ecf0f1; text-shadow: none; text-align: center;"}
          = I18n.t("views.reports.index.incomplete", :count => @incomplete_reports.count)
          = link_to I18n.t("views.reports.index.complete_now_button"), edit_neighborhood_report_path(@current_user.neighborhood, @incomplete_reports.first), :class => "btn btn-default"

/------------------------------------------------------------------------------

- if @current_user && @current_user.neighborhood == @neighborhood
  .row{:style => "margin-bottom: 20px;"}
    .col-md-3.col-md-offset-2{:style => "margin-top: 20px;"}
      = link_to new_neighborhood_report_path(@neighborhood), :class => "btn btn-success btn-lg" do
        %i.fa.fa-map-marker
        = I18n.t("common_terms.create_a_report")

    .col-md-3{:style => "margin-top: 20px;"}
      - if @neighborhood.spanish?
        = link_to new_neighborhood_csv_report_path(@neighborhood), :class => "btn btn-success btn-lg" do
          %i.fa.fa-file
          = I18n.t("views.buttons.upload_csv")

    .col-md-3{:style => "margin-top: 20px;"}
      - if @neighborhood.spanish?
        = link_to neighborhood_csv_reports_path(@neighborhood), :class => "btn btn-info btn-lg" do
          %i.fa.fa-file
          = I18n.t("views.reports.index.view_csv")


/------------------------------------------------------------------------------

.row{:style => "margin-top: 40px; margin-bottom: 40px;"}
  .col-md-4.col-md-offset-4
    %ul.nav.nav-pills.nav-justified.denguechat-tab-toggle
      %li.active
        = link_to "#report", :data => {:toggle => "tab"} do
          %i.fa.fa-map-marker
          &nbsp;
          = I18n.t("activerecord.models.report", :count => 2)
      %li
        = link_to "#map", :data => {:toggle => "tab"} do
          %i.fa.fa-globe
          &nbsp;
          = I18n.t("common_terms.map")

/------------------------------------------------------------------------------

.tab-content
  #report.tab-pane.active{:role => "tabpanel"}
    = render :partial => "reports/sites"
  #map.tab-pane{:role => "tabpanel"}
    = render :partial => "reports/google_map"



/------------------------------------------------------------------------------
/ Social media
/-------------

#fb-root

- content_for :scripts do
  = javascript_include_tag "googlemap/map"
  = javascript_include_tag "image-compression"
  = javascript_include_tag "moment"
  = javascript_include_tag "bootstrap/datetimepicker"
  = javascript_include_tag "datepicker"

  :javascript

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/#{@facebook_locale}/all.js#xfbml=1&appId=1423593507909037&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    $(document).ready(function(){
      //show all reports on start
      $('#new_report').css('display','none');

      // keep the map on the page when scrolling
      // $(window).scroll(function() {
      //   var scrollAmount = $(window).scrollTop();
      //   if (scrollAmount > 200) {
      //       $("#map_div").css("margin-top", scrollAmount - 263);
      //   } else {
      //       $("#map_div").css("margin-top", 0);
      //   }
      // });


    })
