.offset1
  %h1 Administrar tipos de focos e métodos de eliminação
  %br

  %input{type: "text", placeholder: "Novo tipo", id: "type_name"}
  %button{type: "submit", id: "type_submit"} Enviar
  %br
  %table.span14{border: 1, cellpadding: 5, id: "whole_table"}
    %colgroup
      %col{width: "70%"}
      %col{width: "10%"}
      %col{width: "10%"}
      %col{width: "10%"}
    - @types.each do |type|
      %tr
        %td= type.name
        %td
        %td 
          = link_to "Editar", "", id: "edit_type_#{type.id}", class: "edit_type", data: { id: type.id }
        %td
          = link_to "Deletar", "", id: "delete_type_#{type.id}", class: "delete_type", data: { id: type.id }
          = link_to "Cancelar", "", id: "cancel_type_#{type.id}", class: "cancel_type", data: {id: type.id }, style: "display:none;"
      - type.elimination_methods.each do |method|
        %tr
          %td{style: "padding-left:40px;"}= method.method
          %td= method.points
          %td
            = link_to "Editar", "", class: "edit_method", id: "edit_method_#{method.id}", data: { id: method.id }
          %td 
            = link_to "Deletar", "", class: "delete_method type_#{type.id}", id: "delete_method_#{method.id}", data: { id: method.id }
            = link_to "Cancelar", "", class: "cancel_method", id: "cancel_method_#{method.id}", style: "display:none;", data: { id: method.id }
      %tr
        %td{style: "padding-left:40px;"}
          %input{type: "text", style: "width:500px;margin-bottom:0px;", placeholder: "Novo método", id: "new_method_name_#{type.id}"}
        %td
          %input{type: "text", style: "margin-bottom:0px;width:100px;", placeholder: "pontos", id: "new_method_points_#{type.id}"}
        %td 
          = link_to "Salvar", "", class: "new_method type_#{type.id}", id: "new_method_#{type.id}", data: { id: type.id }
        %td

  -# TODO remove JS from view and put into file'

  :javascript
    $("#type_submit").click(function() {
      var name = $("#type_name").val();
      var url = "/elimination_types";
      $.ajax({
        url: url,
        method: "POST",
        dataType: "script",
        data: "name=" + name
      });
    });

    $(".new_method").click(function() {
      var name = $($($(this).parent().parent().children()[0]).children()[0]).val();
      var points = $($($(this).parent().parent().children()[1]).children()[0]).val();
      var current_id = "#" + $(this).attr("id");
      $.ajax({
        url: "/elimination_methods",
        method: "POST",
        dataType: "script",
        data: "name=" + name + "&points=" + points + "&current_id=" + current_id + "&type_id=" + $(this).data("id")
      });

      return false;
    });
    $(".edit_type").click(function() {
      var name = $($(this).parent().parent().children()[0]);
      if ($(this).html() == "Editar") {
        $(this).html("Salvar");
        var name = $($(this).parent().parent().children()[0]);
        $(name).replaceWith('<input style="width:500px;margin-bottom:0px;" type="text" value="' + $(name).html() + '">');
        $("#delete_type_" + $(this).data("id")).hide();
        $("#cancel_type_" + $(this).data("id")).show();
      } else {
        var url = "/elimination_types/" + $(this).data("id");
        $.ajax({
          url: url,
          method: "PUT",
          dataType: "script",
          data: "name=" + $(name).val()
        });
      }
      return false;
    });

    $(".delete_type").click(function() {
      var url = "/elimination_types/" + $(this).data("id");
      $.ajax({
        url: url,
        method: "DELETE",
        dataType: "script"
      });
      return false;
    });

    $(".cancel_type").click(function() {
      $.ajax({
        url: "/elimination_types/" + $(this).data("id"),
        method: "GET",
        dataType: "script"        
      });
      return false;   
    });

    $(".edit_method").click(function() {
      var name = $($(this).parent().parent().children()[0]);
      var points = $($($(this).parent().parent().children()[1]).children()[0]);
      if ($(this).html() == "Editar") {
        $(this).html("Salvar");
        $("#delete_method_" + $(this).data("id")).hide();
        $("#cancel_method_" + $(this).data("id")).show();
        $(name).replaceWith('<input style="width:500px;margin-left:40px;margin-bottom:0px;" type="text" value="' + $(name).html() + '">');
        var pontos = $($(this).parent().parent().children()[1]);
        $(pontos).replaceWith('<td><input style="width:100px; margin-bottom:0px;" type="text" value="' + $(pontos).html() + '"></td>');
      } else {
        var url = "/elimination_methods/" + $(this).data("id");
        $.ajax({
          url: url,
          method: "PUT",
          dataType: "script",
          data: "name=" + $(name).val() + "&points=" + $(points).val()
        }); 
      }
      return false;
    });

    $(".cancel_method").click(function() {

      $.ajax({
        url: "/elimination_methods/" + $(this).data("id"),
        method: "GET",
        dataType: "script"        
      });
      return false;   
    });

    $(".delete_method").click(function() {
      var url = "/elimination_methods/" + $(this).data("id");
      $.ajax({
        url: url,
        method: "DELETE",
        dataType: "script"
      });
      return false;
    });

