/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------
.container
  %h1.light-font
    Confirmar un reporte

  .well
    - update_url = verify_neighborhood_report_path(@neighborhood, @report)

    = form_for [@neighborhood, @report], :url => update_url, :html => {:method => "PUT", :autocomplete => "off", :multipart => true, :id => "new_report"} do |f|
      = render :partial => "reports/clean_form", :locals => {:f => f, :disable => true, :disable_all => false, :allow_assigning_user => true}

      /------------------------------------------------------------------------------
      %hr.muted.wide
      = render :partial => "reports/before_photo_form", :locals => {:f => f}

      .row
        .col-md-6
          = link_to I18n.t("views.buttons.delete"), api_v0_report_path(@report), "id" => "delete-report-link", :class => "btn btn-danger btn-lg btn-block"
        .col-md-6
          = button_tag :type => "submit", :class => "btn btn-success btn-lg btn-block submit-button pull-right" do
            %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
            = I18n.t("views.buttons.confirm")


- content_for :scripts do
  :javascript
    $("#delete-report-link").on("click", function(event) {
      event.preventDefault();

      var response = window.confirm("¿Estas seguro?");
      if (response == false)
        return;

      $.ajax({
        url: event.currentTarget.href,
        type: "DELETE",
        success : function(data){
          window.alert("Éxito!");
          window.location.href = data.redirect_path;
        },
        error: function(data) {
          window.alert("Something went wrong! Please try again.");
        }
      })

      return false;
    })
