/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------
.row
  .col-md-6.col-md-offset-3
    .well
      - update_url = verify_neighborhood_report_path(@neighborhood, @report)

      = form_for [@neighborhood, @report], :url => update_url, :html => {:method => "PUT", :autocomplete => "off", :multipart => true, :id => "new_report"} do |f|
        = render :partial => "reports/clean_form", :locals => {:f => f, :disable => true, :disable_all => false}

        /------------------------------------------------------------------------------

        = render :partial => "reports/before_photo_form", :locals => {:f => f}



        .row
          .col-md-6
            = link_to "Deletar", api_v0_report_path(@report), data: { :confirm => I18n.t("views.alerts.confirm") }, "id" => "delete-report-link", :class => "btn btn-danger btn-lg btn-block"
          .col-md-6
            = button_tag :type => "submit", :class => "btn btn-success btn-lg btn-block submit-button pull-right" do
              %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
              = @report.new_record? ? I18n.t("views.buttons.create") : I18n.t("views.buttons.update")


  - content_for :scripts do
    = javascript_include_tag "image-compression-verify"

    :javascript
      $("#delete-report-link").on("click", function(event) {
        event.preventDefault();
        window.test = event;

        $.ajax({
          url: event.currentTarget.href,
          type: "DELETE",
          success : function(data){
            window.alert("Success!");
            console.log(data)
            window.location.href = data.redirect_path;
          },
          error: function(data) {
            window.alert("Something went wrong! Please try again.");
          }
        })

        return false;
      })
