
.row
  #dashboard_bar
    .dashboard-item{:style => "margin-left: 160px;"}
      - header_styling = current_page?(:controller => "users", :action => "show") ? "font-weight:bold;" : ""
      = link_to user_path(@current_user), :style => header_styling do
        %i.fa.fa-user
        = I18n.t("dashboard.my_profile")


    -# .dashboard-item
    -#   - header_styling = current_page?(:controller => "neighborhoods", :action => "show") ? "font-weight:bold;" : ""
    -#   = link_to neighborhood_path(@current_user.neighborhood), :style => "#{header_styling}" do
    -#     %i.fa.fa-users.fa-2
    -#     = I18n.t("dashboard.my_community")


    .dashboard-item
      - header_styling = current_page?(:controller => "cities", :action => "show") ? "font-weight:bold;" : ""
      = link_to city_path(@current_user.neighborhood.city), :style => header_styling do
        %i.fa.fa-users.fa-2
        = I18n.t("activerecord.models.neighborhood", :count => 2)


    .dashboard-item
      - header_styling = current_page?(:controller => "teams", :action => "index") ? "font-weight:bold;" : ""
      = link_to teams_path, :style => header_styling do
        %i.fa.fa-futbol-o
        = I18n.t("activerecord.models.team", :count => 3)


    .dashboard-item
      - header_styling = current_page?(:controller => "reports", :action => "index") ? "font-weight:bold;" : ""
      = link_to neighborhood_reports_path(@current_user.neighborhood), :style => header_styling do
        %i.fa.fa-map-marker
        = I18n.t("dashboard.reports")
