%nav.navbar.navbar-default#header
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#header-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (@current_user.present? ? user_path(@current_user) : root_path), :class => "navbar-brand" do
        = logo_image

    #header-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.user-navigation
        %li
          %a
        -# %li.user-navigation{:class => "#{request.path == city_path(@current_user.city) ? 'active' : ''}"}
        -#   = link_to city_path(@current_user.city), :style => header_styling do
        -#     %i.fa.fa-globe
        -#     = I18n.t("dashboard.my_city")
        %li.dropdown.text-center.user-navigation{:class => "#{request.params["controller"] == "cities" ? 'active' : ''}"}
          = link_to city_path(@current_user.city), :data => {:toggle=>"dropdown"} do
            %i.fa.fa-globe
            = I18n.t("dashboard.my_city")
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              = link_to city_path(@current_user.city) do
                = I18n.t("dashboard.my_city")
            %li.divider
            - @all_cities.each do |city|
              %li
                = link_to city_path(city) do
                  = city.name


        %li
          %a
        %li.dropdown.text-center.user-navigation{:class => "#{request.params["controller"] == "neighborhoods" ? 'active' : ''}"}
          = link_to neighborhood_path(@current_user.neighborhood), :data => {:toggle=>"dropdown"} do
            %i.fa.fa-globe
            = I18n.t("dashboard.my_community")
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              = link_to neighborhood_path(@current_user.neighborhood) do
                = I18n.t("dashboard.my_community")
            %li.divider
            - @all_neighborhoods.each do |n|
              %li
                = link_to neighborhood_path(n) do
                  = n.name
        %li
          %a
        %li.user-navigation
          - header_styling = request.path == teams_path ? "font-weight:bold; text-align: center;" : ""
          = link_to teams_path, :style => header_styling do
            %i.fa.fa-futbol-o
            = I18n.t("activerecord.models.team", :count => 3)
        %li
          %a
        %li.user-navigation
          - header_styling = request.path == neighborhood_reports_path(@current_user.neighborhood) ? "font-weight:bold; text-align: center;" : ""
          = link_to neighborhood_reports_path(@current_user.neighborhood), :style => header_styling do
            %i.fa.fa-map-marker
            = I18n.t("dashboard.reports")
        %li
          %a
        %li.user-navigation
          - header_styling = request.path == csv_reports_path ? "font-weight:bold; text-align: center;" : ""
          = link_to csv_reports_path, :style => header_styling do
            %i.fa.fa-table
            CSV
        - if @selected_membership.manager?
          %li.user-navigation{:class => "#{request.params["controller"] == "organizations" ? 'active' : ''}"}
            = link_to settings_organizations_path do
              %i.fa.fa-cog
              = I18n.t("dashboard.organization.name")
          %li.user-navigation{:class => "#{request.params["controller"].include?("dashboard") ? 'active' : ''}"}
            = link_to dashboard_visits_path do
              %i.fa.fa-line-chart.fa-2
              = I18n.t("views.denguechat_analytics")


      %ul.nav.navbar-nav.navbar-right
        - if @notifications.present?
          %li.user-navigation.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}}
              %span.label.label-danger
                = @notifications.count
            %ul.dropdown-menu
              - @notifications.each do |n|
                %li
                  - if n.notification_type == "Post" && post = n.post
                    = link_to post_path(post) do
                      Alguien te mencionado en un chat!
                  - elsif n.notification_type == "Comment" && comment = n.comment
                    - if comment.commentable_type == "Post"
                      = link_to post_path( Post.find(comment.commentable_id) ) do
                        Alguien te mencionado en un comentario!


        %li.dropdown.text-center
          = image_tag(asset_path(@current_user.picture), :class => "img-circle dropdown-toggle", :style => "height: 50px; width: 50px;", :data => {:toggle=>"dropdown"})
          %ul.list-group.dropdown-menu{"style" => "right: 50%;"}
            %li.list-group-item
              = link_to user_path(@current_user) do
                -# %i.fa.fa-user.fa-2
                = I18n.t("dashboard.my_profile")
            -# %li.list-group-item
            %li.list-group-item
              = link_to edit_user_path(@current_user) do
                -# %i.fa.fa-gear.fa-2
                = I18n.t("common_terms.configuration")

            %li.list-group-item.disabled
              %a Organizaciones

            - @current_user.memberships.each do |m|
              %li.list-group-item
                = link_to switch_users_path(:membership_id => m.id) do
                  = m.organization.name
                  - if m.active
                    %span.badge{:style => "background-color: #468847;"}
                      %i.fa.fa-check



            %li.list-group-item
              = link_to logout_path do
                -# %i.fa.fa-2.fa-sign-out
                = I18n.t("login_form.logout")




  - if @current_user && @current_user.selected_membership.try(:manager?)
    - if request.params["controller"] == "organizations"
      %nav.navbar.navbar-default#subheader
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#subheader-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #subheader-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.user-navigation
            %li.user-navigation{:class => "#{settings_organizations_path == request.path ? 'active' : ''}"}
              = link_to settings_organizations_path do
                = I18n.t("dashboard.organization.sections.general")
            %li.user-navigation{:class => "#{users_organizations_path == request.path ? 'active' : ''}"}
              = link_to users_organizations_path do
                = I18n.t("dashboard.organization.sections.users")
            %li.user-navigation{:class => "#{teams_organizations_path == request.path ? 'active' : ''}"}
              = link_to teams_organizations_path do
                = I18n.t("dashboard.organization.sections.teams")
            %li.user-navigation{:class => "#{assignments_organizations_path == request.path ? 'active' : ''}"}
              = link_to assignments_organizations_path do
                = I18n.t("dashboard.organization.sections.assignments")
            %li.user-navigation{:class => "#{territorio_organizations_path == request.path ? 'active' : ''}"}
              = link_to territorio_organizations_path do
                = I18n.t("dashboard.organization.sections.territorio")

  - if @current_user && @current_user.selected_membership.try(:admin?)
    - if request.params["controller"].include?("dashboard")
      %nav.navbar.navbar-default#subheader

        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#header-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #subheader-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.user-navigation
            %li.user-navigation{:class => "#{dashboard_visits_path == request.path ? 'active' : ''}"}
              = link_to dashboard_visits_path do
                %i.fa.fa-clock-o.fa-2
                = I18n.t("views.dashboard.navigation.visits")
            %li.user-navigation{:class => "#{dashboard_locations_path == request.path ? 'active' : ''}"}
              = link_to dashboard_locations_path do
                %i.fa.fa-globe
                = I18n.t("views.dashboard.navigation.locations")
            %li.user-navigation{:class => "#{dashboard_settings_path == request.path ? 'active' : ''}"}
              = link_to dashboard_settings_path do
                %i.fa.fa-globe
                = I18n.t("views.dashboard.navigation.settings")
            -# %li.user-navigation{:class => "#{heatmap_dashboard_graphs_path == request.path ? 'active' : ''}"}
            -#   = link_to heatmap_dashboard_graphs_path do
            -#     %i.fa.fa-map-marker
            -#     = I18n.t("views.dashboard.navigation.heatmap")
            -# %li.user-navigation{:class => "#{dashboard_sync_index_path == request.path ? 'active' : ''}"}
            -#   = link_to dashboard_sync_index_path do
            -#     %i.fa.fa-refresh
            -#     = I18n.t("views.dashboard.navigation.sync")




  - if @breadcrumbs.present?
    %ol.breadcrumb{:style => "margin-bottom: 0px;"}
      - @breadcrumbs.each do |bc|
        %li{:class => "#{request.path == bc[:path] ? 'active' : ''}"}
          = link_to bc[:name], bc[:path]
