/*---------------------------------------------------------------------------*/

.row#dashboard_bar
  .col-md-2.col-md-offset-1.dashboard-item
    - header_styling = current_page?(:controller => "users", :action => "show") ? "font-weight:bold;" : ""
    = link_to user_path(@current_user), :style => header_styling do
      %i.fa.fa-user
      = I18n.t("dashboard.my_profile")

  .col-md-2.dashboard-item
    - header_styling = current_page?(:controller => "cities", :action => "show") ? "font-weight:bold; text-align: center;" : ""
    = link_to city_path(@current_user.neighborhood.city), :style => header_styling do
      %i.fa.fa-users.fa-2
      = I18n.t("activerecord.models.neighborhood", :count => 2)

  .col-md-2.dashboard-item
    - header_styling = current_page?(:controller => "teams", :action => "index") ? "font-weight:bold; text-align: center;" : ""
    = link_to teams_path, :style => header_styling do
      %i.fa.fa-futbol-o
      = I18n.t("activerecord.models.team", :count => 3)

  .col-md-2.dashboard-item
    - header_styling = current_page?(:controller => "reports", :action => "index") ? "font-weight:bold; text-align: center;" : ""
    = link_to neighborhood_reports_path(@current_user.neighborhood), :style => header_styling do
      %i.fa.fa-map-marker
      = I18n.t("dashboard.reports")

  .col-md-2.dashboard-item
    - header_styling = current_page?(:controller => "conversations", :action => "index") ? "font-weight:bold; text-align: center;" : ""
    - if @message_notifications.blank?
      = link_to user_conversations_path(@current_user), :style => header_styling do
        %i.fa.fa-envelope
        = I18n.t("activerecord.models.conversation", :count => 2)
    - else
      %div.badge.badge-important{:style => "width: 25px; position: relative; top: 10; left: 25"}
        = @message_notifications.count
      = link_to user_conversations_path(@current_user), :style => header_styling do
        %i.fa.fa-envelope
        = I18n.t("activerecord.models.conversation", :count => 2)


  .col-md-1.dashboard-item.pull-right
    = link_to logout_path do
      %i.fa.fa-2.fa-sign-out
      = I18n.t("login_form.logout")
