.row{:style => "background-color: #408bca; height: 75px;"}

  -# Logo
  - if @current_user
    = link_to image_tag("home_images/logo.png", :id => "logo", :style=> "z-index:3;"), user_path(@current_user)
  - else
    = link_to image_tag("home_images/logo.png", :id => "logo", :style=> "z-index:3;"), root_path


  -# Education dropdown
  .span3.offset3
    .main_nav_button
      .dropdown-toggle{ :style => "margin-top: 10px;", :data => {:toggle=>"dropdown"} }
        %a{:href => "#"}
          %h1{style: 'color:black;'}
            = I18n.t("home_navigation.education.title")
            %i.fa.fa-caret-down
          %h3
            = I18n.t("home_navigation.education.description")

      %ul.dropdown-menu
        - if I18n.locale.to_s == "es"
          = render :partial => "home/education_dropdown_es"
        - else
          = render :partial => "home/education_dropdown_pt"



  -# How-to dropdown
  .span3
    .main_nav_button
      .dropdown-toggle{ :style => "margin-top: 10px;", :data => {:toggle=>"dropdown"} }
        %a{:href => "#"}
          %h1{style: 'color:black;'}
            = I18n.t("home_navigation.howto.title")
            %i.fa.fa-caret-down
          %h3{style: "margin-left:-5px;"}
            = I18n.t("home_navigation.howto.description")

      %ul.dropdown-menu
        - DocumentationSection.order("order_id ASC").each do |section|
          %li
            = link_to section.title, howto_path + "##{section.html_id_tag}"

  .span2
    .main_nav_button
      %div{:style => "margin-top: 10px;"}
        = link_to prizes_path do
          %h1{style: 'color:black;'}
            = I18n.t("home_navigation.prizes.title")
          %h3
            = I18n.t("home_navigation.prizes.description")

  - if @current_user.nil?
    -# .span1
    -#   = render :partial => "home/flags"
    .span6.pull-right
      #login

        = form_tag(session_path, :style => "margin-bottom: 0px;") do
          %ul
            %li= text_field_tag :username, nil, :placeholder => I18n.t("activerecord.attributes.user.username")
            %li= password_field_tag :password, nil, :placeholder => I18n.t("activerecord.attributes.user.password")
            %li= submit_tag "Entrar", :class => "btn btn-success"
          = link_to I18n.t("login_form.forgot_password"), new_password_reset_path, :id => "forgot_password", :class => "logout_button"


  - else
    -# .span2
    -#   = render :partial => "home/flags"
    .span7.pull-right
      #logged_in{:style => "float:right;"}
        %h3{:style => "display: inline-block;"}
          = I18n.t("login_form.greeting", :name => @current_user.display_name )

        = link_to logout_path, :class => "logout_button", :style => "font-size: 17px; line-height: 30px;" do
          %i.fa.fa-2.fa-sign-out
          = I18n.t("login_form.logout")
