%html

  /-----------------------------------------------------------------------------

  %head
    %title
      = I18n.t("views.app")
    = render :partial => "shared/head"
    
    = analytics_init if GoogleAnalytics.valid_tracker?

  /-----------------------------------------------------------------------------

  %body
    - if @current_user.present?
      = render "layouts/dashboard"
    - else
      = render "layouts/home_nav"


    #container
      - if !current_page?(root_url)
        .push_down
      = yield

    = render :partial => "shared/footer"
