%html
  /-----------------------------------------------------------------------------

  %head
    %title Dengue Torpedo
    = stylesheet_link_tag "application"
    %link{rel: "stylesheet", href: "http://js.arcgis.com/3.6/js/esri/css/esri.css"}
    = javascript_include_tag "application"
    = javascript_include_tag "esri-leaflet"
    %script{src: "http://js.arcgis.com/3.6/init.js"}
    = csrf_meta_tags

    / Google Analytics tracking
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48761911-1', 'denguetorpedo.com');
        ga('send', 'pageview');

    = yield :head

  /-----------------------------------------------------------------------------

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #container{style: "overflow-y: auto;overflow:hidden;"}
      = render "layouts/home_nav"
      #white_spacer
      -if !@current_user.nil?
        = render "layouts/dashboard"

      - if !current_page?(root_url)
        .push_down

      = render :partial => "shared/flashes"

      = yield

  /-----------------------------------------------------------------------------

  #footer
    %span
      = link_to "Manual de Conduta", manual_path
      |
      =link_to "Perguntas frequentes", faq_path
      |
      =link_to "Contato DT", new_feedback_path
      |
      =link_to "Sobre o Dengue Torpedo", about_path
    %span
      2014 © Regents of the University of California
      |
      =link_to "Criado pelo Social Apps Lab, UC Berkeley", credit_path
  = yield :scripts
