%html
  /-----------------------------------------------------------------------------

  %head
    /--------------------------------------------------------------------------
    / SEO-related optimizations
    /--------------------------
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "Content-Type",    :content => "text/html" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "description", :content => "Use o seu celular para eliminar mosquitos – participe do Dengue Torpedo e ganhe prêmios!"}
    %title Dengue Torpedo

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    /--------------------------------------------------------------------------
    / Google Analytics
    /-----------------
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-48761911-1', 'denguetorpedo.com');
        ga('send', 'pageview');

    /--------------------------------------------------------------------------
    / Custom head definitions
    /------------------------
    = yield :head if content_for(:head)

    /--------------------------------------------------------------------------
    / OpenGraph metadata
    /-------------------
    %meta{:property => "og:image", :content => "https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-ash3/t39.2081-0/851537_1423643271237394_463588204_n.png"}

    /--------------------------------------------------------------------------
    / FontAwesome fonts
    /------------------
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}

    = csrf_meta_tags

  /-----------------------------------------------------------------------------

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #container{style: "overflow-y: auto;overflow:hidden;"}
      = render "layouts/home_nav"
      -# #white_spacer
      -if !@current_user.nil?
        = render "layouts/dashboard"

      - if !current_page?(root_url)
        .push_down

      = yield

  /-----------------------------------------------------------------------------

  #footer
    %span
      = link_to "Manual de Conduta", manual_path
      |
      =link_to "Perguntas frequentes", faq_path
      |
      =link_to "Contato DT", new_feedback_path
      |
      =link_to "Sobre o Dengue Torpedo", about_path
    %span
      2014 © Regents of the University of California
      |
      =link_to "Criado pelo Social Apps Lab, UC Berkeley", credit_path
  = yield :scripts
