!!!
%html{:itemscope => "", :itemtype => "http://schema.org/Product", :lang => "en" }
  %head
    %title
      DengueChat | Dashboard
    = render :partial => "shared/head"
   

  %body
    #container
      = render "layouts/dashboard_analytics"

      .push_down
      = yield :dashboard_content

  = render :partial => "shared/footer"


  / Yield page-specific scripts.
  = yield :scripts
  = stylesheet_link_tag "dashboard"
